{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/objects/alta/crafting/constructor/ui/body2.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  ANVIL",
      "subtitle" : "  Make sharp things.",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurnace.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 43],
      "caption" : "Forge"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [271, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 24]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 23],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [56, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },



    "lblTab1" : {
      "type" : "image", "position" : [3, 222], "zlevel" : 3,
      "file" : "/objects/alta/basic/energy_source/icon.png"
    },
    "lblTab2" : {
      "type" : "image", "position" : [18, 222], "zlevel" : 3,
      "file" : "/objects/alta/lab/capsules/ct_capsule_purple_icon.png"
    },
    "lblTab3" : {
      "type" : "image", "position" : [3, 238], "zlevel" : 3,
      "file" : "/objects/alta/city/pyramid/icon.png"
    },
    "lblTab4" : {
      "type" : "image", "position" : [18, 238], "zlevel" : 3,
      "file" : "/objects/alta/lab/lifechamber/icon.png"
    },



    "lblTab5" : {
      "type" : "image", "position" : [34, 222], "zlevel" : 3,
      "file" : "/objects/biome/alterash/koywa/flowers/alto/icon.png"
    },
    "lblTab6" : {
      "type" : "image", "position" : [34, 238], "zlevel" : 3,
      "file" : "/objects/biome/alterash/ayaka/ct_aya_pile/icon.png"
    },
    "lblTab7" : {
      "type" : "image", "position" : [49, 238], "zlevel" : 3,
      "file" : "/objects/farmables/gil/icon.png"
    },
    "lblTab8" : {
      "type" : "image", "position" : [49, 222], "zlevel" : 3,
      "file" : "/objects/biome/alterash/enchanted/ct_enchanted_chest/icon.png"
    },

    "lblTab9" : {
      "type" : "image", "position" : [65, 222], "zlevel" : 3,
      "file" : "/items/active/unsorted/alta/loot/ct_eva_loot.png"
    },
    "lblTab10" : {
      "type" : "image", "position" : [65, 238], "zlevel" : 3,
      "file" : "/objects/biome/alterash/yaara/ct_yaara_heart/icon.png"
    },
    "lblTab11" : {
      "type" : "image", "position" : [80, 238], "zlevel" : 3,
      "file" : "/objects/biome/alterash/warped/ct_nivera_thorns/icon.png"
    },
    "lblTab12" : {
      "type" : "image", "position" : [80, 222], "zlevel" : 3,
      "file" : "/objects/biome/stardust/ct_stardust_crystal/icon.png"
    },



    "lblTab13" : {
      "type" : "image", "position" : [96, 222], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/phospholion/ct_phospholion_formation/icon.png"
    },
    "lblTab14" : {
      "type" : "image", "position" : [96, 238], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/ionic/ct_frozen_energy_ball/icon.png"
    },
    "lblTab15" : {
      "type" : "image", "position" : [111, 238], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/isoslime/ct_isoslime_spawner/icon.png"
    },
    "lblTab16" : {
      "type" : "image", "position" : [111, 222], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/bionid/ct_bulbonid/icon.png"
    },

    "lblTab17" : {
      "type" : "image", "position" : [127, 222], "zlevel" : 3,
      "file" : "/objects/biome/hive/hivechest/hivechesticon.png"
    },
    "lblTab18" : {
      "type" : "image", "position" : [127, 238], "zlevel" : 3,
      "file" : "/objects/biome/crystalline/crystalchest/crystalchesticon.png"
    },
    "lblTab19" : {
      "type" : "image", "position" : [142, 238], "zlevel" : 3,
      "file" : "/items/generic/crafting/biosample.png"
    },
    "lblTab20" : {
      "type" : "image", "position" : [142, 222], "zlevel" : 3,
      "file" : "/items/active/unsorted/alta/loot/ct_ion_core_loot.png"
    },



    "lblTab21" : {
      "type" : "image", "position" : [158, 222], "zlevel" : 3,
      "file" : "/objects/biome/enterash/rocks/ct_enterite_sample/icon.png"
    },
    "lblTab22" : {
      "type" : "image", "position" : [158, 238], "zlevel" : 3,
      "file" : "/interface/statuses/x.png"
    },
    "lblTab23" : {
      "type" : "image", "position" : [173, 222], "zlevel" : 3,
      "file" : "/interface/statuses/x.png"
    },
    "lblTab24" : {
      "type" : "image", "position" : [173, 238], "zlevel" : 3,
      "file" : "/interface/statuses/x.png"
    },



    "lblTab0" : {
      "type" : "image", "position" : [190, 230], "zlevel" : 3,
      "file" : "/objects/alta/crafting/constructor/icon6.png"
    },



    "lblTab25" : {
      "type" : "image", "position" : [173, 205], "zlevel" : 3,
      "file" : "/interface/statuses/oldpoison.png"
    },
    "lblTab26" : {
      "type" : "image", "position" : [173, 188], "zlevel" : 3,
      "file" : "/interface/statuses/electric.png"
    },
    "lblTab27" : {
      "type" : "image", "position" : [173, 171], "zlevel" : 3,
      "file" : "/interface/statuses/jumpboost20.png"
    },



    "lblTab28" : {
      "type" : "image", "position" : [173, 109], "zlevel" : 3,
      "file" : "/interface/bookmarks/icons/ct_alterash_planet.png"
    },
    "lblTab29" : {
      "type" : "image", "position" : [173, 92], "zlevel" : 3,
      "file" : "/interface/bookmarks/icons/ct_alterash_prime_planet.png"
    },
    "lblTab30" : {
      "type" : "image", "position" : [173, 75], "zlevel" : 3,
      "file" : "/interface/bookmarks/icons/ct_enterash_planet.png"
    },
    "lblTab31" : {
      "type" : "image", "position" : [173, 58], "zlevel" : 3,
      "file" : "/interface/bookmarks/icons/ct_enterash_prime_planet.png"
    },

    "lblTab32" : {
      "type" : "image", "position" : [175, 38], "zlevel" : 3,
      "file" : "/items/generic/crafting/ct_alta_energy_cell.png"
    },



    "lblTab33" : {
      "type" : "image", "position" : [3, 55], "zlevel" : 3,
      "file" : "/interface/statuses/x.png"
    },
    "lblTab34" : {
      "type" : "image", "position" : [18, 55], "zlevel" : 3,
      "file" : "/interface/statuses/x.png"
    },
    "lblTab35" : {
      "type" : "image", "position" : [33, 55], "zlevel" : 3,
      "file" : "/objects/tiered/tier3bed/tier3bedIcon.png"
    },



    "lblTab36" : {
      "type" : "image", "position" : [54, 55], "zlevel" : 3,
      "file" : "/items/active/unsorted/alta/loot/ct_elin_loot.png"
    },
    "lblTab37" : {
      "type" : "image", "position" : [69, 55], "zlevel" : 3,
      "file" : "/objects/alta/eds/haulters/ct_eds_haulter_marker/icon.png"
    },
    "lblTab38" : {
      "type" : "image", "position" : [84, 55], "zlevel" : 3,
      "file" : "/items/active/unsorted/alta/loot/ct_faradea_loot.png"
    },



    "lblTab39" : {
      "type" : "image", "position" : [105, 55], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/gheatsyn/decorative/ct_gheatsyn_sample/icon.png"
    },
    "lblTab40" : {
      "type" : "image", "position" : [120, 55], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/bishyn/decorative/ct_bishyn_sample/icon.png"
    },
    "lblTab41" : {
      "type" : "image", "position" : [135, 55], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/calin/decorative/ct_calin_sample/icon.png"
    },
    "lblTab42" : {
      "type" : "image", "position" : [150, 55], "zlevel" : 3,
      "file" : "/objects/biome/alterash_prime/hevika/decorative/ct_hevika_sample/icon.png"
    },



    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [3, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta" ] }
        },
        {
          "position" : [3, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta_city" ] }
        },
        {
          "position" : [18, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta_lab" ] }
        },
        {
          "position" : [18, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta_ship" ] }
        },



        {
          "position" : [34, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "koywa" ] }
        },
        {
          "position" : [34, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "ayaka" ] }
        },
        {
          "position" : [49, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alterash_crop", "gyera", "haven" ] }
        },
        {
          "position" : [49, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "enchanted" ] }
        },

        {
          "position" : [65, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "eva", "astera" ] }
        },
        {
          "position" : [65, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "yaara" ] }
        },
        {
          "position" : [80, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "warped" ] }
        },
        {
          "position" : [80, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "stardust" ] }
        },



        {
          "position" : [96, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "phospholion" ] }
        },
        {
          "position" : [96, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "sona", "frozen_energy" ] }
        },
        {
          "position" : [111, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "isoslime" ] }
        },
        {
          "position" : [111, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "bionid" ] }
        },

        {
          "position" : [127, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "hive" ] }
        },
        {
          "position" : [127, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "crystalline" ] }
        },
        {
          "position" : [142, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "aric" ] }
        },
        {
          "position" : [142, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "ion_core", "monster_egg" ] }
        },



        {
          "position" : [158, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "enterite" ] }
        },
        {
          "position" : [158, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "dream" ] }
        },
        {
          "position" : [173, 221],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "mical" ] }
        },
        {
          "position" : [173, 237],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "void" ] }
        },



        {
          "position" : [190, 229], "selected" : true,
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "all" ] }
        },



        {
          "position" : [173, 204],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "hazard" ] }
        },
        {
          "position" : [173, 187],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "wired" ] }
        },
        {
          "position" : [173, 170],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "special" ] }
        },



        {
          "position" : [173, 108],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alterash_nature" ] }
        },
        {
          "position" : [173, 91],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alterash_prime_nature" ] }
        },
        {
          "position" : [173, 74],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "enterash_nature" ] }
        },
        {
          "position" : [173, 57],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "enterash_prime_nature" ] }
        },



        {
          "position" : [175, 37],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [
            "alta","alta_city","alta_lab","alta_ship","alta_capital",
            "alta_citadel","alta_special", "alta_ruin", "misc","elin","eds","faradea"
            ] }
        },



        {
          "position" : [3, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta_capital" ] }
        },
        {
          "position" : [18, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta_citadel" ] }
        },
        {
          "position" : [33, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "alta_special", "alta_ruin", "arknights", "misc" ] }
        },



        {
          "position" : [54, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "elin" ] }
        },
        {
          "position" : [69, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "eds" ] }
        },
        {
          "position" : [84, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "faradea" ] }
        },



        {
          "position" : [105, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "gheatsyn" ] }
        },
        {
          "position" : [120, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "bishyn" ] }
        },
        {
          "position" : [135, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "calin" ] }
        },
        {
          "position" : [150, 54],
          "baseImage" : "/interface/tabs/ct_mut.png",
          "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "hevika" ] }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
