{
  "filter" : [ "alta_constructor1", "alta_constructor2", "alta_constructor3", "alta_constructor4", "alta_constructor5", "alta_constructor6" ],
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "windowtitle" : { "type" : "title", "title" : "", "subtitle" : "", "position" : [0, 252],
      "icon" : { "type" : "image", "file" : "/interface/alta/icon_dark.png", "position" : [0, -20], "zlevel" : -1 }
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/alta/header_380_dark.png",
      "fileBody" : "/objects/alta/crafting/constructor/ui/body_full.png",
      "fileFooter" : "/interface/alta/footer_380_dark.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/alta/xd.png",
      "hover" : "/interface/alta/xad.png",
      "pressed" : "/interface/alta/xpd.png",
      "pressedOffset" : [0, 0], "position" : [336, 284]
    },
    "bgShine" : { "type" : "image", "file" : "/interface/alta/shine_364_240.png", "position" : [4, 34], "zlevel" : -10 },

    "spinCount" : { "type" : "spinner", "position" : [275, 46], "upOffset" : 36 },
    "tbSpinCount" : { "type" : "textbox", "position" : [287, 46], "textAlign" : "center", "maxWidth" : 16, "regex" : "x?\\d{0,4}", "hint" : "" },
    "imgAmountInput" : { "type" : "image", "file" : "/interface/alta/crafting/n.png", "position" : [281, 45], "zlevel" : -3 },
    "btnCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [321, 38], "caption" : "O" },
    "btnStopCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [321, 38], "caption" : "X" },
    "imgCraftBg" : { "type" : "image", "file" : "/interface/alta/crafting/bg.png", "position" : [251, 40], "zlevel" : -5 },
    "currentRecipeIcon" : { "type" : "itemslot", "callback" : "null", "position" : [252, 41] },
    "description" : { "type" : "widget", "position" : [225, 41], "size" : [140, 220] },

    "btnFilterHaveMaterials" : { "type" : "button", "base" : "/interface/alta/cb.png", "baseImageChecked" : "/interface/alta/cbc.png", "position" : [11, 38], "checkable" : true, "checked" : false },
    "lblFilterHaveMaterials" : { "type" : "label", "position" : [24, 37], "hAnchor" : "left", "value" : "^#0050c0;CAN CRAFT" },
    "filter" : { "type" : "textbox", "position" : [9, 54], "hint" : "      ^#0050c0;SEARCH", "maxWidth" : 90, "escapeKey" : "close", "enterKey" : "filter", "focus" : false },

    "lblFactions" : { "type" : "label", "position" : [84, 264], "hAnchor" : "left", "value" : "FACTIONS" },
    "lblNature" : { "type" : "label", "position" : [201, 264], "hAnchor" : "left", "value" : "NATURE" },
    "lblRarities" : { "type" : "label", "position" : [244, 264], "hAnchor" : "left", "value" : "RARITIES" },
    "lblTiers" : { "type" : "label", "position" : [298, 264], "hAnchor" : "left", "value" : "TIERS" },

    "lblAll" : { "type" : "label", "position" : [234, 248], "hAnchor" : "left", "value" : "ALL", "fontSize" : 7 },
    "lblPlanets" : { "type" : "label", "position" : [251, 248], "hAnchor" : "left", "value" : "NATURE BY PLANET", "fontSize" : 7 },
    "lblAlta" : { "type" : "label", "position" : [315, 248], "hAnchor" : "left", "value" : "ALTA", "fontSize" : 7 },
    "lblMisc" : { "type" : "label", "position" : [333, 248], "hAnchor" : "left", "value" : "MISC", "fontSize" : 7 },

    "lblClothing" : { "type" : "label", "position" : [199, 257], "hAnchor" : "left", "value" : "ALTERASH", "fontSize" : 7 },
    "lblArmor" : { "type" : "label", "position" : [199, 185], "hAnchor" : "left", "value" : "STARDUST", "fontSize" : 7 },
    "lblActive" : { "type" : "label", "position" : [199, 145], "hAnchor" : "left", "value" : "A. PRIME", "fontSize" : 7 },
    "lblOther" : { "type" : "label", "position" : [205, 73], "hAnchor" : "left", "value" : "OTHER", "fontSize" : 7 },

    "lblEggs" : { "type" : "label", "position" : [104, 56], "hAnchor" : "left", "value" : "HAZARD", "fontSize" : 7 },
    "lblRobotics" : { "type" : "label", "position" : [137, 56], "hAnchor" : "left", "value" : "WIRED", "fontSize" : 7 },
    "lblEnhancements" : { "type" : "label", "position" : [168, 56], "hAnchor" : "left", "value" : "SPECIAL", "fontSize" : 7 },

    "scrollArea" : {
      "type" : "scrollArea", "rect" : [6, 66, 199, 223], "children" : {
        "itemList" : {
          "type" : "list", "schema" : {
            "selectedBG" : "/interface/alta/crafting/item_active.png", "unselectedBG" : "/interface/alta/crafting/item.png",
            "spacing" : [0, 1], "memberSize" : [195, 18], "listTemplate" : {
              "background" : { "type" : "image", "file" : "/interface/alta/crafting/item.png", "position" : [2, 0], "zlevel" : -1 },
              "itemName" : { "type" : "label", "position" : [25, 5], "hAnchor" : "left", "wrapWidth" : 186, "value" : "Replace Me" },
              "itemIcon" : { "type" : "itemslot", "position" : [3, 1], "callback" : "null" },
              "newIcon" : { "type" : "image", "position" : [164, 5], "file" : "/interface/alta/crafting/new.png", "zlevel" : 2 },
              "moneyIcon" : { "type" : "image", "position" : [122, 1], "file" : "/interface/money.png" },
              "priceLabel" : { "type" : "label", "position" : [134, 1], "hAnchor" : "left", "value" : "0" },
              "notcraftableoverlay" : { "type" : "image", "file" : "/interface/alta/crafting/item_blocked.png", "position" : [2, 0], "zlevel" : 1 }
            }
          }
        }
      }
    },
    "rarities" : { "type" : "radioGroup", "toggleMode" : true, "buttons" : [
      {
        "position" : [244, 257], "baseImage" : "/interface/alta/tiers/t1.png", "baseImageChecked" : "/interface/alta/tiers/t1s.png",
        "data" : { "rarity" : [ "common" ] }
      },
      {
        "position" : [251, 257], "baseImage" : "/interface/alta/tiers/t2.png", "baseImageChecked" : "/interface/alta/tiers/t2s.png",
        "data" : { "rarity" : [ "uncommon" ] }
      },
      {
        "position" : [258, 257], "baseImage" : "/interface/alta/tiers/t3.png", "baseImageChecked" : "/interface/alta/tiers/t3s.png",
        "data" : { "rarity" : [ "rare" ] }
      },
      {
        "position" : [265, 257], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
        "data" : { "rarity" : [ "legendary" ] }
      },
      {
        "position" : [272, 257], "baseImage" : "/interface/alta/tiers/t7.png", "baseImageChecked" : "/interface/alta/tiers/t7s.png",
        "data" : { "rarity" : [ "essential" ] }
      }
    ] },



    "all" : { "type" : "image", "position" : [232, 232], "zlevel" : 3, "file" : "/objects/alta/crafting/constructor/icon6.png" },

    "alterash" : { "type" : "image", "position" : [249, 232], "zlevel" : 3, "file" : "/interface/bookmarks/icons/ct_alterash_planet.png" },
    "alterash_prime" : { "type" : "image", "position" : [265, 232], "zlevel" : 3, "file" : "/interface/bookmarks/icons/ct_alterash_prime_planet.png" },
    "enterash" : { "type" : "image", "position" : [281, 232], "zlevel" : 3, "file" : "/interface/bookmarks/icons/ct_enterash_planet.png" },
    "enterash_prime" : { "type" : "image", "position" : [297, 232], "zlevel" : 3, "file" : "/interface/bookmarks/icons/ct_enterash_prime_planet.png" },

    "alta" : { "type" : "image", "position" : [314, 232], "zlevel" : 3, "file" : "/interface/title/ct_alta_altaya.png", "maxSize" : [16, 16], "minSize" : [16, 16] },


    "basic" : { "type" : "image", "position" : [6, 224], "zlevel" : 3, "file" : "/objects/alta/basic/flag/icon.png" },
    "wires" : { "type" : "image", "position" : [6, 240], "zlevel" : 3, "file" : "/objects/alta/wired/button/icon.png" },

    "city" : { "type" : "image", "position" : [22, 224], "zlevel" : 3, "file" : "/objects/alta/city/pyramid/icon.png" },
    "cooking" : { "type" : "image", "position" : [22, 240], "zlevel" : 3, "file" : "/objects/alta/cooking/cookdecks/icon.png" },

    "scout" : { "type" : "image", "position" : [38, 224], "zlevel" : 3, "file" : "/objects/alta/scout/drone_spawner/icon.png" },
    "security" : { "type" : "image", "position" : [38, 240], "zlevel" : 3, "file" : "/objects/alta/security/camera/icon.png" },
    "capital" : { "type" : "image", "position" : [54, 224], "zlevel" : 3, "file" : "/objects/alta/capital/terminal/icon.png" },
    "elin" : { "type" : "image", "position" : [54, 240], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_elin_loot.png" },

    "combat" : { "type" : "image", "position" : [70, 224], "zlevel" : 3, "file" : "/objects/alta/combat/pod/icon.png" },
    "arknight" : { "type" : "image", "position" : [86, 224], "zlevel" : 3, "file" : "/objects/alta/arknight/pod/icon.png" },
    "eds" : { "type" : "image", "position" : [102, 224], "zlevel" : 3, "file" : "/objects/alta/eds/haulters/haulter_marker/icon.png" },
    "faradea" : { "type" : "image", "position" : [118, 224], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_faradea_loot.png" },
    "arco" : { "type" : "image", "position" : [134, 224], "zlevel" : 3, "file" : "/objects/alta/arco/pod/icon.png" },

    "lab" : { "type" : "image", "position" : [70, 240], "zlevel" : 3, "file" : "/objects/alta/lab/lifechamber/icon.png" },
    "gheatsyn" : { "type" : "image", "position" : [86, 240], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/gheatsyn/decorative/sample/icon.png" },
    "bishyn" : { "type" : "image", "position" : [102, 240], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/bishyn/decorative/sample/icon.png" },
    "calin" : { "type" : "image", "position" : [118, 240], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/calin/decorative/sample/icon.png" },
    "hevika" : { "type" : "image", "position" : [134, 240], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/hevika/decorative/sample/icon.png" },

    "ship" : { "type" : "image", "position" : [150, 224], "zlevel" : 3, "file" : "/objects/alta/lab/capsules/ct_capsule_purple_icon.png" },
    "elite" : { "type" : "image", "position" : [150, 240], "zlevel" : 3, "file" : "/objects/alta/elite/pod/icon.png" },
    "citadel" : { "type" : "image", "position" : [166, 224], "zlevel" : 3, "file" : "/objects/alta/citadel/pod/icon.png" },
    "ceterai" : { "type" : "image", "position" : [166, 240], "zlevel" : 3, "file" : "/objects/alta/ceterai/pod/icon.png" },

    "special" : { "type" : "image", "position" : [182, 224], "zlevel" : 3, "file" : "/objects/alta/special/samples/bion/icon.png" },
    "tf" : { "type" : "image", "position" : [182, 240], "zlevel" : 3, "file" : "/objects/alta/special/terraformers/biome/alterash/garden/icon.png" },


    "ayaka" : { "type" : "image", "position" : [199, 240], "zlevel" : 3, "file" : "/objects/biome/alterash/ayaka/ct_aya_pile/icon.png" },
    "gyera" : { "type" : "image", "position" : [215, 240], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_gyera_loot.png" },
    "koywa" : { "type" : "image", "position" : [199, 224], "zlevel" : 3, "file" : "/objects/biome/alterash/koywa/flowers/alto/icon.png" },
    "viona" : { "type" : "image", "position" : [215, 224], "zlevel" : 3, "file" : "/objects/biome/alterash/viona/chest/icon.png" },
    "yaara" : { "type" : "image", "position" : [199, 208], "zlevel" : 3, "file" : "/objects/biome/alterash/yaara/ct_yaara_heart/icon.png" },
    "warped" : { "type" : "image", "position" : [215, 208], "zlevel" : 3, "file" : "/objects/biome/alterash/warped/ct_nivera_thorns/icon.png" },
    "haven" : { "type" : "image", "position" : [199, 192], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_haven_loot.png" },
    "crops" : { "type" : "image", "position" : [215, 192], "zlevel" : 3, "file" : "/objects/farmables/gil/icon.png" },
    "eva" : { "type" : "image", "position" : [199, 168], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_eva_loot.png" },
    "astera" : { "type" : "image", "position" : [215, 168], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_astera_loot.png" },
    "prism" : { "type" : "image", "position" : [199, 152], "zlevel" : 3, "file" : "/objects/biome/stardust/ct_stardust_crystal/icon.png" },
    "stardust" : { "type" : "image", "position" : [215, 152], "zlevel" : 3, "file" : "/objects/biome/stardust/ct_stardust_prism/icon.png" },

    "sona" : { "type" : "image", "position" : [199, 128], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/ionic/ct_frozen_energy_ball/icon.png" },
    "isoslime" : { "type" : "image", "position" : [215, 128], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/isoslime/ct_isoslime_spawner/icon.png" },
    "phospholion" : { "type" : "image", "position" : [199, 112], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/phospholion/ct_phospholion_formation/icon.png" },
    "bionid" : { "type" : "image", "position" : [215, 112], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/bionid/ct_bulbonid/icon.png" },
    "hive" : { "type" : "image", "position" : [199, 96], "zlevel" : 3, "file" : "/objects/biome/hive/hivechest/hivechesticon.png" },
    "crystalline" : { "type" : "image", "position" : [215, 96], "zlevel" : 3, "file" : "/objects/biome/crystalline/crystalchest/crystalchesticon.png" },
    "aric" : { "type" : "image", "position" : [199, 80], "zlevel" : 3, "file" : "/items/generic/crafting/biosample.png" },
    "ion_core" : { "type" : "image", "position" : [215, 80], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/ct_ion_core_loot.png" },

    "enterite" : { "type" : "image", "position" : [199, 56], "zlevel" : 3, "file" : "/objects/biome/enterash/rocks/ct_enterite_sample/icon.png" },



    "hazards" : { "type" : "image", "position" : [100, 39], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/phospholion/ct_phosphobulbs/icon.png" },
    "traps" : { "type" : "image", "position" : [116, 39], "zlevel" : 3, "file" : "/objects/alta/eds/haulters/haulter/icon.png" },
    "wired" : { "type" : "image", "position" : [133, 39], "zlevel" : 3, "file" : "/objects/alta/wired/circuit/icon.png" },
    "light" : { "type" : "image", "position" : [149, 39], "zlevel" : 3, "file" : "/objects/alta/wired/led/icon.png" },
    "boosts" : { "type" : "image", "position" : [166, 39], "zlevel" : 3, "file" : "/objects/alta/lab/lifechamber/icon.png" },
    "musical" : { "type" : "image", "position" : [182, 39], "zlevel" : 3, "file" : "/objects/biome/alterash_prime/calin/decorative/clubdecks/icon.png" },



    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        { "position" : [232, 232], "selected" : true, "data" : { "filter" : [ "all" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [249, 232], "data" : { "filter" : [ "alterash_nature" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [265, 232], "data" : { "filter" : [ "alterash_prime_nature" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [281, 232], "data" : { "filter" : [ "enterash_nature" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [297, 232], "data" : { "filter" : [ "enterash_prime_nature" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [314, 232], "data" : { "filter" : [ "alta" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [331, 232], "data" : { "filter" : [ "misc" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },


        { "position" : [6, 224], "data" : { "filter" : [ "alta_basic" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [6, 240], "data" : { "filter" : [ "alta_wired" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [22, 224], "data" : { "filter" : [ "alta_city", "alta_cafe" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [22, 240], "data" : { "filter" : [ "alta_cooking" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [38, 224], "data" : { "filter" : [ "alta_scout" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [38, 240], "data" : { "filter" : [ "alta_security" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [54, 224], "data" : { "filter" : [ "alta_capital" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [54, 240], "data" : { "filter" : [ "elin" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [70, 224], "data" : { "filter" : [ "alta_combat" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [86, 224], "data" : { "filter" : [ "arknight" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [102, 224], "data" : { "filter" : [ "eds" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [118, 224], "data" : { "filter" : [ "faradea" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [134, 224], "data" : { "filter" : [ "arco" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [70, 240], "data" : { "filter" : [ "alta_lab" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [86, 240], "data" : { "filter" : [ "gheatsyn" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [102, 240], "data" : { "filter" : [ "bishyn" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [118, 240], "data" : { "filter" : [ "calin" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [134, 240], "data" : { "filter" : [ "hevika" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [150, 224], "data" : { "filter" : [ "alta_ship" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [150, 240], "data" : { "filter" : [ "elite" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [166, 224], "data" : { "filter" : [ "alta_citadel" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [166, 240], "data" : { "filter" : [ "ceterai" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [182, 224], "data" : { "filter" : [ "alta_special", "alta_ruin" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [182, 240], "data" : { "filter" : [ "alta_terraformers" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },


        { "position" : [199, 240], "data" : { "filter" : [ "ayaka"] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 240], "data" : { "filter" : [ "gyera" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 224], "data" : { "filter" : [ "koywa"] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 224], "data" : { "filter" : [ "enchanted" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 208], "data" : { "filter" : [ "yaara"] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 208], "data" : { "filter" : [ "warped"] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 192], "data" : { "filter" : [ "haven" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 192], "data" : { "filter" : [ "alterash_crop" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 168], "data" : { "filter" : [ "eva" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 168], "data" : { "filter" : [ "astera" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 152], "data" : { "filter" : [ "prism" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 152], "data" : { "filter" : [ "stardust" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [199, 128], "data" : { "filter" : [ "sona", "frozen_energy" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 128], "data" : { "filter" : [ "isoslime" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 112], "data" : { "filter" : [ "phospholion" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 112], "data" : { "filter" : [ "bionid" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 96], "data" : { "filter" : [ "hive" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 96], "data" : { "filter" : [ "crystalline" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 80], "data" : { "filter" : [ "aric" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 80], "data" : { "filter" : [ "ion_core", "monster_egg" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [199, 56], "data" : { "filter" : [ "enterite" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 56], "data" : { "filter" : [ "dream" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 40], "data" : { "filter" : [ "mical" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 40], "data" : { "filter" : [ "void" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },


        { "position" : [100, 39], "data" : { "filter" : [ "hazards" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [116, 39], "data" : { "filter" : [ "traps" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [133, 39], "data" : { "filter" : [ "wired" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [149, 39], "data" : { "filter" : [ "lights" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [166, 39], "data" : { "filter" : [ "boosts" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [182, 39], "data" : { "filter" : [ "musical" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },


        {
          "position" : [288, 257], "baseImage" : "/interface/alta/tiers/t0.png", "baseImageChecked" : "/interface/alta/tiers/t0s.png",
          "data" : { "filter" : [ "l0", "l1", "l2" ] }
        },
        {
          "position" : [294, 257], "baseImage" : "/interface/alta/tiers/t1.png", "baseImageChecked" : "/interface/alta/tiers/t1s.png",
          "data" : { "filter" : [ "l3" ] }
        },
        {
          "position" : [300, 257], "baseImage" : "/interface/alta/tiers/t2.png", "baseImageChecked" : "/interface/alta/tiers/t2s.png",
          "data" : { "filter" : [ "l4", "l4m" ] }
        },
        {
          "position" : [306, 257], "baseImage" : "/interface/alta/tiers/t3.png", "baseImageChecked" : "/interface/alta/tiers/t3s.png",
          "data" : { "filter" : [ "l5", "l5m", "l5m2" ] }
        },
        {
          "position" : [312, 257], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
          "data" : { "filter" : [ "l6", "l6m", "l6m2", "l6m3" ] }
        },
        {
          "position" : [318, 257], "baseImage" : "/interface/alta/tiers/t5.png", "baseImageChecked" : "/interface/alta/tiers/t5s.png",
          "data" : { "filter" : [ "l7", "l7m", "l7m2", "l7m3", "l7m4" ] }
        },
        {
          "position" : [324, 257], "baseImage" : "/interface/alta/tiers/t7.png", "baseImageChecked" : "/interface/alta/tiers/t7s.png",
          "data" : { "filter" : [ "l8", "l9", "l10", "l8m", "l9m", "l10m" ] }
        }
      ]
    }
  }
}
