{
  "action" : "actions",
  "list" : [
    {
      "action" : "config",
      "file" : "/projectiles/blast/ct_plasma_blast/ct_plasma_blast.config"
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : 35
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : -35
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : 1
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : -18
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : 18
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : 55
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : -55
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : -1
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : -65
    },
    {
      "action" : "projectile", "type" : "ct_plasma",
      "fuzzAngle" : 0, "inheritDamageFactor" : 0.05, "angleAdjust" : 65
    }
  ]
}
