// A set of lines used by buildscripts to be displayed in item tooltips. Easily translatable/changeable via JSON patches.
// Note that some puntuation and coloring is still handled in the scripts, but doesn't require translation.
{
    "rarityTypes" : {
        "0" : "Common",
        "1" : "Common",
        "2" : "Common",
        "3" : "Uncommon",
        "4" : "Uncommon",
        "5" : "Rare",
        "6" : "Legendary",
        "7" : "Legendary",
        "8" : "Essential",
        "9" : "Essential",
        "10" : "Essential"
    },
    "rarities" : {
        "0" : "Very Common",
        "1" : "Common",
        "2" : "Common",
        "3" : "Uncommon",
        "4" : "Uncommon",
        "5" : "Rare",
        "6" : "Legendary",
        "7" : "Starlike",
        "8" : "Celestial",
        "9" : "Io",
        "10" : "Unique"
    },
    "tiers" : {
        "0" : "Tier 0",
        "1" : "Tier 0",
        "2" : "Tier 0",
        "3" : "Tier 1",
        "4" : "Tier 2",
        "5" : "Tier 3",
        "6" : "Tier 4",
        "7" : "Tier 5",
        "8" : "Tier 6",
        "9" : "Tier 7",
        "10" : "Tier 8"
    },

    "cuisines" : {  // Cuisine prefixes. These are put in front of prepared food items' descriptions based on tags.
        "alta_cuisine" :  "An ^#b0e0fc;alta cuisine^reset;. ",
        "calin_cuisine" :  "^#b0e0fc;Calin alta cuisine^reset;. ",
        "nia_cuisine" :  "^#b0e0fc;Nia alta cuisine^reset;. ",
        "runeva_cuisine" :  "^#b0e0fc;Runeva alta cuisine^reset;. ",
        "yava_cuisine" : "^#b0e0fc;Yava alta cuisine^reset;. "
    },

    // Weapon tooltips
    "DPS" : "^blue;DPS^reset;:",                    // Damage Per Second (also used by some hazardous objects)
    "EPS" : "^cyan;EPS^reset;:",                    // Energy Per Second (also used by some shields)
    "DPC" : "^blue;DMG^reset;/Shot:",               // Damage Per Click  (also used by some hazardous objects)
    "EPC" : "^cyan;ERG^reset;/Shot:",               // Energy Per Click  (also used by some hazardous objects)
    "DPE" : "^blue;DMG^reset;/^cyan;ERG^reset;:",   // Damage Per Energy (also used by some hazardous objects)
    "FSR" : "FireRate:",                            // Fire Speed Rate   (also used by some hazardous objects)

    // Shield tooltips
    "HP" : "^green;HP^reset;:",                     // Shield Health
    "CD" : "Cooldown:",                             // Shield Cooldown
    "KB" : "Knockback:",                            // Knockback On Contact (also used by some hazardous objects)
    "MT" : "Min Time:",                             // Minimal Active Time
    "PT" : "Parry Time:",                           // Parry Threshold Time
    "HV" : "Heavy:",                                // Whether the shield is heavy (you can/can't run with it)
    "HY" : "Yes",                                   // The shield is heavy (no running)
    "HN" : "No",                                    // The shield is light (can run)

    // Ability tooltips
    "none" : "Unknown",                             // Used to represent abilities with no known name.
    "primary" : {
        "title" : "^gray;Primary:^reset;",          // When displayed in a crafting table interface.
        "full" : "^gray;(primary)^reset;"           // When displayed in the item's full description.
    },
    "alt" : {
        "title" : "^gray;Special:^reset;",
        "full" : "^gray;(special)^reset;"
    },
    "passive" : {
        "title" : "^gray;Passive:^reset;",
        "full" : "^gray;(passive)^reset;"
    },

    // Other tooltips
    "upgrade" : "^gray;Upgrade:^reset;",            // When displayed in a crafting table interface.
    "upgfull" : "^gray;Upgraded to: ^reset;",       // When displayed in the item's full description.
    "augment" : "^gray;Equip to EPP with right-click^reset;",
    "collar" : "^gray;Equip to capture pod with right-click^reset;",
    "found" : "^gray;Found in:^reset; ",            // TBD - display in more tooltips (not just materials).
    "tier" : "Tier %s %s.",                         // Currently unused tier indicator. First `%s` is substituted with a number, second - with item type.
    "level" : "Lvl.",                               // Level tooltip label, example: Lvl. 6
    "armor" : "Armour",                             // Category tooltip label for clothes (when crafting)
    "tool" : "Tool",                                // Category tooltip label for monster spawners (when crafting)
    "derivative" : "Can be used as substitute for %s in recipes.",

    // Food tooltips
    "perfect" : "^gray;Variants:^reset; ",          // For the Perfect Cooking mechanic - where prepared food has a 10% chance to be better.
    "food" : "Food Value: %s",                      // Used with no IFD. The `%s` is substituted with the number, so best to keep this in the string.

    // Object tooltips
    "breaks" : "^red;Doesn't drop itself if broken/smashed!^reset;",
    "store" : "Holds %s Items",                     // Number Of Slots. The `%s` is substituted with the number, so best to keep this in the string.
    "light" : "Light color:",
    "tags" : "Tags:",                               // For colony tags. Possible TBD - have it as item tags for non-object items.
    "health" : "Health:",

    // Monster tooltips
    "egg" : "Monster Egg",
    "drone" : "Drone Spawner",
    "droid" : "Droid Spawner",
    "AP" : "^yellow;Armor^reset;:",
    "HPR" : "^green;HP^reset; Regen:",
    "resist" : {
        "title" : "Resistances, %:",
        "physical" : "Phys. Res.:",
        "fire" : "^red;Fire^reset; Res.:",
        "ice" : "^cyan;Ice^reset; Res.:",
        "electric" : "^purple;Electric^reset; Res.:",
        "poison" : "^green;Poison^reset; Res.:"
    },

    // Alta Scanner
    "scan" : {
        "title" : " Alta Scanner",
        "subtitle" : " Your portable alta wiki!",
        "item" : "Item:",
        "species" : "Species:",
        "alkey" : "Alkey:",
        "author" : "Author:",
        "hand1" : "One-Handed",
        "hand2" : "Two-Handed",
        "lore" : "^gray;Observation of a random %s:^reset;",
        "empty" : "Place any item into the slot to scan it!",
        "alien" : "^gray;No extended info found in the scanner's database. Make sure to contact your local official and request a datamass with the latest data!^reset;"
    },

    // Shared long descriptions for object categories
    "lore" : {
        "alta" : {  // Object type based on tags - only for alta species
            "pod" : "Portable alta containers, or alta pods for short, are a standardized way of transporting equipment in a safe, airtight environment.",
            "terminal" : "All ^#b0e0fc;alta terminals^reset; have specialized interfaces, yet run on shared standardized software with ^#b0e0fc;alta A.I.^reset; support. These are an alta developmnet to replace basic consoles - an interplanetary standard.",
            "plant_pod" : "The pod is a variation of an ^#b0e0fc;alta eco chamber^reset; meant for smaller plants, less complicated in nature and easier to construct, which is why it is commonly used as decoration in alta spaces.",
            "emblem" : "Emblems are one of many ways altas distinguish their factions - including color combinations and other markings.",
            "food_display" : "These sample dishes are well preserved and are often used in restaurant displays.",
            "painting" : "Drawing is a prominent type of artistic expression in alta culture, as well as a simply pleasant hobby. Many ^#b0e0fc;alta artists^reset; sell their work as means of making a living, so be sure to support them!",
            "plushie" : "Plush toys are extremely popular among altas, and hand-made plushies are often made by ^#b0e0fc;alta artists^reset; as a hobby, and are usually sold by ^#b0e0fc;alta party girls^reset; or found in high quantities in various stores in ^#b0e0fc;alta cities^reset;.",
            "poster" : "Usually, alta standarts limit the used of instructional or agitational displays to avoid oversaturation of highly populated areas, yet these eco-friendly posters are still used in reasonable amounts. Promotional posters are usually prohibited, as there are other reserved promotion methods in place.",
            "sample" : "These samples are considered to be extremely valuable for alta research, and thus are preserved in high-quality shape and can be worth quite a lot.",
            "trophy" : "As a trophy, its value is purely symbolic. Still, these are popular among ^#b0e0fc;alta collectioners^reset; and are just a delight to look at. While most trophies generally look like small sculpture-like contraptions, some resemble the reason they were awarded for.",
            "wired" : "Most alta wiring consists of crystals and crystal-based energy sources, as well as simple logical elements like ^#b0e0fc;alta circuits^reset; and ^#b0e0fc;alta LEDs^reset;."
        },
        "categories" : {  // Object type based on category parameter
            "bug" : "Bottled bugs are often a midway state in the process of research and preservation, and thus are often possesed by various ^#b0e0fc;alta collectioners^reset;.",
            "actionFigure" : "Figurines like this one are quite popular among ^#b0e0fc;alta collectioners^reset;. The most detailed figurines are often created in bio research labs as downscaled references to actual creatures."
        },
        "factions" : {  // Faction based on tags - only for alta species
            "eds" : "^#f02020;EDS^reset; technology tends to follow special protection standards, that require the use of EDS armor layers if appropriate, as well as high security protocols. Due to this, EDS tech tends to be heavier than its regular alta counterparts.",
            "faradea" : "Any technology marked by ^#ffe364;Faradea^reset; can easily be distinguished by yellow stripes all over it.",
            "elin" : "Elin-related things can usually only be found in ^#20f080;Elin Gardens^reset;, and very rarily appear anywhere else.",
            "combat" : "This item belongs to RAA, or the regular alta army, positioned under the authority of Alliana.",
            "ship" : "Commonly found on alta spaceships, it might attract an ^#b0e0fc;alta ship officer^reset; or, with enough combat equipment, an ^#b0e0fc;alta ship guard^reset;.",
            "capital" : "Commonly found in alta capitals, it might attract an ^#b0e0fc;alta capital girl^reset; or, with enough combat equipment, an ^#b0e0fc;imperial guard^reset;.",
            "citadel" : "Since this counts as citadel equipment, it can attract an ^#b0e0fc;alta commander^reset; or, with enough combat equipment, a ^#b0e0fc;citadel guard^reset;.",
            "arco" : "A.R.C.O. markings all over it suggest that it's part of according research group, and thus can attract an ^#b0e0fc;A.R.C.O. researcher^reset; or, with enough combat equipment, a ^#b0e0fc;A.R.C.O. guard^reset;.",
            "arknight" : "Arknight markings all over it suggest that it's part of an arknight outpost, and thus can attract an ^#b0e0fc;arknight^reset;."
            // "elite" : "",
            // "lab" : "",
            // "scout" : "",
            // "security" : "",
            // "alderon" : "",
            // "alliana" : "",
            // "astera" : "",
            // "ceterai" : "",
            // "dreamer" : "",
            // "ghearun" : "",
            // "gyera" : "",
            // "hevika" : "",
            // "neiteru" : "",
            // "perizhad" : "",
            // "tserera" : "",
            // "unika" : "",
            // "spacedrifter" : ""
        },
        "species" : {  // Species based on race parameter
            "alta" : "All alta items usually follow a strict set of standards called protocols, to ensure quality and safety. In case of tech, it's also compatability with other ^#b0e0fc;alta technology^reset;.",
            "floran" : "As a species, florans prefer plants as main source of materials, unless other organic matter, accquired as a trophy, can be used instead. As it stands, florans don't have their own technology, resorting to using technology accquired from other species.",
            "apex" : "Altas divide apex technology into 2 categories - their \"standard issue\" furniture and Miniknog tech, which is mostly what they refer to when talking about apex technology. Though they see the former as highly inferior to altas' own furniture, they see apex tech as a direct competitor to their own.",
            "avian" : "While avian furniture is viewed by altas as overly simplistic, their use of crystals in avian technology is not far-fetched from that of altas.",
            "ancient" : "Most ancient technology seems to be off-limits at this point in time, so far any and all alta progress wasn't able to reach the same level of advancement."
        },
        "tags" : {  // Object type based on tags - any species
            // Dungeon
            "apexresearchlab" : "This miniknog tech can be analyzed by a number of alta research facilities to create a proper ^#b0e0fc;alta Miniknog infiltrator^reset;, or, with enough combat and outpost equipment, it's possible to upgrade to an experimental prototype - the ^#b0e0fc;alta MK intruder^reset;.",
            "avianairship" : "It would be a perfect setting for an ^#b0e0fc;alta pirate^reset;.",
            "floranhuntinggrounds" : "It would be a perfect setting for an ^#b0e0fc;alta huntress^reset;.",
            "lunarbase" : "It would be a perfect setting for an ^#b0e0fc;alta moon girl^reset;.",
            "outpost" : "It would be a perfect setting for an ^#b0e0fc;alta outpost girl^reset;.",
            "astro" : "It would be a perfect setting for an ^#b0e0fc;alta astro girl^reset;.",
            "industrial" : "It would be a perfect setting for an ^#b0e0fc;alta industrial girl^reset;.",
            "space" : "It would be a perfect setting for an ^#b0e0fc;alta space girl^reset;.",
            "station" : "It would be a perfect setting for an ^#b0e0fc;alta station girl^reset;.",
            "astronaut" : "As a piece of human space history, it would be a perfect setting for an ^#b0e0fc;alta first contact operative^reset;.",
            "human" : "It would be a perfect setting for an ^#b0e0fc;alta from earth^reset;.",
            "retro" : "It would be a perfect setting for an ^#b0e0fc;alta track crewmate^reset;, or an ^#b0e0fc;alta insurgent^reset; with enough combat equipment.",
            // Biome
            "bioluminescence" : "Most plant-based bioluminescent items come either from aric or warped environments, or are quite similar in nature otherwise. Combining it with alta furniture might attract an ^#b0e0fc;alta lumina^reset;, a shiny alta. With the commerce and storage stuff on top, it will attract an ^#b0e0fc;alta lumitrixie^reset;, the trader of all shinies! Adding alta lab equipment will instead attract an ^#b0e0fc;alta luminologist^reset;.",
            "alien" : "Exotic plants often attract the most unusual altas with their intriguing shapes and colors.",
            "cell" : "This object is full of precious biological samples, highly valued by a lot of alta researchers. Having lots of it might attract an ^#b0e0fc;alta biologist^reset;. With enough commerce and storage items, it will attract an ^#b0e0fc;alta pharmacist^reset;.",
            "colourful" : "The most colorful and vibrant things are very popular among altas, and will most definitely attact some color lovers among altas.",
            "coral" : "Corals are rare to be found with no prominent water source, so are very likely to be studied by ^#b0e0fc;alta reefologists^reset;.",  // WIP
            "crystalline" : "Crystals are an important part of alta culture and infrastructure, with the most pristine samples often attracting ^#b0e0fc;alta calin girls^reset;.",
            "eyepatch" : "Eyegrowth isn't very popular in alta research due to its somewhat unpleasant nature.",
            "flesh" : "Most kinds of fleshy growth isn't very popular in alta research due to its somewhat unpleasant nature.",
            "dark" : "Midnight architecture is often perceived as a variation of hylotl traditional style, and is described as such in most related alta literature.",
            "giantflower" : "Such giant flowers often attract ^#b0e0fc;alta nymphs^reset; - nature-loving altas that have adopted to the more toxic and less ionized nature and decided to become one with it. Adding combat objects will attract an ^#b0e0fc;alta driad^reset; - a protector of nature.",  // WIP
            "geode" : "Geode crystals are valuable for alta crystal research, and might attract an ^#b0e0fc;alta geologist^reset;.",
            "hive" : "Can be found in the layer of an ^#b0e0fc;alta hive keeper^reset;.",
            "mushroompatch" : "While far less toxic than usual aric environments, it can still be quite valuable for alta research.",
            "ocean" : "A perfect study specimen for an ^#b0e0fc;alta oceanologist^reset;.",
            "oasis" : "It would be a perfect setting for an ^#b0e0fc;alta resort girl^reset;.",
            "island" : "It would be a perfect setting for an ^#b0e0fc;alta festival girl^reset;.",
            "sea" : "It would be a perfect setting for an ^#b0e0fc;alta beach girl^reset;.",
            "koywa" : "It would be a perfect setting for an ^#b0e0fc;alta koywa dancer^reset;.",
            "prism" : "Prisms are valueable specimens for alta crystal and stardust research.",  // WIP
            "slime" : "Recognized in alta literature as a variation of poi, or slime, this material is mainly attractive to ^#b0e0fc;alta slime girls^reset;.",  // WIP
            "swamp" : "Perfect for a photo set, often chosen by ^#b0e0fc;alta reed cosplayers^reset;.",  // WIP
            "tar" : "Recognized in alta literature as a variation of poi, or slime, this material is mainly attractive to ^#b0e0fc;alta dark slime girls^reset;.",  // WIP
            "toxic" : "A perfect study specimen for an ^#b0e0fc;alta toxicologist^reset;.",
            "volcanic" : "A perfect study specimen for an ^#b0e0fc;alta vulcanologist^reset;.",
            // Tiered
            "copper" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta copper cosplayer^reset;.",
            "tier1" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta iron cosplayer^reset;.",
            "tier2" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta tungsten cosplayer^reset;.",
            "tier3" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta titanium cosplayer^reset;.",
            "tier4" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta durasteel cosplayer^reset;.",
            "tier5" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta aegisalt protecta^reset;.",
            "tier6" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta ferozium protecta^reset;.",
            "tier7" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta violium protecta^reset;.",
            "tier8" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta solarium protecta^reset;.",
            "tier9" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta diamond protecta^reset;.",
            "tier10" : "All the impervium in this looks like a perfect environment for an ^#b0e0fc;alta impervium protecta^reset;.",
            // Descriptive
            "cafe" : "Usually where there's a cafe, there might be an ^#b0e0fc;alta barista^reset; nearby.",
            "cooking" : "Lots of cooking appliances can attract a professional ^#b0e0fc;alta chef^reset;.",
            "garden" : "Since this counts as gardening-related item, an ^#b0e0fc;alta gardener^reset; would be the right person to know more about it.",
            "sanitary" : "This is a piece of sanitary system, and thus might require an ^#b0e0fc;alta cleaner^reset; to maintain.",  // WIP
            // "restroom" : "",
            // "bathroom" : "",
            // "holographic" : "",
            // "mechanical" : "",
            // "electronic" : "",
            // "beach" : "",
            "crafting" : "This item could become a part of an ^#b0e0fc;alta inventor^reset;'s workshop.",  // WIP
            // Themed
            "cultist" : "It would be a perfect setting for an ^#b0e0fc;alta cult cosplayer^reset;.",  // WIP
            "evil" : "It would be a perfect setting for an ^#b0e0fc;alta villain cosplayer^reset;.",  // WIP
            "explorer" : "It would be a perfect setting for an ^#b0e0fc;alta explorer^reset;.",
            "fossil" : "It would be a perfect setting for an ^#b0e0fc;alta archaeologist^reset;.",
            "knowledge" : "It would be a perfect setting for an ^#b0e0fc;alta librarian^reset;.",  // WIP
            "mining" : "It would be a perfect setting for an ^#b0e0fc;alta miner^reset;.",  // WIP
            "musical" : "It would be a perfect setting for an ^#b0e0fc;alta dancer^reset;.",
            "neon" : "It would be a perfect setting for an ^#b0e0fc;alta neon dancer^reset;.",
            "pretty" : "It would be a perfect setting for an ^#b0e0fc;alta artist^reset; or an ^#b0e0fc;alta designer^reset;.",
            "science" : "It would be a perfect setting for an ^#b0e0fc;alta scientist^reset;.",
            "traveller" : "It would be a perfect setting for an ^#b0e0fc;alta traveller^reset;.",
            "valuable" : "It would be a perfect setting for an ^#b0e0fc;alta collectioner^reset;.",
            "wreck" : "It would be a perfect setting for an ^#b0e0fc;alta resque worker^reset;.",
            "christmas" : "It would be a perfect setting for an ^#b0e0fc;alta holiday girl^reset;.",
            "valentines" : "It would be a perfect setting for an ^#b0e0fc;alta lovemaker^reset;."  // WIP
        }
    }
}
