// A set of lines used by buildscripts to be displayed in item tooltips. Easily translatable/changeable via JSON patches.
// Note that some puntuation and coloring is still handled in the scripts, but doesn't require translation.
{
    "cuisines" : {  // Cuisine prefixes. These are put in front of prepared food items' descriptions based on tags.
        "alta_cuisine" :  "An ^#b0e0fc;alta cuisine^reset;. ",
        "calin_cuisine" :  "^#b0e0fc;Calin alta cuisine^reset;. ",
        "nia_cuisine" :  "^#b0e0fc;Nia alta cuisine^reset;. ",
        "runeva_cuisine" :  "^#b0e0fc;Runeva alta cuisine^reset;. ",
        "yava_cuisine" : "^#b0e0fc;Yava alta cuisine^reset;. "
    },
    // Weapon tooltips
    "DPS" : "^blue;DPS^reset;:",                    // Damage Per Second (also used by some hazardous objects)
    "EPS" : "^cyan;EPS^reset;:",                    // Energy Per Second (also used by some shields)
    "DPC" : "^blue;DMG^reset;/Shot:",               // Damage Per Click  (also used by some hazardous objects)
    "EPC" : "^cyan;ERG^reset;/Shot:",               // Energy Per Click  (also used by some hazardous objects)
    "DPE" : "^blue;DMG^reset;/^cyan;ERG^reset;:",   // Damage Per Energy (also used by some hazardous objects)
    "FSR" : "FireRate:",                            // Fire Speed Rate   (also used by some hazardous objects)

    // Shield tooltips
    "HP" : "^green;HP^reset;:",                     // Shield Health
    "CD" : "Cooldown:",                             // Shield Cooldown
    "KB" : "Knockback:",                            // Knockback On Contact (also used by some hazardous objects)
    "MT" : "Min Time:",                             // Minimal Active Time
    "PT" : "Parry Time:",                           // Parry Threshold Time
    "HV" : "Heavy:",                                // Whether the shield is heavy (you can/can't run with it)
    "HY" : "Yes",                                   // The shield is heavy (no running)
    "HN" : "No",                                    // The shield is light (can run)

    // Ability tooltips
    "none" : "Unknown",                             // Used to represent abilities with no known name.
    "primary" : {
        "title" : "^gray;Primary:^reset;",          // When displayed in a crafting table interface.
        "full" : "^gray;(primary)^reset;"           // When displayed in the item's full description.
    },
    "alt" : {
        "title" : "^gray;Special:^reset;",
        "full" : "^gray;(special)^reset;"
    },
    "passive" : {
        "title" : "^gray;Passive:^reset;",
        "full" : "^gray;(passive)^reset;"
    },

    // Other tooltips
    "upgrade" : "^gray;Upgrade:^reset;",            // When displayed in a crafting table interface.
    "upgfull" : "^gray;Upgraded to: ^reset;",       // When displayed in the item's full description.
    "augment" : "^gray;Equip to EPP with right-click^reset;",
    "collar" : "^gray;Equip to capture pod with right-click^reset;",
    "found" : "^gray;Found in:^reset; ",            // TBD - display in more tooltips (not just materials).
    "tier" : "Tier %s %s.",                         // Currently unused tier indicator. First `%s` is substituted with a number, second - with item type.
    "level" : "Lvl.",                               // Level tooltip label, example: Lvl. 6
    "armor" : "Armour",                             // Category tooltip label for clothes (when crafting)
    "tool" : "Tool",                                // Category tooltip label for monster spawners (when crafting)

    // Food tooltips
    "perfect" : "^gray;Variants:^reset; ",          // For the Perfect Cooking mechanic - where prepared food has a 10% chance to be better.
    "food" : "Food Value: %s",                      // Used with no IFD. The `%s` is substituted with the number, so best to keep this in the string.

    // Object tooltips
    "breaks" : "^red;Doesn't drop itself if broken/smashed!^reset;",
    "store" : "Holds %s Items",                     // Number Of Slots. The `%s` is substituted with the number, so best to keep this in the string.
    "light" : "Light color:",
    "tags" : "Tags:",                               // For colony tags. Possible TBD - have it as item tags for non-object items.
    "health" : "Health:",

    // Monster tooltips
    "egg" : "Monster Egg",
    "drone" : "Drone Spawner",
    "droid" : "Droid Spawner",
    "AP" : "^yellow;Armor^reset;:",
    "HPR" : "^green;HP^reset; Regen:",
    "resist" : {
        "title" : "Resistances, %:",
        "physical" : "Phys. Res.:",
        "fire" : "^red;Fire^reset; Res.:",
        "ice" : "^cyan;Ice^reset; Res.:",
        "electric" : "^purple;Electric^reset; Res.:",
        "poison" : "^green;Poison^reset; Res.:"
    },

    // Alta Scanner
    "scan" : {
        "title" : " Alta Scanner",
        "subtitle" : " Your portable alta wiki!",
        "item" : "Item:",
        "species" : "Species:",
        "alkey" : "Alkey:",
        "hand1" : "One-Handed",
        "hand2" : "Two-Handed",
        "lore" : "^gray;Observation of a random %s:^reset;",
        "empty" : "Place any item into the slot to scan it!",
        "alien" : "^gray;No extended info found in the scanner's database. Make sure to contact your local official and request a datamass with the latest data!^reset;"
    }
}
