{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_anvil.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/objects/alta/ct_eds_table/interface/body.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  ANVIL",
      "subtitle" : "  Make sharp things.",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurnace.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 43],
      "caption" : "Forge"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [271, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [56, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "lblTab1" : {
      "type" : "image",
      "file" : "/items/generic/crafting/ct_alta_energy_cell.png",
      "position" : [3, 222], "zlevel" : 3
    },
    "lblTab2" : {
      "type" : "image",
      "file" : "/items/generic/crafting/ct_alternia_shard.png",
      "position" : [18, 222], "zlevel" : 3
    },
    "lblTab3" : {
      "type" : "image",
      "file" : "/items/generic/crafting/ct_edsdiode.png",
      "position" : [34, 222], "zlevel" : 3
    },
    "lblTab4" : {
      "type" : "image",
      "file" : "/items/generic/crafting/ct_edsarmor.png",
      "position" : [49, 222], "zlevel" : 3
    },
    "lblTab5" : {
      "type" : "image",
      "file" : "/items/generic/crafting/ct_cetersphere.png",
      "position" : [65, 222], "zlevel" : 3
    },
    "lblTab6" : {
      "type" : "image",
      "file" : "/items/generic/crafting/ct_entersphere.png",
      "position" : [80, 222], "zlevel" : 3
    },
    "lblTab9" : {
      "type" : "image",
      "file" : "/items/generic/crafting/titaniumbar.png",
      "position" : [127, 222], "zlevel" : 3
    },
    "lblTab10" : {
      "type" : "image",
      "file" : "/items/generic/produce/ctwoodsap.png",
      "position" : [142, 222], "zlevel" : 3
    },
    "lblTab11" : {
      "type" : "image",
      "file" : "/items/generic/produce/ctwood.png",
      "position" : [158, 222], "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [3, 221], "selected" : true,
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta_tier3_scout" ] }
        },
        {
          "position" : [18, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta_tier4_combat" ] }
        },
        {
          "position" : [34, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta_tier5_arco" ] }
        },
        {
          "position" : [49, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta_tier5_eds" ] }
        },
        {
          "position" : [65, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta_tier6_alternia" ] }
        },
        {
          "position" : [80, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta_tier6_enternia" ] }
        },
        {
          "position" : [127, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alta" ] }
        },
        {
          "position" : [142, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alterash" ] }
        },
        {
          "position" : [158, 221],
          "baseImage" : "/objects/alta/ct_eds_table/interface/untab.png",
          "baseImageChecked" : "/objects/alta/ct_eds_table/interface/tab.png",
          "data" : { "filter" : [ "alterash_other" ] }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
