{
  "gui" : {
    "background" : {
      "zlevel" : 0, "type" : "background",
      "fileHeader" : "/interface/alta/header_200.png",
      "fileBody" : "/interface/alta/body_200.png",
      "fileFooter" : "/interface/alta/footer_200.png"
    },
    "windowtitle" : {
      "type" : "title", "title" : "", "subtitle" : "",
      "icon" : { "type" : "image", "file" : "/interface/alta/mini_scanner.png" }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/alta/x.png",
      "hover" : "/interface/alta/xa.png",
      "pressed" : "/interface/alta/xp.png",
      "callback" : "close", "pressedOffset" : [0, 0], "position" : [160, 224]
    },
    "scannerIcon" : { "type" : "image", "position" : [24, 184], "zlevel" : 3, "file" : "/items/active/alta/scanner/icon.png" },
    "scanner" : {
      "type" : "button",
      "base" : "/interface/alta/icon_empty.png",
      "hover" : "/interface/alta/icon_hover.png",
      "pressed" : "/interface/alta/icon_press.png",
      "callback" : "openScanner", "pressedOffset" : [0, 0], "position" : [20, 180]
    },
    "stationIcon" : { "type" : "image", "position" : [54, 184], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/icon1.png" },
    "station" : {
      "type" : "button",
      "base" : "/interface/alta/icon_empty.png",
      "hover" : "/interface/alta/icon_hover.png",
      "pressed" : "/interface/alta/icon_press.png",
      "callback" : "openStation", "pressedOffset" : [0, 0], "position" : [50, 180]
    }
  },

  "scriptWidgetCallbacks" : [
    "openScanner",
    "openStation"
  ],

  "scripts" : ["/interface/alta/pda/gui.lua"],
  "scriptDelta" : 30
}
