{
  "names" : [
    { "mode" : "alts" },
    [
      "Aata",
      "Aina",
      "Alliana",
      "Avia",
      "Aria",
      "Aonna",
      "Aura",
      "Allada",
      "Ayna",
      "Aya",
      "Ayta",
      "Aura",
      "Ania",
      "Arachna",
      "Aella",
      "Asteria",
      "Calina",
      "Celena",
      "Celestia",
      "Energia",
      "Ia",
      "Lana",
      "Lann",
      "Lanna",
      "Lena",
      "Lina",
      "Linn",
      "Mana",
      "Maya",
      "Mira",
      "Mia",
      "Min",
      "Mina",
      "Mika",
      "Momo",
      "Nia",
      "Nixi",
      "Nana",
      "Pandora",
      "Titania",
      "Talia",
      "Urania"
    ]
  ]
}
