{
  "names" : [
    { "mode" : "alts" },  // Selector mode used by Starbound to select a name from the list below.
    // Generic alta names. For names of key figure altas, see `/.meta/world.json`.
    [
      "Aaka",
      "Aamin",
      "Aaris",
      "Aata",
      "Aella",
      "Aenia",
      "Aera",
      "Aina",
      "Aika",
      "Aira",
      "Airika",
      "Alistraza",
      "Allada",
      "Alliana",
      "Aonna",
      "Amia",
      "Amiada",
      "Ania",
      "Avia",
      "Arachna",
      "Aria",
      "Asiria",
      "Asteria",
      "Aura",
      "Aya",
      "Ayata",
      "Ayna",
      "Ayta",
      "Baya",
      "Biola",
      "Bizhya",
      "Bria",
      "Bruna",
      "Biriaza",
      "Calina",
      "Celena",
      "Celestia",
      "Cerenia",
      "Cia",
      "Cinn",
      "Chara",
      "Chia",
      "Chirin",
      "Crimsana",
      "Daaina",
      "Dana",
      "Deona",
      "Dia",
      "Dina",
      "Dora",
      "Dnisha",
      "Drulia",
      "Drinilisa",
      "Eaia",
      "Ekolia",
      "Eliana",
      "Elin",
      "Enaina",
      "Energia",
      "Enka",
      "Enn",
      "Estria",
      "Evia",
      "Faena",
      "Faera",
      "Feeria",
      "Fia",
      "Filistraza",
      "Firia",
      "Frilitraksa",
      "Fuia",
      "Gaia",
      "Gana",
      "Giara",
      "Gin",
      "Gina",
      "Ghanna",
      "Ghaia",
      "Ghea",
      "Gholia",
      "Ghromia",
      "Gumin",
      "Gura",
      "Hana",
      "Hara",
      "Helia",
      "Heriss",
      "Hina",
      "Huara",
      "Ia",
      "Iana",
      "Iaya",
      "Iaria",
      "Idia",
      "Imilin",
      "Ina",
      "Ishira",
      "Iusha",
      "Jaia",
      "Jaria",
      "Jai",
      "Jan",
      "Juna",
      "Juria",
      "Kaa",
      "Kana",
      "Kyuna",
      "Kina",
      "Kirianna",
      "Lana",
      "Lann",
      "Lanna",
      "Lena",
      "Lina",
      "Linn",
      "Mana",
      "Maya",
      "Mira",
      "Mia",
      "Min",
      "Mina",
      "Mika",
      "Momo",
      "Naa",
      "Nana",
      "Naya",
      "Nia",
      "Nixi",
      "Nea",
      "Octavia",
      "Oia",
      "Ona",
      "Oka",
      "Pandora",
      "Rin",
      "Rina",
      "Saia",
      "Talia",
      "Tera",
      "Titania",
      "Una",
      "Unia",
      "Unn",
      "Urania",
      "Vaa",
      "Vina",
      "Vinn",
      "Yaa",
      "Yana",
      "Yina",
      "Yinn",
      "Yona",
      "Zaia",
      "Zana",
      "Zinn",
      "Zhia",
      "Zharia"
    ]
  ]
}
