{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/alta/header_146.png",
      "fileBody" : "/interface/alta/crafting/body_tabs.png",
      "fileFooter" : "/interface/alta/footer_146.png"
    },
    "close" : {
      "type" : "button", "pressedOffset" : [0, 0], "position" : [104, 287],
      "base" : "/interface/alta/x.png", "hover" : "/interface/alta/xa.png", "pressed" : "/interface/alta/xp.png"
    },
    "windowtitle" : { "type" : "title", "title" : "^noshadow;^#0050c0;CRAFTING STATION", "subtitle" : "", "position" : [0, 252],
      "icon" : { "type" : "image", "file" : "/interface/alta/icon.png", "position" : [0, -20], "zlevel" : -1 }
    },
    "bgShine" : { "type" : "image", "file" : "/interface/alta/shine_364_240.png", "position" : [4, 34], "zlevel" : -10 },

    "spinCount" : { "type" : "spinner", "position" : [74, 39], "upOffset" : 29 },
    "tbSpinCount" : { "type" : "textbox", "position" : [81, 39], "textAlign" : "center", "maxWidth" : 16, "regex" : "x?\\d{0,4}", "hint" : "" },
    "imgAmountInput" : { "type" : "image", "file" : "/interface/alta/crafting/n.png", "position" : [77, 38], "zlevel" : -3 },
    "btnCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [111, 32], "caption" : "O" },
    "btnStopCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [111, 32], "caption" : "X" },
    "imgCraftBg" : { "type" : "image", "file" : "/interface/alta/crafting/bg2.png", "position" : [138, 80], "zlevel" : -5 },
    "currentRecipeIcon" : { "type" : "itemslot", "callback" : "null", "position" : [22, 39], "visible" : false },
    "description" : { "type" : "widget", "position" : [130, 53], "size" : [144, 202] },

    "btnFilterHaveMaterials" : { "type" : "button", "base" : "/interface/alta/cb.png", "baseImageChecked" : "/interface/alta/cbc.png", "position" : [11, 38], "checkable" : true, "checked" : false },
    "lblFilterHaveMaterials" : { "type" : "label", "position" : [24, 37], "hAnchor" : "left", "value" : "^#0050c0;CAN CRAFT" },
    "filter" : { "type" : "textbox", "position" : [9, 54], "hint" : "      ^#0050c0;SEARCH", "maxWidth" : 120, "escapeKey" : "close", "enterKey" : "filter", "focus" : false },

    "scrollArea" : {
      "type" : "scrollArea", "rect" : [6, 66, 134, 256], "children" : {
        "itemList" : {
          "type" : "list", "schema" : {
            "selectedBG" : "/interface/alta/crafting/item/120/act.png", "unselectedBG" : "/interface/alta/crafting/item/120/def.png",
            "spacing" : [0, 1], "memberSize" : [125, 18], "listTemplate" : {
              "background" : { "type" : "image", "file" : "/interface/alta/crafting/item/120/def.png", "position" : [2, 0], "zlevel" : -1 },
              "itemName" : { "type" : "label", "position" : [24, 5], "hAnchor" : "left", "wrapWidth" : 126, "value" : "Replace Me" },
              "itemIcon" : { "type" : "itemslot", "position" : [2, 0], "callback" : "null" },
              "newIcon" : { "type" : "image", "position" : [114, 5], "file" : "/interface/alta/crafting/new.png", "zlevel" : 2 },
              "moneyIcon" : { "type" : "image", "position" : [82, 1], "file" : "/interface/money.png" },
              "priceLabel" : { "type" : "label", "position" : [94, 1], "hAnchor" : "left", "value" : "0" },
              "notcraftableoverlay" : { "type" : "image", "file" : "/interface/alta/crafting/item/120/blk.png", "position" : [2, 0], "zlevel" : 1 }
            }
          }
        }
      }
    },

    "tab1" : { "type" : "image", "position" : [6,  257], "zlevel" : 3, "file" : "/items/active/alta/loot/tier0.png" },
    "tab2" : { "type" : "image", "position" : [22, 257], "zlevel" : 3, "file" : "/items/active/alta/loot/tier1.png" },
    "tab3" : { "type" : "image", "position" : [38, 257], "zlevel" : 3, "file" : "/items/active/alta/loot/tier2.png" },
    "tab4" : { "type" : "image", "position" : [54, 257], "zlevel" : 3, "file" : "/items/active/alta/loot/tier3.png" },
    "tab5" : { "type" : "image", "position" : [70, 257], "zlevel" : 3, "file" : "/items/active/alta/loot/tier4.png" },
    "tab6" : { "type" : "image", "position" : [86, 257], "zlevel" : 3, "file" : "/items/active/alta/loot/tier5.png" },
    "tab7" : { "type" : "image", "position" : [102,257], "zlevel" : 3, "file" : "/items/active/alta/loot/other/gsr.png" },
    "tab8" : { "type" : "image", "position" : [118,257], "zlevel" : 3, "file" : "/items/active/alta/loot/other/gsr.png" },

    "bg1" : { "type" : "image", "position" : [6,  257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg2" : { "type" : "image", "position" : [22, 257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg3" : { "type" : "image", "position" : [38, 257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg4" : { "type" : "image", "position" : [54, 257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg5" : { "type" : "image", "position" : [70, 257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg6" : { "type" : "image", "position" : [86, 257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg7" : { "type" : "image", "position" : [102,257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },
    "bg8" : { "type" : "image", "position" : [118,257], "zlevel" : -1, "file" : "/interface/alta/crafting/tab.png" },

    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [6,  257], "selected" : true, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png",
          "data" : { "filter" : [ "group-1" ] }
        },
        {
          "position" : [22, 257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-2" ] }
        },
        {
          "position" : [38, 257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-3" ] }
        },
        {
          "position" : [54, 257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-4" ] }
        },
        {
          "position" : [70, 257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-5" ] }
        },
        {
          "position" : [86, 257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-6" ] }
        },
        {
          "position" : [102,257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-7" ] }
        },
        {
          "position" : [118,257], "baseImage" : "/interface/crafting/unselectedTab.png", "baseImageChecked" : "/interface/crafting/selectedTab.png",
          "data" : { "filter" : [ "group-8" ] }
        }
      ]
    },
    "rarities" : { "type" : "radioGroup", "toggleMode" : true, "buttons" : [ ] }
  }
}
