// All alta phrases and lines, used by NPCs and tenants added by this mod.
// Useful to know:
// - <entityname> is the target's name.
// - <selfname> is the source's name.
// - <role> (in crew status) - refers to crewmate's role name.
// - <field> (in crew status) - refers to crewmate's general field of proffesion.
{
  "greeting" : {
    "alta" : {
      "generic" : [  // Towards any species
        "Hi-hello!",                      // Slight shyness/unsureness
        "Ashal'!"                         // Greetings!
      ],
      "default" : [  // Towards non-alta species only
        "Hi, friend! Nice to meet you!",  // Firmer approach to unknown species (which is any non-alta species)
        "Good to meet you, friend!",      // Same firmness, good manners, neutral, slightly friendly greeting
        "...",                            // Hesitant to talk to unknown species, not sure what to say or how to phrase it better
        "Ashal', friend!"                 // Mix of alien words and of a firm greeting
      ],
      "alta" : [  // Towards altas only
        "He-ya!",                         // Relaxed, at-home feel
        "Ai, sis!",                       // Hey, sis! (Sister)
        "What's up?",                     // Casual
        "Ai-ai! Wanna talk?",
        "Ashal', sis!",
        "Hii!",                           // Playful/cheerful
        "Hey, sis.",                      // Casual
        "Aii!"
      ]
    },
    "default" : { "default" : [ "..." ] }
  },
  "converse" : {
    "alta" : {
      "generic" : [
        // Random
        "I had an ava prepare a special blue boil for me this morning. Never thought ayas could taste this great!",  // Ava = friend (generalized)
        "I love all my alta sisters!",
        "How was your day, sweetheart?",
        "Not sure if I'm too used to the soft climate in my city, but I don't seem to handle temperature changes very well...",
        "I've got a message from my former caretaker today, it was very cheerful! I miss her a bit... But I know other altas need her more than I do.",
        "My ava's caretaker called me a good girl today. I think I'm in love... ><",
        "You're a traveler, right? Have you ever met a real spacedrifter?! I wonder if I get to one day as well...",
        "Have been thinking a lot about space recently, wondering what it's like to be a spacedrifter...",
        // Patriotic
        "I'm so proud of all the scientific progress our species has made over the years, together we'll build a brighter future!",
        "Sometimes I like to simply admire the crystal gardens of my home planet. Don't relly know how to describe the feeling.",
        "I do regular volunteer social works to keep the place clean. It's nice when things like this are encouraged and rewarded.",
        "I like having a waving alta flag out of my window wherever I stay. Just to show my pride in who I am.",
        // Alta aspirations & factions propaganda (for faction names/unknown terms - refer to /.meta/world.json, or to the Wiki)
        "As a big spacedrifter fan, I really wish I could one day join them and show my worth...",  // Spacedrifters
        "As a big arknight fan, I really wish I could one day join them and show my worth...",      // Arknights
        "As a big Faradea fan, I really wish I could one day join them and show my worth...",       // Faradea
        "As a big EDS fan, I really wish I could one day join them and show my worth...",           // EDS
        "As an aspiring caretaker, I really wish I could one day join them and show my worth...",   // Caretakers (Elin Gardens, CorFals, etc)
        "As an aspiring scout, I really wish I could one day join them and show my worth...",       // Scouts
        "As an aspiring guardian, I really wish I could one day join them and show my worth...",    // Security
        "As an aspiring soldier, I really wish I could one day join them and show my worth..."      // Combat
      ],
      "default" : [
        // ...
        "...",
        "...?",
        "?...",
        "...",
        // Unfamiliar creature
        "You don't look like an alta... Wait, you're not?! So cool!",
        "I rarely get far from home, but whenever I do, I try to make myself feel at home still.",
        "Wishing that one day I can become an full-on scava! ..Scout, I mean. Sorry, I'm still learning the language.",
        "What species are you? We look so simiral, yet so different! Fascinating!",
        "I'm an alta! I'm a bionical creature, whatever that means. I've heard that most humanoid creatures out there are made out of... meat?",
        "Do you like stardust? I do! I think most altas do, actually. Haven't checked tho obviously so who knows.",
        // Explaining language
        "Do you want to be my ava? It means \"friend\" in alkey.",
        "Did you know that droi means \"robot\" in alkey? While droid in alkey is \"dron\". A little confusing, I know.",
        "What's your favourite cal type? ... I mean crystal, sorry. Some words are so much shorter in alkey, it's a bit hard to unlearn.",
        "Wanna see my nami drei? I think that means \"a personal drone\" in your language, but I'm not sure...",
        "Do you speak alkey, friend?",
        "What's your name? <entityname>? I'm <selfname>, by the way. Not sure if that means anything in other languages.",
        // Alkey
        "A va ke go dvae sori? ...?",                    // Do you know where's the bathroom? ...?
        "Aii! A va ai?",                                  // Heyy! Are you ok?
        "Na hnove naava dei... Ee taf ne rae ika ta!..",  // I've lost my personal drone... And I still can't find it!..
        "Na lue Io vi nato na, vaei ottou."               // I can feel Io's sight on me, watching from afar.
      ],
      "alta" : [
        // What's up?
        "What's up, sis?",
        "Sup, sis?",
        "How was your day, sweetheart?",
        "How's it going, sis?",
        // Friendly
        "You wanna kiss, sis? ..? Aww, that face is precious~ «",
        "I think I would look slightly taller than you in my party heels. I guess that means I can call you a little one. Muah-hah-hah.",
        "I like you! Wanna be avas?",
        "...Can I hold your hand? Sorry, I feel a bit lonely today, don't even know why...",
        // Compliments
        "You look amazing today sis! Wanna hang out?",
        "You are precious. Just so you know that.",
        "You're such a good girl! Blushing now, huh?",
        "You look very beautiful!",
        // Other
        "Isn't it nice to relax once in awhile, right, sis?",
        "I'm a bit busy right now, sorry sis.",
        "I think I saw a non-alta today. Are they your ava, sis?",
        "Where did my lunch go?.. It was a precious gillikada with some sweet-sweet yaarings!",
        // Interests
        "Who's your favourite singer? I'm mostly into chillbeats, but like other stuff too.",
        "Feeling like going to a playcenter today, if I have time.",
        "I've read Nana's cooking guide recently, might try making something from nia cuisine soon.",
        "Sis, wanna hang out? Maybe we could do something together?"
      ]
    },
    "default" : { "default" : [ "..." ] }
  },
  "accuse" : {
    "alta" : {
      "generic" : [
        "But that's not... yours...",
        "That's not yours!",
        "No!!",
        "Please stop!!"
      ],
      "default" : [
        "Please don't take what's not yours.",
        "Don't touch anything please...",
        "Stop this!!",
        "What are you doing?"
      ],
      "alta" : [
        "Sis?...",
        "Don't do this please, sis.",
        "B-but... That's not...",
        "But..."
      ]
    },
    "default" : { "default" : [ "...!" ] }
  },
  "alert" : {
    "alta" : {
      "generic" : [
        "I'll need to report this...",
        "I'm going to alert security..."
      ],
      "default" : [
        "Don't take what's not yours! I'm calling vardas!",
        "Ghlea!! Atai!",
        "Noda chinae, te neai... Vardai!!",
        "Vardai!!"
      ],
      "alta" : [
        "I'll have to call vardas, sis. I'm sorry.",
        "She's taking stuff that's not hers!..",
        "Why, sis?! You know I'll have to call the vardas here!",
        "Help!! Someone!"
      ]
    },
    "default" : { "default" : [ "!" ] }
  },



  // Guard
  "hail" : {
    "alta" : {
      "generic" : [
        "For Alliana!",
        "For Al'deron!"
      ],
      "default" : [
        "May Io be with you.",
        "Welcome, traveler.",
        "Welcome, stranger. Please be careful.",
        "...",                                                              // Silent welcome
        "Ashal', stranger. Please follow the rules and have a nice stay!",
        "Ashal', neva.",                                                    // Greetings, stranger.
        "This place is very secure. Please don't try anything.",
        "Please deposit any energy tools before continuing."                // In reference to any weapons
      ],
      "alta" : [
        "Ai! Have a nice stay, sis.",
        "Welcome, sis. Please be careful.",
        "Ashal', sis. Please register if you haven't already.",
        "Just passing by, sis? I can show you the place if you want.",
        "Ashal', sis! Nice to meet a fellow alta. Be careful out there.",
        "Sis, I hope you're not a Faradea merc? If you are, please deposit all your energy tools here.",
        "Please deposit any energy tools, sis. Safety matters.",
        "Safety and security first. Call me if anything, sis."
      ]
    },
    "default" : { "default" : [ "..." ] }
  },



  // Merchant
  "start" : {
    "alta" : {
      "generic" : [
        "Welcome! Trading anything for pixels and back!",
        "See if you like anything!",
        "One hug as a free gift!",
        "Like the items you see?"
      ],
      "default" : [
        "Do you have credits? Crystals? No? Pixels will suffice too.",
        "Here's my assortment, friend!"
      ],
      "alta" : [
        "Anything for you, sis!",
        "Hugs are free, just saying, sis."
      ]
    },
    "floran" : { "default" : [ "Let'sss trade!" ] },
    "default" : { "default" : [ "..." ] }
  },
  "end" : {
    "alta" : {
      "generic" : [
        "How was it?",
        "Any feedback is appreciated.",
        "Come back if you want to trade more!",
        "I hope I was helpful!"
      ],
      "default" : [
        "Will that be all, friend?",
        "Hope you liked the items, friend!"
      ],
      "alta" : [
        "Did you like what you saw, sis?",
        "We can hug now, r-right?.."
      ]
    },
    "floran" : { "default" : [ "Come back and ssspend more!" ] },
    "default" : { "default" : [ "..." ] }
  },
  "follow" : {
    "alta" : {
      "generic" : [
        "I've got everything over there, let's go!",
        "All my stuff is that way!"
      ],
      "default" : [
        "Follow me, friend!",
        "Kida na!"
      ],
      "alta" : [
        "It's over there, sis!",
        "Follow me, sis!"
      ]
    },
    "floran" : { "default" : [ "Floran hid all the shiniesss here." ] },
    "default" : { "default" : [ "..." ] }
  },
  "welcome" : {
    "alta" : {
      "generic" : [
        "Ok, we're here! Choose anything!",
        "A-a-and, here we are! Welcome!",
        "So... We're here, let's... trade?",
        "Now, let's trade!"
      ],
      "default" : [
        "Se vi ya kvirea!",
        "We can trade here, friend!"
      ],
      "alta" : [
        "It's here, sis!",
        "We're here, sis, let's hug!! Err, I meant trade. Of course."
      ]
    },
    "floran" : { "default" : [ "Sssee what you like." ] },
    "default" : { "default" : [ "..." ] }
  },
  "tout" : {
    "alta" : {
      "generic" : [
        "I've got stuff for exchange!",
        "Looking to trade?",
        "H-hey... I... I'm selling stuff... I-if you're interested...",
        "Would you want to trade by any chance?"
      ],
      "default" : [
        "An alta shop, with exclusive alta items!",
        "Hey friend, do you want to buy anything?"
      ],
      "alta" : [
        "Hey sis, wanna trade?!",
        "Sis! Let's trade!"
      ]
    },
    "floran" : { "default" : [ "Bessst shiniess for sssale!" ] },
    "default" : { "default" : [ "!" ] }
  },



  // NPC-specific phrases //
  // Merchant tout
  "artist" : {  // Tout phrases of the artist npc
    "alta" : {
      "generic" : [
        "I'm an aspiring artist! Wanna see my works?!",
        "I'm showing of some of my works for sale, want to see?"
      ],
      "default" : [
        "Hey friend, are you interested in art?",
        "Do you like artwork, friend?"
      ],
      "alta" : [
        "Hey sis, wanna see some cool art of mine?",
        "Sis! Look! I made a thing!"
      ]
    }
  },
  "crystal" : {  // Tout phrases of the crystal-selling npc
    "alta" : {
      "generic" : [
        "Ai! Wanna see my crystals collection?",
        "Let's trade shinies!"
      ],
      "default" : [
        "Oe, ava! Na e chie cal vizhi, le vi?",  // Hey there, friend! I'm selling crystallic items, wanna see?
        "I'm a crystal trader, friend! Come see my goods!"
      ],
      "alta" : [
        "Sis, I have some calin shinies! For exchange!",
        "Wanna trade shinies, sis?"
      ]
    }
  },
  "yaara" : {  // Tout phrases of the yaara-selling npc
    "alta" : {
      "generic" : [
        "Ai! Wanna see my yaara garden?",
        "How about some fresh yaara eyes?"
      ],
      "default" : [
        "Oe, ava! Na e chie yaa vizhi, le vi?",  // Hey there, friend! I'm selling yaara items, wanna see?
        "I'm a yaara gardener, friend! Come see my wares!"
      ],
      "alta" : [
        "Sis, I have so much yaara back there, wanna see?",
        "Want some yaara goodies, sis?"
      ]
    },
    "floran" : {
      "generic" : [
        "Sssacred plant for sssale by Floran.",
        "Floran sssells yaara plantsss, come and check."
      ],
      "default" : [
        "Come buy sssacred plant, ssstranger.",
        "I trade sssacred shiniess for pixelsss."
      ],
      "alta" : [
        "Blue girl wantss sssacred plant? Floran sssells!",
        "Crysstal perssson lookss peaceful. Floran open to trade!"
      ]
    }
  },
  "warped" : {  // Tout phrases of the warped-selling npc
    "alta" : {
      "generic" : [
        "Mind grabbing some nivera?",
        "Careful! Warped growth! Unless you're interested of course..."
      ],
      "default" : [
        "I have some dangerous plants with me, friend. Wanna see?",
        "I'm a warped gardener, friend! Come see my wares!"
      ],
      "alta" : [
        "Sis, I have some calin shinies! For exchange!",
        "Wanna trade shinies, sis?"
      ]
    }
  },
  "viona" : {  // Tout phrases of the enchanted npc
    "alta" : {
      "generic" : [
        "Ai! Wanna see my viona collection?",
        "Let's trade magics!"
      ],
      "default" : [
        "Oe, friend! I've got some enchanted items for sale!",
        "Wanna see some magic, friend?"
      ],
      "alta" : [
        "Sis, wanna see a magic trick?!",
        "I've got some cool viona stuff, sis!"
      ]
    }
  },
  "stardust" : {  // Tout phrases of the stardust-selling npc
    "alta" : {
      "generic" : [
        "Ai! Wanna see my stardust collection?",
        "Let's trade sparkles!"
      ],
      "default" : [
        "Oe, ava! Na e chie staris vizhi, le vi?",  // Hey there, friend! I'm selling stardust items, wanna see?
        "Have you ever seen pure stardust, friend?"
      ],
      "alta" : [
        "I have lots of staris, sis!",
        "Want some stardust, sis?"
      ]
    }
  },
  "chef" : {  // Tout phrases of the chef npc
    "alta" : {
      "generic" : [
        "I'm a professional chef! Want to see my best items?",
        "Would you like some freshly baked goods?"
      ],
      "default" : [
        "Hey friend, would you be interested in a chef's craft?",
        "I'm an alta chef! Come check my menu, friend!"
      ],
      "alta" : [
        "Sis, wanna check out my menu?",
        "Hey sis, I can cook stuff for you!"
      ]
    }
  },
  "bartender" : {  // Tout phrases of the bartender npc
    "alta" : {
      "generic" : [
        "Hey, I'm a bartender! Want to see my best mixes?",
        "Would you like some freshly prepared drinks?"
      ],
      "default" : [
        "Hey friend, would you be interested in some tea?",
        "I'm an alta bartender! Come check my menu, friend!"
      ],
      "alta" : [
        "Sis, wanna check out my menu?",
        "Hey sis, I can make some tea for you!"
      ]
    }
  },
  "gardener" : {  // Tout phrases of the gardener npc
    "alta" : {
      "generic" : [
        "I'm a professional gardener! Want to see my best flowers?",
        "Would you like some rare plants?"
      ],
      "default" : [
        "Hey friend, would you be interested in some gardening appliances?",
        "I'm an alta gardener! Come see my wares!"
      ],
      "alta" : [
        "Sis, wanna check out my flowers?",
        "Hey sis, I can give you some fresh fruits!"
      ]
    }
  },
  "designer" : {  // Tout phrases of the designer npc
    "alta" : {
      "generic" : [
        "I'm an aspiring designer! Wanna see my works?!",
        "I work in a designer association! Let me know if you're interested!"
      ],
      "default" : [
        "Hey friend, are you interested in designer clothes?",
        "Do you want to get a wardrobe refresh, friend?"
      ],
      "alta" : [
        "Hey sis! I'm a clothes designer, wanna see?",
        "Sis! Look! I made a thing!"
      ]
    }
  },
  "party" : {  // Tout phrases of the party npc
    "alta" : {
      "generic" : [
        "Let's throw a party!!",
        "Hey-hey, get some fancy party stuff over here!"
      ],
      "default" : [
        "I've got some partying equipment, want to have a look?",
        "Do you like partying, friend? I have some goods that might interest you!"
      ],
      "alta" : [
        "Let's play, sis~~",
        "How about some fun, sis? «"
      ]
    }
  },
  "engineer" : {  // Tout phrases of the engineer npc
    "alta" : {
      "generic" : [
        "I'm an engineer! Are you interested in wirings?",
        "Are you looking for any wiring components by any chance?"
      ],
      "default" : [
        "Hey friend, I have some engineering goods for trading!",
        "I'm an alta engineer! Do you need anything?"
      ],
      "alta" : [
        "Sis, I can engineer some stuff for you!",
        "Look what I can do with electronics, sis!"
      ]
    }
  },
  "mechanic" : {  // Tout phrases of the mechanic npc
    "alta" : {
      "generic" : [
        "I fix mechanisms around here! Interested in spare parts?",
        "Are you looking for any mechanical components by any chance?"
      ],
      "default" : [
        "Hey friend, I have some mechanical parts for trading!",
        "I'm an alta mechanic! Do you need anything?"
      ],
      "alta" : [
        "Sis, I can build some stuff for you!",
        "Look what I can do with mechs, sis!"
      ]
    }
  },
  "collectioner" : {  // Tout phrases of the collectioner npc
    "alta" : {
      "generic" : [
        "I collect rare stuff! Wanna take a look at my findings?",
        "Interested in some rarity?"
      ],
      "default" : [
        "Looking for any antiques, friend?",
        "I'm an alta collectioner! Wanna buy some trophies?"
      ],
      "alta" : [
        "Hey sis, I have some rare shinies~~",
        "Wanna look at my collection, sis?"
      ]
    }
  },
  "servicer" : {  // Tout phrases of the servicer npc
    "alta" : {
      "generic" : [
        "Would you like anything simple?",
        "Basic essentials at your service!"
      ],
      "default" : [
        "Hi friend, are you interested in some essentials?",
        "I'm an alta servicer. Let me know if you need anything."
      ],
      "alta" : [
        "Do you need anything, sis?",
        "Hey, sweetheart, I'm at your service!~"
      ]
    }
  },
  // Converse
  "dancer" : {  // Converse phrases of the dancer npc
    "alta" : {
      "generic" : [
        // Insight
        "I'm a professional dancer! Wanna see me do a backflip?!",
        "Dancing makes me feel relaxed and helps me air from time to time.",
        "So exhausted... Never, ha!",
        // Singing
        "Get up on the floor, dancing all night long~~",
        "Dancing 'til the break of dawn...~",
        "Dancing in the moonlight, gazing at the stars so bright...~"
      ],
      "default" : [
        // Friendly
        "Hey friend, do you like dancing?",
        "What music do you like?",
        // Educational
        "Many altas are very good at dancing, having lots of different styles and schools in our culture!",
        "Do your species have any memorable dances? I'd love to learn one!"
      ],
      "alta" : [
        // Singing
        "Dancing is what to do, dancing's when I think of you «",
        "Dancing's what clears my soul, dancing's what makes me whole",
        // Playful
        "Let's dance, sis!",
        "Wanna dance together?~ «",
        "Hey, kitten «",
        "Watch my moves, sis~"
      ]
    }
  },
  "official" : {  // Converse phrases of most guard npcs and the official npc
    "alta" : {    // These are noticeably more reserved and educated about outside world than regular alta phrases
      "generic" : [  // Neutral
        "Today is a nice day, isn't it?",
        "How are you?",
        "I like rules.",
        "I think I forgot my credits again...",
        // Professional
        "Let's be the best versions of ourselves!",
        "I hope I can be at your service today.",
        "Another busy day I guess.",
        "Be careful out there, okay?"
      ],
      "default" : [  // Aware of other species and tries to be educative towards them, while showing pride of her home and culture
        "I hope you'll be polite to others.",
        "Let me find you in the database real quick... <entityname>, right?",  // <entityname> is replaced by the game with the target's name.
        "Every alta matters.",
        "I'm so proud to be able to represent my species in this way!",
        "Nice to meet you, friend.",
        "Please be careful - most altas are not used to your species. Thank you for understanding.",
        "If you were looking for an alta, you found one, my friend.",
        "Being an official alta figure implies a set of responsibilities, like knowing other languages, or educating others about our species."
      ],
      "alta" : [  // Caring and protective, almost motherly-like attention and moral elevation
        // Celebratory
        "Go forth with pride, sis!",
        "No matter what, be proud of who you are.",
        // Protective
        "Don't be afraid, sweetheart.",
        "Everything will be okay, little one.",
        // Caring
        "Have you been good lately?~",
        "Aww, you poor thing~",
        "Don't be a silly bean.",
        "You look great today, sis!"
      ]
    }
  },
  "science" : {  // Converse phrases of most science-related npcs
    "alta" : {    // These are noticeably more reserved and educated about science than regular alta phrases
      "generic" : [  // Scientific
        "Today is a nice day... for science.",
        "Let's thrive to the peak of knowledge!",
        "Let's study those crystals!",
        "I hope today is the day of another great discovery.",
        // Neutral
        "How are you?",
        "I think I forgot my visor again...",
        "Another busy day I guess.",
        "Life is interesting, isn't it?",
        // Busy
        "If the overall stucture of its molecules can withstand the pressure testing...",
        "...",
        "...does it make it a proper category? Or should I refactor...",
        "...oh wait, I forgot a variable."
      ],
      "default" : [
        "Hungry for some sacred alta knowledge, friend?",
        "Didn't know these topics would interest a non-alta.",
        "The world you're from must be so different to mine... Hard to imagine, but I'm very curious!",
        "I'm so proud to be able to represent my species in this way!",
        "Nice to meet you, friend.",
        "Please be careful - most altas are not used to your species. Thank you for understanding."
      ],
      "alta" : [
        "No matter what, be proud of who you are.",
        "Isn't this world wonderful, sis?",
        "Sis, wanna hear my latest thesis?~",
        "Nice to see you~",
        "Don't mind me, sis, just doing some calculations.",
        "You look great today, sis!"
      ]
    }
  },
  "social" : {  // Converse phrases of the social worker npc (as well as resque npcs)
    "alta" : {
      "generic" : [
        "Cleaniness is key to health!",
        "Volunteering to make things better for everyone is one of the best ways to spend time.",
        "Helping people makes me happy and gives me purpose.",
        "So many things to do...",
        // Taglines
        "Time to make things right!",
        "This mess won't clean itself!",
        "Let's go social work!",
        "To the last bit!"
      ],
      "default" : [
        "Do you need any help, friend?",
        "I'm an alta social worker! I help the public and people around me to make the world a better place!",
        "Are you interested in cleaning, helping others, resquing people?",
        "Sorry, friend, do you happen to have a spare shovel on you?"
      ],
      "alta" : [
        "Let's clean this mess, sis!",
        "Can I help you, sis? Pleeeease~~",
        "Sorry, sis, can you raise your legs please? I need to mop the floor...",
        "Careful, sis, you've got something on your face!"
      ]
    }
  },
  "merc" : {  // Converse phrases of faradea and merc npcs
    "alta" : {
      "generic" : [
        "Life is an amazing little thing. Be sure to not miss it.",
        "The power in your hands also means knowing how to handle it."
      ],
      "default" : [
        "Adventurers from afar like you inspire altas to search their own adventures.",
        "Hold on tight, stranger, I might bite! Hehe~"
      ],
      "alta" : [
        "Wanna get handcuffed, sis?~~ No? Sad.",
        "Need a merc's help, sis?~"
      ]
    }
  },
  // Hail
  "medic" : {  // Hail phrases of the medic npc
    "alta" : {
      "generic" : [
        "Stay healthy!",
        "Eat your vegetables!",
        "Stay hydrated!",
        "Colorful bandades? Anyone?"
      ],
      "default" : [
        "Take your pills!",
        "Need medical attention, friend?"
      ],
      "alta" : [
        "Are you being healthy, sis?~",
        "Are you hurt, sweetheart?"
      ]
    }
  },
  "faradea" : {  // Hail phrases of faradea and merc npcs
    "alta" : {
      "generic" : [
        "To our own path!",
        "Another night under these beautiful stars..."
      ],
      "default" : [
        "How are you holding up, stranger?",
        "Be careful, stranger.",
        "I'm watching you, stranger."
      ],
      "alta" : [
        "Na Faradea, sis!",
        "I'll protect you, sis~ «"
      ]
    }
  },



  // Tenant
  "tagCriteria" : {
    "alta" : {
      "generic" : [
        "I think I'm missing something important in my home.",
        "I'm missing some necessary things here. Could you please give them back?",
        "But... I needed that...",
        "I'll be honest - I was fine with how things were a second ago..."
      ],
      "default" : [
        "Sorry, I need specific things with me to feel at home.",
        "Hey friend, do you mind putting that back?"
      ],
      "alta" : [
        "Can you please put that back, sis?...",
        "Sis?... You'll put things back, right?..."
      ]
    },
    "default" : { "default" : [ "..." ] }
  },
  "enclosedArea" : {
    "alta" : {
      "generic" : [
        "Not the best time for renovation works.",
        "Uhhh... I think I liked it better when I had proper walls around me...",
        "Sooo, you're going to put that wall back, right?",
        "That's a bit concerning..."
      ],
      "default" : [
        "Sorry, friend, in alta culture we're very used to having proper walls where we live.",
        "Friend, is it okay for you to fix that wall for me?"
      ],
      "alta" : [
        "I like having walls, sis. Everyone needs personal space.",
        "Aaaand there goes one of the walls. Nice job, sis! Love you! Please fix!"
      ]
    },
    "default" : { "default" : [ "...!" ] }
  },
  "otherDeed" : {
    "alta" : {
      "generic" : [
        "I didn't know I'd have a roommate?...",
        "But... I thought I'm gonna have this whole room to myself..."
      ],
      "default" : [
        "Friend? What are you doing? I tohught you gave this room to me?...",
        "Sorry, friend, but I'm not very prepared for a roommate right now. Even if it's another alta."
      ],
      "alta" : [
        "Don't do this, sis...",
        "Sis? Is that another deed?"
      ]
    },
    "default" : { "default" : [ "...?!" ] }
  },
  "severe" : {
    "alta" : {
      "generic" : [
        "This is upsetting...",
        "I can't live here like this..."
      ],
      "default" : [
        "I wanna go home...",
        "I don't feel good about this, friend. I think I'm gonna have to leave."
      ],
      "alta" : [
        "Sis, I can't live like this, please listen to me!",
        "This is not ok, sis..."
      ]
    },
    "default" : { "default" : [ "!!" ] }
  },
  "final" : {
    "alta" : {
      "generic" : [
        "I'm leaving. Sorry.",
        "This is too much... I'll leave now."
      ],
      "default" : [
        "Sorry friend, I'm going to have to leave. Goodbye.",
        "I know I'm bad at talking to non-alta species, but it really feels like you're not listening at all."
      ],
      "alta" : [
        "I'm leaving, sis. Sorry about that.",
        "I have to go, sis. I can't live like this."
      ]
    },
    "default" : { "default" : [ "!!!" ] }
  },
  "beacon" : {
    "alta" : {
      "generic" : [
        "Did you call me?",
        "Be right there!"
      ],
      "default" : [
        "I'm here, friend! Did you want something?",
        "How do you do, friend?"
      ],
      "alta" : [
        "You wanna chat, sis?",
        "Awww, does someone need a hug? «"
      ]
    },
    "default" : { "default" : [ "?" ] }
  },
  "rent" : {
    "alta" : {
      "generic" : [
        "Hey... Here. Hope you like it!",
        "Here's a gift for your kindness!"
      ],
      "default" : [
        "Take this. Thank you for everything, friend.",
        "Yae te fond, na mia ava!"
      ],
      "alta" : [
        "Thanks for being the best, sis!",
        "Sis, I... Here."
      ]
    },
    "default" : { "default" : [ "..." ] }
  },



  // Hostile
  "reattack" : {
    "alta" : {
      "generic" : [
        "I'm not giving up that easy!",
        "Look who's back!"
      ],
      "default" : [
        "Leave this alone, stranger!",
        "Why won't you just leave..."
      ],
      "alta" : [
        "You really want this, sis?",
        "Ae-ae, here for more, sis?"
      ]
    },
    "default" : { "default" : [ "!" ] }
  },
  "attack" : {
    "alta" : {
      "generic" : [
        "Ae-ae!",
        "Hii, want to fight?!"
      ],
      "default" : [
        "It's a fight!",
        "Surprize, stranger!"
      ],
      "alta" : [
        "Sis, wanna fight?!",
        "Oa, sis! Fight first, hugs after!"
      ]
    },
    "default" : { "default" : [ "!" ] }
  },
  "killedTarget" : {
    "alta" : {
      "generic" : [
        "Ai, that's it!",
        "Whoops?.."
      ],
      "default" : [
        "One down!",
        "Unfortunate, stranger."
      ],
      "alta" : [
        "Now I've got ya, sis!~",
        "There we go~ «"
      ]
    },
    "default" : { "default" : [ ] }
  },
  "lostTarget" : {
    "alta" : {
      "generic" : [
        "Wait, where are you?",
        "Where did you..."
      ],
      "default" : [
        "Where did they go...",
        "They're hiding, huh."
      ],
      "alta" : [
        "Are you hiding, sis? «",
        "Come out-come out, sweetheart!"
      ]
    },
    "default" : { "default" : [ "?.." ] }
  },
  "outOfSight" : {
    "alta" : {
      "generic" : [
        "Nothing in sight...",
        "Can't see you anymore, come back!"
      ],
      "default" : [
        "I can hear you, stranger.",
        "Can't see them anymore."
      ],
      "alta" : [
        "Where are you going, sis?",
        "Come back, sis!"
      ]
    },
    "default" : { "default" : [ "?" ] }
  },
  "cantReach" : {
    "alta" : {
      "generic" : [
        "I can't reach you...",
        "How do I get to you?!"
      ],
      "default" : [
        "I need to reach you somehow...",
        "Come closer, stranger."
      ],
      "alta" : [
        "Please come closer, sis~",
        "Sis, that's unfair!.."
      ]
    },
    "default" : { "default" : [ "?!" ] }
  },
  "cheerOn" : {
    "alta" : {
      "generic" : [
        "I'm rooting for you!",
        "Show them your worth!"
      ],
      "default" : [
        "Oa-oa, get them, friend!",
        "Show them what you're made of, friend!"
      ],
      "alta" : [
        "Go, sis, go!",
        "I believe in you, sis!"
      ]
    },
    "default" : { "default" : [ ] }
  },



  // Help
  "helpme" : {
    "alta" : {
      "generic" : [
        "Help!..",
        "Oh no, what's happening?!"
      ],
      "default" : [
        "I have to get out of here!",
        "Please help me!"
      ],
      "alta" : [
        "Oh no, why?!",
        "What did I do?!..."
      ]
    },
    "default" : { "default" : [ "!" ] }
  },
  "helpthem" : {
    "alta" : {
      "generic" : [
        "Oh no... They need help!",
        "Somebody help them, please!"
      ],
      "default" : [
        "Our friend is under attack!",
        "They need assistance!"
      ],
      "alta" : [
        "Sis, I'll call for help!!",
        "Oh no, sis!!"
      ]
    },
    "default" : { "default" : [ "!" ] }
  },
  "encourage" : {
    "alta" : {
      "generic" : [
        "I'm rooting for you!",
        "Show them your worth!"
      ],
      "default" : [
        "Oa-oa, get them, friend!",
        "Show them what you're made of, friend!"
      ],
      "alta" : [
        "Go, sis, go!",
        "I believe in you, sis!"
      ]
    },
    "default" : { "default" : [ "..." ] }
  },
  "safe" : {
    "alta" : {
      "generic" : [
        "It's... over?..",
        "I think I'm safe now..."
      ],
      "default" : [
        "I'm safe! I think...",
        "I need to calm down a little."
      ],
      "alta" : [
        "I'm safe, sis...",
        "I'm so tired..."
      ]
    },
    "default" : { "default" : [ "..." ] }
  },





  // Crew
  "offer" : {
    "alta" : {
      "generic" : [
        "C-can I join your crew?..",
        "Is it okay if I join your team? To go on adventures and fight the baddies? Pleease!",
        "Sooo... I was wodering if you have a place on your ship for one more member?..",
        "Can I be on your team? My name is <selfname> and I promise to behave!"
      ],
      "default" : [
        "I've always wondered what it's like - to traverse the stars! Can I join you, friend?",
        "Many altas dream of becoming a spacedrifter one day. This is my chance!",
        "You're not an alta, but you're still very cool! Can I go with you?",
        "Hey friend, do you happen to have a crew vacancy open?"
      ],
      "alta" : [
        "Sis, you're so cool!! Can I go with you?~~",
        "Can I join you, sis? I'll be a good girl, promise!!",
        "Hey sis, I'd like to join your crew if that's okay...",
        "You're such a sweetheart, <entityname>! Do you mind if I become your crewmate?"
      ]
    }
  },
  "role" : {
    "alta" : {
      "generic" : [
        "I'll stay here. Let me know if you need my help!",
        "Waiting for your signal!"
      ],
      "default" : [
        "You know where to find me, friend.",
        "Will stay here, friend. Let me know if anything!"
      ],
      "alta" : [
        "I'll be here for you, sis...",
        "I'll be waiting for you here!"
      ]
    }
  },
  "respawned" : {
    "alta" : {
      "generic" : [
        "A respawn, huh? Weird.",
        "Did I just... get rebirthed?"
      ],
      "default" : [
        "What is this technology?..",
        "I'm fine... I think?"
      ],
      "alta" : [
        "Dying is scary, sis... ><",
        "Oh. I guess I'm alive."
      ]
    }
  },
  "unfollow" : {
    "alta" : {
      "generic" : [
        "I'll stay here. Let me know if you need my help!",
        "Staying here then!",
        "Waiting for your signal!"
      ],
      "default" : [
        "You know where to find me, friend.",
        "Will stay here, friend. Let me know if anything!"
      ],
      "alta" : [
        "I'll be here for you, sis...",
        "I'll be waiting for you here!",
        "I'll stay here, sis~~"
      ]
    }
  },
  "onfollow" : {
    "alta" : {
      "generic" : [
        "Yay, an adventure!",
        "I'm ready!",
        "I'll show my worth!",
        "Are we going somewhere?"
      ],
      "default" : [
        "I'm following you, captain!",
        "Ready to go, cap!"
      ],
      "alta" : [
        "Let's go, sis!",
        "Yup!",
        "Where are we going, sis?"
      ]
    }
  },
  "cantreach" : {
    "alta" : {
      "generic" : [
        "You're too far!",
        "Please wait!"
      ],
      "default" : [
        "Please wait for me, captain...",
        "You're so far away... How?.."
      ],
      "alta" : [
        "Wait for me, sis!",
        "Where are you going, sis?..",
        "Wait, sis, I'm too slow!!",
        "Stop, sis, I need to catch up!"
      ]
    }
  }
}
