{
    "default" : {
        "tooltipKind" : "ct_alta_item",
        "author" : "Ceterai",
        "level" : 0,
        "build" : { "price" : 0 }
    },
    "species" : {
        "default" : {
            "craftingMaterial" : {
                "build" : { "price" : 20 }
            },
            "food" : {
                "maxStack" : 1000,
                "tooltipKind" : "ct_alta_consumable",

                // Eating effects
                "blockingEffects" : [ "wellfed" ],
                "build" : { "price" : 60, "foodValue" : 7, "rotToEffectRatio" : 0.7 },

                // Rotting
                "agedItem" : "ct_ionic_sap",
                "itemAgingScripts" : ["/items/generic/food/ct_food_aging.lua"]
            },
            "preparedFood" : {
                "maxStack" : 1000,
                "tooltipKind" : "ct_alta_consumable",

                // Eating effects
                "blockingEffects" : [ "wellfed" ],
                "build" : { "price" : 200, "foodValue" : 10 },

                // Rotting
                "agedItem" : "ct_ionic_sap",
                "itemAgingScripts" : ["/items/generic/food/ct_food_aging.lua"]
            },
            "drink" : {
                "maxStack" : 1000,
                "tooltipKind" : "ct_alta_consumable",

                // Eating effects
                "blockingEffects" : [ "wellfed" ],
                "build" : { "price" : 180, "foodValue" : 3 },
                "emitters" : [ "drinking" ],

                // Rotting
                "agedItem" : "ct_ionic_sap",
                "itemAgingScripts" : ["/items/generic/food/ct_food_aging.lua"]
            },
            "cookingIngredient" : {
                "build" : { "price" : 10 },
                "maxStack" : 1000
            },
            // Armor
            "chestarmour" : {
                "maxStack" : 1,
                "build" : { "price" : 1600 }
            },
            "headarmour" : {
                "maxStack" : 1,
                "build" : { "price" : 1000 }
            },
            "legarmour" : {
                "maxStack" : 1,
                "build" : { "price" : 700 }
            },
            "enviroProtectionPack" : {
                "maxStack" : 1,
                "build" : { "price" : 640 }
            },
            // Clothing
            "chestwear" : {
                "maxStack" : 1,
                "build" : { "price" : 1800 }
            },
            "headwear" : {
                "maxStack" : 1,
                "build" : { "price" : 1800 }
            },
            "legwear" : {
                "maxStack" : 1,
                "build" : { "price" : 1800 }
            },
            "backwear" : {
                "maxStack" : 1,
                "build" : { "price" : 1800 }
            },
            // Objects
            "bug" : {
                "race" : "generic",
                "build" : { "price" : 200 }
            },
            "crafting" : {
                "build" : { "price" : 1200 }
            },
            "seed" : {
                "race" : "generic",
                "tooltipKind" : "ct_alta_object",
                "build" : { "price" : 240 }
            }
        },
        "alta" : {
            "craftingMaterial" : {
                "build" : { "price" : 40 }
            },
            // Clothing
            "chestwear" : {
                "maxStack" : 1,
                "build" : { "price" : 320 }
            },
            "headwear" : {
                "maxStack" : 1,
                "build" : { "price" : 320 }
            },
            "legwear" : {
                "maxStack" : 1,
                "build" : { "price" : 320 }
            },
            "backwear" : {
                "maxStack" : 1,
                "build" : { "price" : 640 }
            }
        }
    },
    "spawner" : {
        "animation" : "/items/active/alta/spawner.animation",
        "scripts" : [ "/items/active/alta/spawner.lua" ],
        "build" : { "price" : 240 },

        "stances" : {
          "idle" : {
            "armRotation" : -20, "allowRotate" : true, "allowFlip" : true,
            "animationState" : { "weapon" : "visible" }
          },
          "windup" : {
            "duration" : 0.1, "transitionFunction" : "fire",
            "armRotation" : 70, "allowRotate" : false, "allowFlip" : false,
            "animationState" : { "weapon" : "visible" }
          },
          "throw" : {
            "armRotation" : 0, "allowRotate" : true, "allowFlip" : true,
            "animationState" : { "weapon" : "hidden" }
          }
        }
    },
    "glowstick" : {
        "animation" : "/items/active/alta/glowstick.animation",
        "scripts" : [ "/items/active/alta/glowstick.lua" ],
        "build" : { "price" : 5 },

        "projectileConfig" : {
            "periodicActions" : [
            {
                "time" : 0,
                "repeat" : false,
                "action" : "sound",
                "options" : [ "/sfx/projectiles/throw_item_small.ogg" ]
            }
            ]
        },

        "stances" : {
            "idle" : {
                "armRotation" : -70, "allowRotate" : true, "allowFlip" : true,
                "animationState" : { "weapon" : "visible" }
            },
            "windup" : {
                "duration" : 0.1, "transitionFunction" : "fire",
                "armRotation" : 70, "allowRotate" : false, "allowFlip" : false,
                "animationState" : { "weapon" : "visible" }
            },
            "throw" : {
                "armRotation" : 0, "allowRotate" : true, "allowFlip" : true,
                "animationState" : { "weapon" : "hidden" }
            },
            "wave" : {
                "duration" : 0.3, "transitionFunction" : "wave",
                "armRotation" : [30, 100], "weaponRotation" : 0, "allowRotate" : false, "allowFlip" : true,
                "animationState" : { "weapon" : "visible" }
            },
            "wave2" : {
                "duration" : 0.3, "transitionFunction" : "wave",
                "armRotation" : [100, 30], "weaponRotation" : 30, "allowRotate" : false, "allowFlip" : true,
                "animationState" : { "weapon" : "visible" }
            }
        }
    },
    "loot" : {
        "animation" : "/items/active/alta/loot.animation",
        "scripts" : [ "/items/active/alta/loot.lua" ],
        "build" : { "price" : 80 }
    },
    "set" : {
        "animation" : "/items/active/alta/loot.animation",
        "scripts" : [ "/items/active/alta/loot.lua" ],
        "build" : { "price" : 3200 }
    },
    "tool" : {
        "maxStack" : 1
    },
    "shield" : {
        "scripts" : ["/items/active/shields/ct_alta_shield.lua"],
        "animation" : "/items/active/shields/shield.animation",
        "maxStack" : 1,
        "build" : { "price" : 480 },
        "animationCustom" : {
          "globalTagDefaults" : { "paletteSwaps" : "" },
          "animatedParts" : { "parts" : { "shield" : { "partStates" : { "shield" : {
            "idle" : { "properties" : { "image" : "<partImage>:<hand>idle<paletteSwaps><directives>" } },
            "raised" : { "properties" : { "image" : "<partImage>:<hand>raised<paletteSwaps><directives>" } },
            "block" : { "properties" : { "image" : "<partImage>:<hand>raised<paletteSwaps><directives>" } }
          } } } } },
          "sounds" : {
            "init" : [ ],
            "raiseShield" : [ ],
            "perfectBlock" : [ ],
            "block" : [ ],
            "break" : [ ]
          }
        },
        "stances" : {
          "idle" : {
            "armRotation" : -90,
            "shieldRotation" : 0,
            "allowRotate" : false,
            "allowFlip" : true
          },
          "raised" : {
            "armRotation" : 0,
            "shieldRotation" : 0,
            "allowRotate" : false,
            "allowFlip" : true
          }
        }
    },
    "augment" : {
        "build" : { "price" : 2800 }
    },
    "collar" : {
        "build" : { "price" : 1600 }
    },
    "dye" : {
        "radioMessagesOnPickup" : [ "pickupdye" ],
        "scripts" : [ "/scripts/augments/dye.lua" ],
        "build" : { "price" : 30 }
    },
    "sapling" : {
        "build" : { "price" : 360 }
    },
    "codex" : {
        "race" : "alta",
        "build" : { "price" : 60 }
    }
}
