{
    "species" : {
        "default" : {
            "default" : {
                "author" : "Ceterai",
                "level" : 0,
                "price" : 0
            },
            "craftingMaterial" : {
                "price" : 20
            },
            "food" : {
                "price" : 30,
                "maxStack" : 1000,

                // Eating effects
                "blockingEffects" : [ "wellfed" ],
                "foodValue" : 7,

                // Rotting
                "itemAgingScripts" : ["/items/generic/food/ct_food_aging.lua"],
                "rottingMultiplier" : 0.3
            },
            "cookingIngredient" : {
                "price" : 10
            },
            "mysteriousReward" : {
                "price" : 80,
                "maxStack" : 1000,
                "twoHanded" : false,
                "animation" : "/items/active/alta/loot.animation",
                "scripts" : [ "/items/active/alta/loot.lua" ]
            },
            // Tools
            "shield" : {
                "twoHanded" : false,
                "maxStack" : 1,
                "price" : 480,
                "scripts" : ["/items/active/shields/ct_alta_shield.lua"],
                "animation" : "/items/active/shields/shield.animation",
                "animationCustom" : {
                  "globalTagDefaults" : { "paletteSwaps" : "" },
                  "animatedParts" : { "parts" : { "shield" : { "partStates" : { "shield" : {
                    "idle" : { "properties" : { "image" : "<partImage>:<hand>idle<paletteSwaps><directives>" } },
                    "raised" : { "properties" : { "image" : "<partImage>:<hand>raised<paletteSwaps><directives>" } },
                    "block" : { "properties" : { "image" : "<partImage>:<hand>raised<paletteSwaps><directives>" } }
                  } } } } },
                  "sounds" : {
                    "init" : [ ],
                    "raiseShield" : [ ],
                    "perfectBlock" : [ ],
                    "block" : [ ],
                    "break" : [ ]
                  }
                },
                "stances" : {
                  "idle" : {
                    "armRotation" : -90,
                    "shieldRotation" : 0,
                    "allowRotate" : false,
                    "allowFlip" : true
                  },
                  "raised" : {
                    "armRotation" : 0,
                    "shieldRotation" : 0,
                    "allowRotate" : false,
                    "allowFlip" : true
                  }
                }
            },
            "tool" : {
                "maxStack" : 1,
                "price" : 480
            },
            "uniqueWeapon" : {
                "maxStack" : 1,
                "price" : 480
            },
            "toy" : {
                "maxStack" : 1,
                "price" : 480
            },
            // Ranged
            "pistol" : {
                "maxStack" : 1,
                "price" : 480
            },
            "shotgun" : {
                "maxStack" : 1,
                "price" : 720
            },
            "grenadeLauncher" : {
                "maxStack" : 1,
                "price" : 720
            },
            "sniperRifle" : {
                "maxStack" : 1,
                "price" : 720
            },
            "machinePistol" : {
                "maxStack" : 1,
                "price" : 480
            },
            "rocketLauncher" : {
                "maxStack" : 1,
                "price" : 720
            },
            "assaultRifle" : {
                "maxStack" : 1,
                "price" : 720
            },
            "boomerang" : {
                "maxStack" : 1,
                "price" : 480
            },
            "wand" : {
                "maxStack" : 1,
                "price" : 480
            },
            "chakram" : {
                "maxStack" : 1,
                "price" : 480
            },
            // Melee
            "hammer" : {
                "maxStack" : 1,
                "price" : 720
            },
            "broadsword" : {
                "maxStack" : 1,
                "price" : 720
            },
            "spear" : {
                "maxStack" : 1,
                "price" : 720
            },
            "shortsword" : {
                "maxStack" : 1,
                "price" : 480
            },
            "axe" : {
                "maxStack" : 1,
                "price" : 480
            },
            "whip" : {
                "maxStack" : 1,
                "price" : 480
            },
            "bow" : {
                "maxStack" : 1,
                "price" : 480
            },
            // Armor
            "chestarmour" : {
                "maxStack" : 1,
                "price" : 1600
            },
            "headarmour" : {
                "maxStack" : 1,
                "price" : 1000
            },
            "legarmour" : {
                "maxStack" : 1,
                "price" : 700
            },
            "enviroProtectionPack" : {
                "maxStack" : 1,
                "price" : 640
            },
            // Clothing
            "chestwear" : {
                "maxStack" : 1,
                "price" : 1800
            },
            "headwear" : {
                "maxStack" : 1,
                "price" : 1800
            },
            "legwear" : {
                "maxStack" : 1,
                "price" : 1800
            },
            "backwear" : {
                "maxStack" : 1,
                "price" : 1800
            },
            // Augments
            "eppAugment" : {
                "price" : 2800
            },
            "petCollar" : {
                "price" : 1600
            },
            "clothingDye" : {
                "radioMessagesOnPickup" : [ "pickupdye" ],
                "scripts" : [ "/scripts/augments/dye.lua" ],
                "price" : 30
            },
            "bug" : {
                "race" : "generic",
                "price" : 200
            }
        },
        "alta" : {
            "craftingMaterial" : {
                "price" : 40
            },
            "mysteriousReward" : {
                "price" : 120
            },
            // Clothing
            "chestwear" : {
                "maxStack" : 1,
                "price" : 320
            },
            "headwear" : {
                "maxStack" : 1,
                "price" : 320
            },
            "legwear" : {
                "maxStack" : 1,
                "price" : 320
            },
            "backwear" : {
                "maxStack" : 1,
                "price" : 640
            }
        }
    }
}
