{
  "openWithInventory" : true,
  "gui" : {
    "background" : {
      "zlevel" : 0, "type" : "background",
      "fileHeader" : "/interface/alta/header_200.png",
      "fileBody" : "/interface/alta/body_200_180.png",
      "fileFooter" : "/interface/alta/footer_200.png"
    },
    "windowtitle" : {
      "type" : "title", "title" : "", "subtitle" : "",
      "icon" : { "type" : "image", "file" : "/interface/alta/mini_scanner.png" }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/alta/x.png",
      "hover" : "/interface/alta/xa.png",
      "pressed" : "/interface/alta/xp.png",
      "callback" : "close", "pressedOffset" : [0, 0], "position" : [160, 224]
    },


    // Item Slot
    "itemSlotLabel" : {
      "type" : "label", "position" : [10, 200],
      "hAnchor" : "left",
      "centered" : true,
      "wrapWidth" : 126
    },
    "itemSlot" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [86, 195],
      "callback" : "swapItem",
      "rightClickCallback" : "null",
      "centered" : true
    },
    "itemSlotImage" : {
      "type" : "image",
      "position" : [95, 204],
      "file" : "/interface/alta/slot.png",
      "centered" : true
    },


    // Stats
    "damageKindImage" : {
      "type" : "image",
      "position" : [113, 204],
      "file" : "",
      "centered" : true,
      "maxSize" : [16, 16],
      "minSize" : [16, 16]
    },
    "speciesTitleLabel" : {
      "type" : "label", "position" : [10, 185],
      "hAnchor" : "left",
      "wrapWidth" : 126,
      "value" : ""
    },
    "speciesLabel" : {
      "type" : "label", "position" : [104, 185],
      "hAnchor" : "right",
      "centered" : true,
      "wrapWidth" : 126
    },
    "alkeyTitleLabel" : {
      "type" : "label", "position" : [10, 170],
      "hAnchor" : "left",
      "wrapWidth" : 126,
      "value" : ""
    },
    "alkeyLabel" : {
      "type" : "label", "position" : [104, 170],
      "hAnchor" : "right",
      "centered" : true,
      "wrapWidth" : 126
    },
    "authorTitleLabel" : {
      "type" : "label", "position" : [180, 185],
      "hAnchor" : "right",
      "wrapWidth" : 126,
      "value" : ""
    },
    "authorLabel" : {
      "type" : "label", "position" : [180, 170],
      "hAnchor" : "right",
      "centered" : true,
      "wrapWidth" : 126
    },
    "handednessLabel" : {
      "type" : "label", "position" : [180, 200],
      "hAnchor" : "right",
      "centered" : true,
      "wrapWidth" : 126
    },


    // Description & Lore
    "itemScrollArea" : {
      "type" : "scrollArea", "rect" : [10, 37, 184, 166],
      "children" : {
        "loreLabel" : {
          "type" : "label", "position" : [15, 165],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "fontSize" : 6,
          "wrapWidth" : 165
        }
      }
    },


    // If no item is inserted
    "emptyLabel" : {
      "type" : "label",
      "position" : [96, 160],
      "hAnchor" : "mid",
      "value" : "",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "swapItem"
  ],

  "scripts" : ["/items/active/alta/scanner/gui.lua"],
  "scriptDelta" : 30
}
