{
  "database" : {
    "alienweirdwood" : { "level" : 1,
      "longdescription" : "This type of wood can often be found in botanically diverse environments, for example on mutated planets.",
      "altaDescription" : "So bright! Looks pretty similar to unona wood."
    },
    "alienwoodsap" : {
      "longdescription" : "This generic sap is a mixture of quite a number of biofootprints.",
      "altaDescription" : "So similar to ionic ferment, except less... ionic?"
    },
    "biosample" : {
      "longdescription" : "Most efficient proper biosamples can often be used to create medicine of various types, and sometimes even food.",
      "altaDescription" : "While mostly tasteless, I feel like it adds something to the dish... Heathiness probably?"
    },
    "bottle" : {
      "longdescription" : "Bottles like these, although mostly made of glass, can often be made from crystals. Latter variant is a standard in alta culture.",
      "altaDescription" : "Why make them from glass? Why make anything from glass? Aliens, huh."
    },
    "corefragmentore" : { "level" : 1,
      "longdescription" : "Its reactive nature and overall sturdiness make it a pretty dangerous material to work with.",
      "altaDescription" : "I should be... cautious of it? But it's so pretty!.."
    },
    "crystal" : {
      "longdescription" : "Crystals are a common find on ionic planets, such as ^#20f080;Alterash^reset; and ^#2080f0;Alterash Prime^reset;, and are widely used by altas.",
      "altaDescription" : "A crystal! This means endless possibilities - some of them are even edible!"
    },
    "diamond" : { "level" : 6,
      "longdescription" : "While quite hard and sturdy by nature, it can proof to be a challenge to work with.",
      "altaDescription" : "So pretty! I wish there was an armor set made from these... Oh wait."
    },
    "durasteelbar" : { "level" : 4,
      "longdescription" : "This metal is used all over the universe by various species.",
      "altaDescription" : "Durasteel can be one of the base components for ^#f02020;EDS armor^reset; pieces. Or so I've heard."
    },
    "durasteelore" : { "level" : 4,
      "longdescription" : "Pieces of durasteel are mostly used for filtering into pure durasteel bars, or for refining.",
      "altaDescription" : "So, this is where these dark metals come from..."
    },
    "fabric" : { "level" : 1,
      "longdescription" : "Made from rough plant matter, this fabric provides the most simple cloth functions.",
      "altaDescription" : "Basic fabric. Altas try to use more pleasant materials, like silk and cotton. Or, well, bion."
    },
    "glass" : {
      "longdescription" : "While quite popular in the rest of the universe, it's mostly obsolete in alta culture due to the use of crystals.",
      "altaDescription" : "Erm, glass? Please use crystals next time."
    },
    "glowfibre" : { "level" : 1,
      "longdescription" : "These fibres can often be found in alien and bioluminescent environments, and are often part of a lot of ^#9b2d3f;warped^reset; plants.",
      "altaDescription" : "So pretty and glowy! Also, some of them can be used to extract yonnur, to make other things glow just as much!"
    },
    "greenslime" : {
      "longdescription" : "Simple slime like this doesn't have many uses, but can still be beneficial or efficient in some cases.",
      "altaDescription" : "Regular poi. You can cook it, or throw it at your friends and laugh at them!"
    },
    "larva" : {
      "longdescription" : "Since these are not plant-based and are considered insects, larvas are one of a few animal-based food sources for altas.",
      "altaDescription" : "You can eat these or make a curry from them! I told this to one of my human friends and they shrieked in horror. Humans."
    },
    "leather" : { "level" : 3,
      "longdescription" : "Horrble horrible awful creatures use these materials as clothing and decoration.",
      "altaDescription" : "WHO WOULD DO SOMTHING LIKE THIS?! Why-y?.."
    },
    "moltencore" : { "level" : 5,
      "longdescription" : "Cores like this one are rarely used by altas in colder environments as part of various heating technology.",
      "altaDescription" : "Looks like a piece of heat-based alta technology. Not sure of its purpose."
    },
    "moonstoneore" : { "level" : 1,
      "longdescription" : "In alta culture, this ore is rarely used due to its sparsity and location - it often forms near void areas, making it dangerous to mine.",
      "altaDescription" : "I think I've read about this ore, and how it can be found on some ionic planets due to their moon-like nature."
    },
    "paper" : {
      "longdescription" : "In alta culture, most paper is made from ^#3587ff;ayaka wood^reset;. Even then, it's rarely used in favor of long-lasting multi-use electronic devices, like ebooks, laptops and datamasses.",
      "altaDescription" : "Ah, the documentation, the posters, and how you shouldn't eradicate plants just because you can. Looking at you, humans."
    },
    "prisiliteore" : { "level" : 3,
      "longdescription" : "While often found in prism environments, these also appear on ^#20f080;alterash^reset; planets in form of crystallized ^#ffa8e8;stardust^reset;.",
      "altaDescription" : "Ah, the shimmer of stardust crystals..."
    },
    "prisilitestar" : { "level" : 7,
      "longdescription" : "It's often used as crafting materials for semi-sturdy equipment. In alta culture, it's not used as such. Instead, it's believed to mostly be popular among astas from the alta tales.",
      "altaDescription" : "Didn't know that you could use stardust crystals like that... Neat!"
    },
    "rainbowwood" : { "level" : 2,
      "longdescription" : "Even though it doesn't naturally grow in most alta habitats, due to its beauty it became very popular with them, making alta imports of this wood type into quite a business.",
      "altaDescription" : "So pretty!"
    },
    "silk" : { "level" : 3,
      "longdescription" : "Altas prefer environmentally-friendly silk and cotton to materials like silicon and other synthetic materials.",
      "altaDescription" : "Ah, finally, some good fabric."
    },
    "silkfibre" : { "level" : 3,
      "longdescription" : "Apart from regular sources, these can be gathered from ayakas in their blooming season.",
      "altaDescription" : "This is what the silk is made from!"
    },
    "snowflake" : {
      "longdescription" : "This is what most of the snow in the world is made from.",
      "altaDescription" : "Oh wow, it's so tiny, yet so... majestic!"
    },
    "syntheticmaterial" : { "level" : 4,
      "longdescription" : "Altas prefer environmentally-friendly silk and cotton to materials like silicon and other synthetic materials.",
      "altaDescription" : "This... doesn't even feel good, you feel me?"
    },
    "syringe" : { "level" : 1,
      "longdescription" : "Syringes like these, although mostly made of glass, can often be made from crystals. Latter variant is a standard in alta culture.",
      "altaDescription" : "This is the standard base container for various enhancers."
    },
    "teleportercore" : { "level" : 7,
      "longdescription" : "While a common occurance in the rest of the universe, its pretty sparse inalta culture due to inability to properly produce it, as well as overall expensiveness.",
      "altaDescription" : "Imported alien technology. Pretty neat, although I'm a bit afraid of teleportation and its consequences."
    },
    "titaniumbar" : { "level" : 3,
      "longdescription" : "This metal is considered a staple in alta arcitecture and armory.",
      "altaDescription" : "Classic."
    },
    "titaniumore" : { "level" : 3,
      "longdescription" : "Vastly popular in the rest of the universe, titanium became the key to alta survival due to its protective capabilities.",
      "altaDescription" : "Thank you Io for all this titanium."
    },
    "toxicwaste" : {
      "longdescription" : "Being waste by definition, it doesn't have much uses outside of decoration and recycling.",
      "altaDescription" : "Some say it's useless, I say that, just like poi, you can throw it at your friends and laugh loudly in their face."
    },
    "volatilepowder" : { "level" : 1,
      "longdescription" : "Is often used in simple explosive alta devices, like the thermomix nade.",
      "altaDescription" : "Tiny piles of these can sparkle so beautifully in the night sky!"
    },
    "cryonicextract" : { "level" : 3,
      "longdescription" : "The cryonic nature of the material makes it a great coolant, as well as a good component for warped containment.",
      "altaDescription" : "So chill! Others say it often comes from izopoi."
    }
  }
}
