{
  "filter" : [ "alta_t1", "alta_t1+", "alta_t2", "alta_t2+", "alta_t2m", "alta_t3", "alta_t3+", "alta_t3m", "alta_t3mm",
  "alta_t4", "alta_t4+", "alta_t4m", "alta_t4mm", "alta_t4mmm", "alta_max" ],
  "requiresBlueprint" : false, "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "windowtitle" : { "type" : "title", "title" : "", "subtitle" : "", "position" : [0, 252],
      "icon" : { "type" : "image", "file" : "/interface/alta/icon_dark.png", "position" : [0, -20], "zlevel" : -1 }
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/alta/header_380_dark.png",
      "fileBody" : "/objects/alta/crafting/crafting_station/ui/body_full.png",
      "fileFooter" : "/interface/alta/footer_380_dark.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/alta/xd.png",
      "hover" : "/interface/alta/xad.png",
      "pressed" : "/interface/alta/xpd.png",
      "pressedOffset" : [0, 0], "position" : [336, 284]
    },
    "bgShine" : { "type" : "image", "file" : "/interface/alta/shine_364_240.png", "position" : [4, 34], "zlevel" : -10 },

    "spinCount" : { "type" : "spinner", "position" : [275, 44], "upOffset" : 36 },
    "tbSpinCount" : { "type" : "textbox", "position" : [287, 44], "textAlign" : "center", "maxWidth" : 16, "regex" : "x?\\d{0,4}", "hint" : "" },
    "imgAmountInput" : { "type" : "image", "file" : "/interface/alta/crafting/n.png", "position" : [281, 43], "zlevel" : -3 },
    "btnCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [321, 36], "caption" : "O" },
    "btnStopCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [321, 36], "caption" : "X" },
    "imgCraftBg" : { "type" : "image", "file" : "/interface/alta/crafting/bg.png", "position" : [251, 38], "zlevel" : -5 },
    "currentRecipeIcon" : { "type" : "itemslot", "callback" : "null", "position" : [252, 39] },
    "description" : { "type" : "widget", "position" : [225, 33], "size" : [140, 220] },

    "btnFilterHaveMaterials" : { "type" : "button", "base" : "/interface/alta/cb.png", "baseImageChecked" : "/interface/alta/cbc.png", "position" : [11, 38], "checkable" : true, "checked" : false },
    "lblFilterHaveMaterials" : { "type" : "label", "position" : [24, 37], "hAnchor" : "left", "value" : "^#0050c0;CAN CRAFT" },
    "filter" : { "type" : "textbox", "position" : [9, 54], "hint" : "      ^#0050c0;SEARCH", "maxWidth" : 90, "escapeKey" : "close", "enterKey" : "filter", "focus" : false },

    "lblFactions" : { "type" : "label", "position" : [124, 264], "hAnchor" : "left", "value" : "FACTIONS" },
    "lblRarities" : { "type" : "label", "position" : [282, 264], "hAnchor" : "left", "value" : "RARITIES" },
    "lblTiers" : { "type" : "label", "position" : [328, 264], "hAnchor" : "left", "value" : "TIERS" },

    "lblAll" : { "type" : "label", "position" : [282, 248], "hAnchor" : "left", "value" : "ALL", "fontSize" : 7 },
    "lblClothing" : { "type" : "label", "position" : [199, 216], "hAnchor" : "left", "value" : "CLOTHING", "fontSize" : 7 },
    "lblArmor" : { "type" : "label", "position" : [203, 176], "hAnchor" : "left", "value" : "ARMOR", "fontSize" : 7 },
    "lblOther" : { "type" : "label", "position" : [205, 136], "hAnchor" : "left", "value" : "OTHER", "fontSize" : 7 },
    "lblEggs" : { "type" : "label", "position" : [108, 56], "hAnchor" : "left", "value" : "EGGS", "fontSize" : 7 },
    "lblRobotics" : { "type" : "label", "position" : [134, 56], "hAnchor" : "left", "value" : "ROBOTICS", "fontSize" : 7 },
    "lblEnhancements" : { "type" : "label", "position" : [170, 56], "hAnchor" : "left", "value" : "ENHANC.", "fontSize" : 7 },

    "scrollArea" : {
      "type" : "scrollArea", "rect" : [6, 66, 199, 223], "children" : {
        "itemList" : {
          "type" : "list", "schema" : {
            "selectedBG" : "/interface/alta/crafting/item_active.png", "unselectedBG" : "/interface/alta/crafting/item.png",
            "spacing" : [0, 1], "memberSize" : [195, 18], "listTemplate" : {
              "background" : { "type" : "image", "file" : "/interface/alta/crafting/item.png", "position" : [2, 0], "zlevel" : -1 },
              "itemName" : { "type" : "label", "position" : [25, 5], "hAnchor" : "left", "wrapWidth" : 186, "value" : "Replace Me" },
              "itemIcon" : { "type" : "itemslot", "position" : [3, 1], "callback" : "null" },
              "newIcon" : { "type" : "image", "position" : [164, 5], "file" : "/interface/alta/crafting/new.png", "zlevel" : 2 },
              "moneyIcon" : { "type" : "image", "position" : [122, 1], "file" : "/interface/money.png" },
              "priceLabel" : { "type" : "label", "position" : [134, 1], "hAnchor" : "left", "value" : "0" },
              "notcraftableoverlay" : { "type" : "image", "file" : "/interface/alta/crafting/item_blocked.png", "position" : [2, 0], "zlevel" : 1 }
            }
          }
        }
      }
    },
    "rarities" : { "type" : "radioGroup", "toggleMode" : true, "buttons" : [
      {
        "position" : [282, 257], "baseImage" : "/interface/alta/tiers/t1.png", "baseImageChecked" : "/interface/alta/tiers/t1s.png",
        "data" : { "rarity" : [ "common" ] }
      },
      {
        "position" : [289, 257], "baseImage" : "/interface/alta/tiers/t2.png", "baseImageChecked" : "/interface/alta/tiers/t2s.png",
        "data" : { "rarity" : [ "uncommon" ] }
      },
      {
        "position" : [296, 257], "baseImage" : "/interface/alta/tiers/t3.png", "baseImageChecked" : "/interface/alta/tiers/t3s.png",
        "data" : { "rarity" : [ "rare" ] }
      },
      {
        "position" : [303, 257], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
        "data" : { "rarity" : [ "legendary" ] }
      },
      {
        "position" : [310, 257], "baseImage" : "/interface/alta/tiers/t7.png", "baseImageChecked" : "/interface/alta/tiers/t7s.png",
        "data" : { "rarity" : [ "essential" ] }
      }
    ] },



    "lblTab1b" : { "type" : "image", "position" : [6, 224], "zlevel" : 3, "file" : "/items/armors/my_enternia/trophies/impulse_bobfae_head/icon.png" },

    "lblTab1e" : { "type" : "image", "position" : [22, 224], "zlevel" : 3, "file" : "/items/armors/alta/other/science_ocular/icon.png" },
    "lblTab1" : { "type" : "image", "position" : [38, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier3/scout/mask/icon.png" },

    "lblTab2" : { "type" : "image", "position" : [54, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet_mk2/icon.png" },
    "lblTab2a" : { "type" : "image", "position" : [70, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier4/elin/helmet/icon.png" },

    "lblTab3b" : { "type" : "image", "position" : [86, 224], "zlevel" : 3, "file" : "/items/armors/alta/other/eds_visor/icon.png?replace=801c1c=0050c0?replace=b81824=2080f0?replace=ff2c40=60c0fc?replace=ff6480=b0e0fc" },
    "lblTab3" : { "type" : "image", "position" : [102, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier5/arco/helmet_mk2/icon.png" },
    "lblTab4" : { "type" : "image", "position" : [118, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier5/combat/mask_mk2/icon.png" },
    "lblTab5" : { "type" : "image", "position" : [134, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier5/eds/helmet_mk2/icon.png" },

    "lblTab6" : { "type" : "image", "position" : [150, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier6/elite/helmet/icon.png" },
    "lblTab7" : { "type" : "image", "position" : [166, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ceterai/helmet/icon.png" },
    "lblTab8" : { "type" : "image", "position" : [182, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier6/dreamer/helmet/icon.png" },
    "lblTab6b" : { "type" : "image", "position" : [198, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier6/elite/android_head/icon.png" },
    "lblTab7b" : { "type" : "image", "position" : [214, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ceterai/android_head/icon.png" },
    "lblTab8b" : { "type" : "image", "position" : [230, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier6/dreamer/android_head/icon.png" },

    "lblTab11b" : { "type" : "image", "position" : [246, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet/icon.png?replace=f6f6f6=606478;d8dcf0=4c5064;b0b4c8=24283c;606478=101428;383c50=c060fc;24283c=8020f0;101428=5000c0?replace=0050c0=00c050?replace=2080f0=20f080?replace=60c0fc=60fcc0?replace=b0e0fc=b0fce0" },
    "lblTab11c" : { "type" : "image", "position" : [262, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet/icon.png?replace=383c50=fcc0fc;24283c=f080f0;101428=c050c0?replace=0050c0=366388?replace=2080f0=4e8fb8?replace=60c0fc=76c7e4?replace=b0e0fc=c9eef6" },

    "lblTab1c" : { "type" : "image", "position" : [6, 240], "zlevel" : 3, "file" : "/items/armors/alta/other/hologlasses/icon.png" },

    "lblTab1d" : { "type" : "image", "position" : [22, 240], "zlevel" : 3, "file" : "/items/armors/alta/other/visor/icon.png" },
    "lblTab1a" : { "type" : "image", "position" : [38, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier5/combat/mask/icon.png?replace=606074=f6f6f6?replace=404050=d8dcf0?replace=2c2c34=b0b4c8?replace=101014=606478?replace=106890=90103d?replace=1090c0=c01055?replace=10b4ef=ef106a?replace=71d4f8=f871a7" },

    "lblTab2b" : { "type" : "image", "position" : [54, 240], "zlevel" : 3, "file" : "/items/armors/human/human-tier1/icons.png:head?replace=6f2919=0050c0;a85636=2080f0;e0975c=60c0fc;ffca8a=b0e0fc" },
    "lblTab2c" : { "type" : "image", "position" : [70, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier5/eds/helmet/icon.png?replace=606074=9abdb9?replace=404050=5d8c86?replace=2c2c34=39524f?replace=101014=262539?replace=801c1c=c05c00?replace=b81824=f08e20?replace=ff2c40=fcca60?replace=ff6480=fce5b0" },

    "lblTab3c" : { "type" : "image", "position" : [86, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier5/misc/sona/helmet/icon.png" },
    "lblTab4c" : { "type" : "image", "position" : [102, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier5/misc/industrial/helmet/icon.png" },
    "lblTab5c" : { "type" : "image", "position" : [118, 240], "zlevel" : 3, "file" : "/items/armors/alta/other/eds_visor/icon.png?replace=606074=f6f6f6?replace=404050=d8dcf0?replace=2c2c34=b0b4c8?replace=101014=606478?replace=801c1c=0050c0?replace=b81824=2080f0?replace=ff2c40=60c0fc?replace=ff6480=b0e0fc" },
    "lblTab6c" : { "type" : "image", "position" : [134, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier5/combat/helmet/icon.png?replace=c07000=c0af00?replace=f08f20=f0d420?replace=ffaa49=fcd060?replace=ffc888=fce5b0" },

    "lblTab6a" : { "type" : "image", "position" : [150, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier6/elite/helmet/icon.png?replace=00c050=366388?replace=20f080=4e8fb8?replace=60fcc0=76c7e4?replace=b0fce0=c9eef6" },
    "lblTab7a" : { "type" : "image", "position" : [166, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ghearun/helmet/icon.png" },
    "lblTab8a" : { "type" : "image", "position" : [182, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ceterai/helmet/icon.png?replace=444444=f6f6f6;393939=d8dcf0;343434=f6f6f6;181818=b0b4c8;121212=606478;404050=fefeed;60c0fc=ffa664;2080f0=cd5919;0050c0=924313;081c6c=522e00" },
    "lblTab9a" : { "type" : "image", "position" : [198, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier3/scout/mask/icon.png?replace=383c50=c060fc?replace=24283c=8020f0?replace=101428=5000c0?replace=f6f6f6=606478?replace=d8dcf0=4c5064?replace=b0b4c8=24283c?replace=606478=101428" },
    "lblTab10a" : { "type" : "image", "position" : [214, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet/icon.png?replace=f6f6f6=606478;d8dcf0=4c5064;b0b4c8=24283c;606478=101428;383c50=c060fc;24283c=8020f0;101428=5000c0?replace=0050c0=00c050?replace=2080f0=20f080?replace=60c0fc=60fcc0?replace=b0e0fc=b0fce0" },
    "lblTab11a" : { "type" : "image", "position" : [230, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier5/combat/mask_mk2/icon.png?replace=606074=4c5064;404050=383c50;2c2c34=24283c;101014=101428;106890=24283c;1090c0=383c50;10b4ef=4c5064;71d4f8=d1b0fc" },

    "lblTab11d" : { "type" : "image", "position" : [246, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet/icon.png?replace=f6f6f6=e6e9ea;d8dcf0=c6d2d4;b0b4c8=959ea2;606478=6a6e74;383c50=dffac2;24283c=c9eaa6;101428=afd18b?replace=0050c0=c00069?replace=2080f0=f0209b?replace=60c0fc=fc60d4?replace=b0e0fc=fcb0ea" },
    "lblTab11e" : { "type" : "image", "position" : [262, 240], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet/icon.png?replace=f6f6f6=606478;d8dcf0=4c5064;b0b4c8=24283c;606478=101428;383c50=c060fc;24283c=8020f0;101428=5000c0?replace=0050c0=00c050?replace=2080f0=20f080?replace=60c0fc=60fcc0?replace=b0e0fc=b0fce0" },


    "lblTab0" : { "type" : "image", "position" : [279, 232], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/icon5.png" },

    "lblTab9" : { "type" : "image", "position" : [199, 183], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab2.png" },
    "lblTab10" : { "type" : "image", "position" : [215, 183], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab4.png" },
    "lblTab11" : { "type" : "image", "position" : [199, 199], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab1.png" },
    "lblTab12" : { "type" : "image", "position" : [215, 199], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab3.png" },

    "lblTab13" : { "type" : "image", "position" : [199, 143], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab2.png" },
    "lblTab14" : { "type" : "image", "position" : [215, 143], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab4.png" },
    "lblTab15" : { "type" : "image", "position" : [199, 159], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab1.png" },
    "lblTab16" : { "type" : "image", "position" : [215, 159], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab3.png" },

    "lblTab17" : { "type" : "image", "position" : [199, 103], "zlevel" : 3, "file" : "/items/active/shields/ct_calin_shield.png", "maxSize" : [16, 16], "minSize" : [16, 16] },
    "lblTab18" : { "type" : "image", "position" : [215, 103], "zlevel" : 3, "file" : "/items/active/alta/scanner/icon.png" },
    "lblTab19" : { "type" : "image", "position" : [199, 119], "zlevel" : 3, "file" : "/items/active/weapons/ranged/alta/blaster/ct_alta_scout_blaster_2.png", "maxSize" : [16, 16], "minSize" : [16, 16] },
    "lblTab20" : { "type" : "image", "position" : [220, 119], "zlevel" : 3, "file" : "/items/active/weapons/melee/alta/light/ct_alta_stun_stick.png", "maxSize" : [16, 16], "minSize" : [16, 16] },

    "lblTab21" : { "type" : "image", "position" : [199, 71], "zlevel" : 3, "file" : "/items/throwables/ct_astera_tear.png" },
    "lblTab22" : { "type" : "image", "position" : [215, 71], "zlevel" : 3, "file" : "/items/generic/other/ct_catalyst.png" },
    "lblTab23" : { "type" : "image", "position" : [199, 87], "zlevel" : 3, "file" : "/codex/alta/datamass/plasma.png" },
    "lblTab24" : { "type" : "image", "position" : [215, 87], "zlevel" : 3, "file" : "/items/active/alta/sets/ceterai.png" },
    "lblTab25" : { "type" : "image", "position" : [199, 39], "zlevel" : 3, "file" : "/items/generic/crafting/ct_altersphere.png" },
    "lblTab26" : { "type" : "image", "position" : [215, 39], "zlevel" : 3, "file" : "/items/generic/crafting/ct_alternia_shard.png" },
    "lblTab27" : { "type" : "image", "position" : [199, 55], "zlevel" : 3, "file" : "/items/aichips/ct_ceterai_ai_chip.png" },
    "lblTab28" : { "type" : "image", "position" : [215, 55], "zlevel" : 3, "file" : "/items/generic/dyes/bluedye.png" },

    "lblTab20a" : { "type" : "image", "position" : [100, 39], "zlevel" : 3, "file" : "/items/active/alta/spawners/monsters/ct_crippit_egg.png" },
    "lblTab20b" : { "type" : "image", "position" : [116, 39], "zlevel" : 3, "file" : "/items/active/alta/spawners/bugs/ct_alto_zych_egg.png" },

    "lblTab20c" : { "type" : "image", "position" : [133, 39], "zlevel" : 3, "file" : "/items/active/alta/spawners/drones/scout.png" },
    "lblTab20d" : { "type" : "image", "position" : [149, 39], "zlevel" : 3, "file" : "/items/active/alta/spawners/droids/spider.png" },

    "lblTab20e" : { "type" : "image", "position" : [166, 39], "zlevel" : 3, "file" : "/items/augments/back/ct_alternia_augment.png" },
    "lblTab20f" : { "type" : "image", "position" : [182, 39], "zlevel" : 3, "file" : "/items/augments/pet/ct_mindframe_collar.png" },



    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        { "position" : [6, 224], "data" : { "filter" : [ "generic_species" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [22, 224], "data" : { "filter" : [ "tserera", "neiteru" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [38, 224], "data" : { "filter" : [ "tier3_scout", "scout" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [54, 224], "data" : { "filter" : [ "tier4_security", "security" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [70, 224], "data" : { "filter" : [ "elin" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [86, 224], "data" : { "filter" : [ "alta_lab" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [102, 224], "data" : { "filter" : [ "tier5_arco", "arco" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [118, 224], "data" : { "filter" : [ "tier5_combat", "combat" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [134, 224], "data" : { "filter" : [ "tier5_eds", "eds" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [150, 224], "data" : { "filter" : [ "tier6_elite", "elite" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [166, 224], "data" : { "filter" : [ "tier6_ceterai", "ceterai" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [182, 224], "data" : { "filter" : [ "tier6_dreamer", "dreamer" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [198, 224], "data" : { "filter" : [ "tier6_ceternia", "ceternia" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [214, 224], "data" : { "filter" : [ "tier6_alternia", "alternia" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [230, 224], "data" : { "filter" : [ "tier6_enternia", "enternia" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [246, 224], "data" : { "filter" : [ "stardust" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [262, 224], "data" : { "filter" : [ "orchid" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [6, 240], "data" : { "filter" : [ "alta_basic" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [22, 240], "data" : { "filter" : [ "metrocop" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [38, 240], "data" : { "filter" : [ "medic" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [54, 240], "data" : { "filter" : [ "warden" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [70, 240], "data" : { "filter" : [ "thermo" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [86, 240], "data" : { "filter" : [ "sona" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [102, 240], "data" : { "filter" : [ "alta_industrial" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [118, 240], "data" : { "filter" : [ "arknight" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [134, 240], "data" : { "filter" : [ "faradea" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [150, 240], "data" : { "filter" : [ "alta_capital" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [166, 240], "data" : { "filter" : [ "gheatsyn" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [182, 240], "data" : { "filter" : [ "astera" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [198, 240], "data" : { "filter" : [ "protea" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [214, 240], "data" : { "filter" : [ "alta_citadel" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [230, 240], "data" : { "filter" : [ "spacedrifter" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [246, 240], "data" : { "filter" : [ "celestia" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [262, 240], "data" : { "filter" : [ "omni" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [279, 232], "data" : { "filter" : [ "all" ] }, "selected" : true, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [199, 183], "data" : { "filter" : [ "body" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 183], "data" : { "filter" : [ "back" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 199], "data" : { "filter" : [ "head" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 199], "data" : { "filter" : [ "legs" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [199, 143], "data" : { "filter" : [ "body_armor" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 143], "data" : { "filter" : [ "back_armor" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 159], "data" : { "filter" : [ "head_armor" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 159], "data" : { "filter" : [ "leg_armor" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [199, 103], "data" : { "filter" : [ "shields" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 103], "data" : { "filter" : [ "tools" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 119], "data" : { "filter" : [ "ranged" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 119], "data" : { "filter" : [ "melee" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [199, 71], "data" : { "filter" : [ "equipment" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 71], "data" : { "filter" : [ "medicine", "shielders" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 87], "data" : { "filter" : [ "codex" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 87], "data" : { "filter" : [ "sets" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 39], "data" : { "filter" : [ "components" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 39], "data" : { "filter" : [ "materials" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [199, 55], "data" : { "filter" : [ "aichips" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 55], "data" : { "filter" : [ "dyes" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [100, 39], "data" : { "filter" : [ "monsters" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [116, 39], "data" : { "filter" : [ "bugs", "critters" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [133, 39], "data" : { "filter" : [ "drones" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [149, 39], "data" : { "filter" : [ "droids", "androids", "robohelpers" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [166, 39], "data" : { "filter" : [ "augments" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [182, 39], "data" : { "filter" : [ "collars" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        {
          "position" : [320, 257], "baseImage" : "/interface/alta/tiers/t0.png", "baseImageChecked" : "/interface/alta/tiers/t0s.png",
          "data" : { "filter" : [ "l0", "l1", "l2" ] }
        },
        {
          "position" : [328, 257], "baseImage" : "/interface/alta/tiers/t1.png", "baseImageChecked" : "/interface/alta/tiers/t1s.png",
          "data" : { "filter" : [ "l3" ] }
        },
        {
          "position" : [334, 257], "baseImage" : "/interface/alta/tiers/t2.png", "baseImageChecked" : "/interface/alta/tiers/t2s.png",
          "data" : { "filter" : [ "l4" ] }
        },
        {
          "position" : [340, 257], "baseImage" : "/interface/alta/tiers/t3.png", "baseImageChecked" : "/interface/alta/tiers/t3s.png",
          "data" : { "filter" : [ "l5" ] }
        },
        {
          "position" : [346, 257], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
          "data" : { "filter" : [ "l6" ] }
        },
        {
          "position" : [354, 257], "baseImage" : "/interface/alta/tiers/t5.png", "baseImageChecked" : "/interface/alta/tiers/t5s.png",
          "data" : { "filter" : [ "l7" ] }
        },
        {
          "position" : [362, 264], "baseImage" : "/interface/alta/tiers/t6.png", "baseImageChecked" : "/interface/alta/tiers/t6s.png",
          "data" : { "filter" : [ "l8" ] }
        },
        {
          "position" : [362, 250], "baseImage" : "/interface/alta/tiers/t7.png", "baseImageChecked" : "/interface/alta/tiers/t7s.png",
          "data" : { "filter" : [ "l9" ] }
        },
        {
          "position" : [362, 236], "baseImage" : "/interface/alta/tiers/t8.png", "baseImageChecked" : "/interface/alta/tiers/t8s.png",
          "data" : { "filter" : [ "l10" ] }
        },


        {
          "position" : [334, 250], "baseImage" : "/interface/alta/tiers/t2.png", "baseImageChecked" : "/interface/alta/tiers/t2s.png",
          "data" : { "filter" : [ "l4m" ] }
        },
        {
          "position" : [340, 250], "baseImage" : "/interface/alta/tiers/t3.png", "baseImageChecked" : "/interface/alta/tiers/t3s.png",
          "data" : { "filter" : [ "l5m" ] }
        },
        {
          "position" : [346, 250], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
          "data" : { "filter" : [ "l6m" ] }
        },
        {
          "position" : [354, 250], "baseImage" : "/interface/alta/tiers/t5.png", "baseImageChecked" : "/interface/alta/tiers/t5s.png",
          "data" : { "filter" : [ "l7m" ] }
        },
        {
          "position" : [362, 257], "baseImage" : "/interface/alta/tiers/t6.png", "baseImageChecked" : "/interface/alta/tiers/t6s.png",
          "data" : { "filter" : [ "l8m" ] }
        },
        {
          "position" : [362, 243], "baseImage" : "/interface/alta/tiers/t7.png", "baseImageChecked" : "/interface/alta/tiers/t7s.png",
          "data" : { "filter" : [ "l9m" ] }
        },
        {
          "position" : [362, 229], "baseImage" : "/interface/alta/tiers/t8.png", "baseImageChecked" : "/interface/alta/tiers/t8s.png",
          "data" : { "filter" : [ "l10m" ] }
        },


        {
          "position" : [340, 243], "baseImage" : "/interface/alta/tiers/t3.png", "baseImageChecked" : "/interface/alta/tiers/t3s.png",
          "data" : { "filter" : [ "l5m2" ] }
        },
        {
          "position" : [346, 243], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
          "data" : { "filter" : [ "l6m2" ] }
        },
        {
          "position" : [354, 243], "baseImage" : "/interface/alta/tiers/t5.png", "baseImageChecked" : "/interface/alta/tiers/t5s.png",
          "data" : { "filter" : [ "l7m2" ] }
        },


        {
          "position" : [346, 236], "baseImage" : "/interface/alta/tiers/t4.png", "baseImageChecked" : "/interface/alta/tiers/t4s.png",
          "data" : { "filter" : [ "l6m3" ] }
        },
        {
          "position" : [354, 236], "baseImage" : "/interface/alta/tiers/t5.png", "baseImageChecked" : "/interface/alta/tiers/t5s.png",
          "data" : { "filter" : [ "l7m3" ] }
        },


        {
          "position" : [354, 229], "baseImage" : "/interface/alta/tiers/t5.png", "baseImageChecked" : "/interface/alta/tiers/t5s.png",
          "data" : { "filter" : [ "l7m4" ] }
        }
      ]
    }
  }
}
