{
  "filter" : [ ], "titleFromEntity" : true, "requiresBlueprint" : false, "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "windowtitle" : { "type" : "title", "title" : "  ANVIL", "subtitle" : "  Make sharp things.", "position" : [-5, 252],
      "icon" : { "type" : "image", "file" : "/objects/alta/crafting/crafting_station/ui/icon5.png", "position" : [0, -20], "zlevel" : -1 }
    },
    "background" : { "type" : "background", "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/objects/alta/crafting/crafting_station/ui/body2.png", "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : { "type" : "button", "base" : "/interface/x.png", "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png", "pressedOffset" : [0, 0], "position" : [321, 261]
    },
    "bgShine" : { "type" : "image", "file" : "/interface/crafting/shine.png", "position" : [-15, 0], "zlevel" : -10 },
    "btnUpgrade" : { "type" : "button", "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png", "position" : [139, 258], "zlevel" : 5
    },
    "lblProducttitle" : { "type" : "label", "position" : [265, 244], "hAnchor" : "mid", "value" : "^#b9b5b2;PRODUCT" },
    "spinCount" : { "type" : "spinner", "position" : [220, 46], "upOffset" : 36 },
    "tbSpinCount" : { "type" : "textbox", "position" : [232, 46], "textAlign" : "center", "maxWidth" : 16, "regex" : "x?\\d{0,4}", "hint" : "" },
    "imgAmountInput" : { "type" : "image", "file" : "/interface/crafting/amount.png", "position" : [226, 45], "zlevel" : -3 },
    "btnCraft" : { "type" : "button", "base" : "/interface/button.png", "hover" : "/interface/buttonhover.png", "position" : [271, 43], "caption" : "Forge" },
    "btnStopCraft" : { "type" : "button", "base" : "/interface/buttonactive.png", "hover" : "/interface/buttonactivehover.png", "position" : [271, 43], "caption" : "Stop" },
    "imgCraftBg" : { "type" : "image", "file" : "/interface/crafting/craftbg.png", "position" : [196, 40], "zlevel" : -5 },
    "currentRecipeIcon" : { "type" : "itemslot", "callback" : "null", "position" : [197, 41] },
    "btnFilterHaveMaterials" : { "type" : "button", "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png", "checkable" : true, "checked" : false, "position" : [40, 59]
    },
    "lblProduct" : { "type" : "label", "position" : [51, 58], "hAnchor" : "left", "value" : "MATERIALS AVAILABLE" },
    "description" : { "type" : "widget", "position" : [190, 41], "size" : [140, 220] },
    "filter" : { "type" : "textbox", "position" : [56, 43], "hint" : "Search", "maxWidth" : 70, "escapeKey" : "close", "enterKey" : "filter", "focus" : false },
    "scrollArea" : {
      "type" : "scrollArea", "rect" : [5, 69, 174, 221], "children" : {
        "itemList" : {
          "type" : "list", "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png", "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1], "memberSize" : [159, 20], "listTemplate" : {
              "background" : { "type" : "image", "file" : "/interface/crafting/craftablebackground.png", "position" : [2, 0], "zlevel" : -1 },
              "itemName" : { "type" : "label", "position" : [25, 5], "hAnchor" : "left", "wrapWidth" : 116, "value" : "Replace Me" },
              "itemIcon" : { "type" : "itemslot", "position" : [3, 1], "callback" : "null" },
              "newIcon" : { "type" : "image", "position" : [119, 5], "file" : "/interface/crafting/new.png", "zlevel" : 2 },
              "moneyIcon" : { "type" : "image", "position" : [122, 1], "file" : "/interface/money.png" },
              "priceLabel" : { "type" : "label", "position" : [134, 1], "hAnchor" : "left", "value" : "0" },
              "notcraftableoverlay" : { "type" : "image", "file" : "/interface/crafting/notcraftableoverlay.png", "position" : [2, 0], "zlevel" : 1 }
            }
          }
        }
      }
    },
    "rarities" : { "type" : "radioGroup", "toggleMode" : true, "buttons" : [ ] },



    "lblTab1" : { "type" : "image", "position" : [3, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier3/scout/mask/icon.png" },

    "lblTab2" : { "type" : "image", "position" : [18, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet_mk2/icon.png" },

    "lblTab3" : { "type" : "image", "position" : [34, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier5/arco/helmet_mk2/icon.png" },
    "lblTab4" : { "type" : "image", "position" : [49, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier5/combat/mask_mk2/icon.png" },
    "lblTab5" : { "type" : "image", "position" : [64, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier5/eds/helmet_mk2/icon.png" },

    "lblTab6" : { "type" : "image", "position" : [80, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier6/elite/helmet/icon.png" },
    "lblTab7" : { "type" : "image", "position" : [95, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ceterai/helmet/icon.png" },
    "lblTab8" : { "type" : "image", "position" : [110, 222], "zlevel" : 3, "file" : "/items/armors/alta/tier6/dreamer/helmet/icon.png" },

    "lblTab1a" : { "type" : "image", "position" : [3, 238], "zlevel" : 3, "file" : "/items/armors/alta/other/visor/icon.png" },

    "lblTab2a" : { "type" : "image", "position" : [18, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier4/elin/helmet/icon.png" },

    "lblTab3a" : { "type" : "image", "position" : [34, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier5/eds/helmet/icon.png?replace=606074=9abdb9?replace=404050=5d8c86?replace=2c2c34=39524f?replace=101014=262539?replace=801c1c=c05c00?replace=b81824=f08e20?replace=ff2c40=fcca60?replace=ff6480=fce5b0" },
    "lblTab4a" : { "type" : "image", "position" : [49, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier5/misc/sona/helmet/icon.png" },
    "lblTab5a" : { "type" : "image", "position" : [64, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier5/combat/helmet/icon.png?replace=c07000=c0af00?replace=f08f20=f0d420?replace=ffaa49=fcd060?replace=ffc888=fce5b0" },

    "lblTab6a" : { "type" : "image", "position" : [80, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier6/elite/helmet/icon.png?replace=00c050=366388?replace=20f080=4e8fb8?replace=60fcc0=76c7e4?replace=b0fce0=c9eef6" },
    "lblTab7a" : { "type" : "image", "position" : [95, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ghearun/helmet/icon.png" },
    "lblTab8a" : { "type" : "image", "position" : [110, 238], "zlevel" : 3, "file" : "/items/armors/alta/tier4/security/helmet/icon.png?replace=f6f6f6=606478;d8dcf0=4c5064;b0b4c8=24283c;606478=101428;383c50=c060fc;24283c=8020f0;101428=5000c0?replace=0050c0=00c050?replace=2080f0=20f080?replace=60c0fc=60fcc0?replace=b0e0fc=b0fce0" },

    "lblTab9" : { "type" : "image", "position" : [128, 222], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab2.png" },
    "lblTab10" : { "type" : "image", "position" : [143, 222], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab4.png" },
    "lblTab11" : { "type" : "image", "position" : [158, 222], "zlevel" : 3, "file" : "/items/generic/other/ct_catalyst.png" },
    "lblTab12" : { "type" : "image", "position" : [128, 238], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab1.png" },
    "lblTab13" : { "type" : "image", "position" : [143, 238], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/ui/tab3.png" },
    "lblTab14" : { "type" : "image", "position" : [158, 238], "zlevel" : 3, "file" : "/items/generic/crafting/ct_altersphere.png" },
    "lblTab11a" : { "type" : "image", "position" : [173, 222], "zlevel" : 3, "file" : "/items/generic/crafting/ct_enterite.png" },
    "lblTab14a" : { "type" : "image", "position" : [173, 238], "zlevel" : 3, "file" : "/objects/alta/crafting/constructor/icon1.png" },

    "lblTab0" : { "type" : "image", "position" : [190, 230], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/icon5.png" },

    "lblTab15" : { "type" : "image", "position" : [173, 206], "zlevel" : 3, "file" : "/items/generic/dyes/bluedye.png" },
    "lblTab16" : { "type" : "image", "position" : [173, 189], "zlevel" : 3, "file" : "/items/generic/crafting/ct_datamass.png" },
    "lblTab17" : { "type" : "image", "position" : [173, 172], "zlevel" : 3, "file" : "/items/active/unsorted/alta/loot/sets/ct_alta_metrocop_set.png" },

    "lblTab18" : { "type" : "image", "position" : [173, 109], "zlevel" : 3, "file" : "/items/armors/alta/tier6/ghearun/helmet/icon.png" },
    "lblTab19" : { "type" : "image", "position" : [173, 92], "zlevel" : 3, "file" : "/items/active/weapons/ranged/alta/blaster/ct_isoblaster_2.png" },
    "lblTab20" : { "type" : "image", "position" : [173, 75], "zlevel" : 3, "file" : "/items/active/unsorted/alta/spawner/ct_lava_drone.png" },
    "lblTab21" : { "type" : "image", "position" : [173, 58], "zlevel" : 3, "file" : "/items/augments/pet/ct_yaara_collar.png" },

    "lblTab22" : { "type" : "image", "position" : [175, 38], "zlevel" : 3, "file" : "/objects/biome/alterash/enchanted/ct_enchanted_chest/icon.png" },



    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        { "position" : [3, 221], "data" : { "filter" : [ "tier3_scout", "scout" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [18, 221], "data" : { "filter" : [ "tier4_security", "security" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [34, 221], "data" : { "filter" : [ "tier5_arco", "arco" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [49, 221], "data" : { "filter" : [ "tier5_combat", "combat" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [64, 221], "data" : { "filter" : [ "tier5_eds", "eds" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [80, 221], "data" : { "filter" : [ "tier6_ceternia", "elite" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [95, 221], "data" : { "filter" : [ "tier6_alternia", "ceterai" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [110, 221], "data" : { "filter" : [ "tier6_enternia", "dreamer" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },

        { "position" : [3, 237], "data" : { "filter" : [ "alta_basic" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [18, 237], "data" : { "filter" : [ "elin" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [34, 237], "data" : { "filter" : [ "thermo" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [49, 237], "data" : { "filter" : [ "arknight" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [64, 237], "data" : { "filter" : [ "faradea" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [80, 237], "data" : { "filter" : [ "alta_capital" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [95, 237], "data" : { "filter" : [ "gheatsyn" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [110, 237], "data" : { "filter" : [ "spacedrifter" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },

        { "position" : [128, 221], "data" : { "filter" : [ "body" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [143, 221], "data" : { "filter" : [ "back" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [158, 221], "data" : { "filter" : [ "equipment", "medicine" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [128, 237], "data" : { "filter" : [ "head" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [143, 237], "data" : { "filter" : [ "legs" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [158, 237], "data" : { "filter" : [ "components" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 221], "data" : { "filter" : [ "materials" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 237], "data" : { "filter" : [ "objects" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },

        { "position" : [190, 229], "data" : { "filter" : [ "all" ] }, "selected" : true, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },

        { "position" : [173, 205], "data" : { "filter" : [ "dyes" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 188], "data" : { "filter" : [ "codex" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 171], "data" : { "filter" : [ "set" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },

        { "position" : [173, 108], "data" : { "filter" : [ "armor" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 91], "data" : { "filter" : [ "weapon", "shield" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 74], "data" : { "filter" : [ "spawner" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },
        { "position" : [173, 57], "data" : { "filter" : [ "enhancement" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" },

        { "position" : [175, 37], "data" : { "filter" : [ "misc_loot" ] }, "baseImage" : "/interface/tabs/ct_mut.png", "baseImageChecked" : "/interface/tabs/ct_mst.png" }
      ]
    }
  }
}
