{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/objects/alta/crafting/crafting_station/ui/body.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  ANVIL",
      "subtitle" : "  Make sharp things.",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurnace.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 43],
      "caption" : "Forge"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [271, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [56, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },



    "lblTab1" : {
      "type" : "image", "position" : [3, 222], "zlevel" : 3,
      "file" : "/items/armors/alta/tier3/scout_mask/icon.png"
    },
    "lblTab2" : {
      "type" : "image", "position" : [18, 222], "zlevel" : 3,
      "file" : "/items/armors/alta/tier4/security_helmet_mk2/icon.png"
    },
    "lblTab3" : {
      "type" : "image", "position" : [34, 222], "zlevel" : 3,
      "file" : "/items/armors/alta/tier5/enviro_helmet/icon.png"
    },
    "lblTab4" : {
      "type" : "image", "position" : [49, 222], "zlevel" : 3,
      "file" : "/items/armors/alta/tier5/combat_helmet/icon.png"
    },
    "lblTab5" : {
      "type" : "image", "position" : [64, 222], "zlevel" : 3,
      "file" : "/items/armors/alta/tier5/eds_helmet/icon.png"
    },

    "lblTab9" : {
      "type" : "image", "position" : [126, 222], "zlevel" : 3,
      "file" : "/items/generic/crafting/ct_bion.png"
    },
    "lblTab10" : {
      "type" : "image", "position" : [141, 222], "zlevel" : 3,
      "file" : "/items/throwables/glowstickblueicon.png"
    },
    "lblTab11" : {
      "type" : "image", "position" : [156, 222], "zlevel" : 3,
      "file" : "/items/generic/other/nanowrap.png"
    },
    "lblTab12" : {
      "type" : "image", "position" : [126, 238], "zlevel" : 3,
      "file" : "/items/generic/crafting/monsterdrops/venomsample.png"
    },
    "lblTab13" : {
      "type" : "image", "position" : [141, 238], "zlevel" : 3,
      "file" : "/items/armors/alta/other/science_ocular/icon.png"
    },
    "lblTab14" : {
      "type" : "image", "position" : [156, 238], "zlevel" : 3,
      "file" : "/objects/alta/crafting/deprecation_station/icon.png"
    },

    "lblTab0" : {
      "type" : "image", "position" : [173, 230], "zlevel" : 3,
      "file" : "/objects/alta/crafting/crafting_station/icon3.png"
    },

    "lblTab15" : {
      "type" : "image", "position" : [173, 208], "zlevel" : 3,
      "file" : "/items/generic/dyes/bluedye.png"
    },
    "lblTab16" : {
      "type" : "image", "position" : [173, 191], "zlevel" : 3,
      "file" : "/items/generic/crafting/ct_datamass.png"
    },
    "lblTab17" : {
      "type" : "image", "position" : [173, 174], "zlevel" : 3,
      "file" : "/items/active/unsorted/ct_alta_loot/sets/ct_alta_metrocop_set.png"
    },



    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [3, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "tier3_scout" ] }
        },
        {
          "position" : [18, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "tier4_security" ] }
        },
        {
          "position" : [34, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "tier5_arco" ] }
        },
        {
          "position" : [49, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "tier5_combat" ] }
        },
        {
          "position" : [64, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "tier5_eds" ] }
        },

        {
          "position" : [126, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "components" ] }
        },
        {
          "position" : [141, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "equipment" ] }
        },
        {
          "position" : [156, 221],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "medicine" ] }
        },
        {
          "position" : [126, 237],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "materials" ] }
        },
        {
          "position" : [141, 237],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "cosmetics" ] }
        },
        {
          "position" : [156, 237],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "objects" ] }
        },

        {
          "position" : [173, 229], "selected" : true,
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "all" ] }
        },

        {
          "position" : [173, 207],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "dyes" ] }
        },
        {
          "position" : [173, 190],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "codex" ] }
        },
        {
          "position" : [173, 173],
          "baseImage" : "/objects/alta/crafting/crafting_station/ui/untab.png",
          "baseImageChecked" : "/objects/alta/crafting/crafting_station/ui/tab.png",
          "data" : { "filter" : [ "set" ] }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
