{
  "filter" : [ ], "titleFromEntity" : true, "requiresBlueprint" : false, "craftingSound" : "/sfx/interface/crafting_tech1.ogg",
  "paneLayout" : {
    "windowtitle" : { "type" : "title", "title" : "^noshadow;^#0050c0;CRAFTING STATION", "subtitle" : "", "position" : [0, 252],
      "icon" : { "type" : "image", "file" : "/interface/alta/icon.png", "position" : [0, -20], "zlevel" : -1 }
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/alta/header_380.png",
      "fileBody" : "/objects/alta/crafting/crafting_station/ui/body.png",
      "fileFooter" : "/interface/alta/footer_380.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/alta/x.png",
      "hover" : "/interface/alta/xa.png",
      "pressed" : "/interface/alta/xp.png",
      "pressedOffset" : [0, 0], "position" : [336, 284]
    },
    "btnUpgrade" : { "type" : "button", "disabledImage" : "/interface/alta/crafting/upg.png",
      "base" : "/interface/alta/crafting/upga.png", "position" : [250, 279], "zlevel" : 5
    },
    "bgShine" : { "type" : "image", "file" : "/interface/alta/shine_364_240.png", "position" : [4, 34], "zlevel" : -10 },

    "spinCount" : { "type" : "spinner", "position" : [275, 44], "upOffset" : 36 },
    "tbSpinCount" : { "type" : "textbox", "position" : [287, 44], "textAlign" : "center", "maxWidth" : 16, "regex" : "x?\\d{0,4}", "hint" : "" },
    "imgAmountInput" : { "type" : "image", "file" : "/interface/alta/crafting/n.png", "position" : [281, 43], "zlevel" : -3 },
    "btnCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [321, 36], "caption" : "O" },
    "btnStopCraft" : { "type" : "button", "base" : "/interface/alta/icon_empty.png", "hover" : "/interface/alta/icon_hover.png", "position" : [321, 36], "caption" : "X" },
    "imgCraftBg" : { "type" : "image", "file" : "/interface/alta/crafting/bg.png", "position" : [251, 38], "zlevel" : -5 },
    "currentRecipeIcon" : { "type" : "itemslot", "callback" : "null", "position" : [252, 39] },
    "description" : { "type" : "widget", "position" : [225, 33], "size" : [140, 220] },

    "btnFilterHaveMaterials" : { "type" : "button", "base" : "/interface/alta/cb.png", "baseImageChecked" : "/interface/alta/cbc.png", "position" : [11, 38], "checkable" : true, "checked" : false },
    "lblFilterHaveMaterials" : { "type" : "label", "position" : [24, 37], "hAnchor" : "left", "value" : "^#0050c0;CAN CRAFT" },
    "filter" : { "type" : "textbox", "position" : [9, 54], "hint" : "      ^#0050c0;SEARCH", "maxWidth" : 90, "escapeKey" : "close", "enterKey" : "filter", "focus" : false },

    "scrollArea" : {
      "type" : "scrollArea", "rect" : [6, 66, 199, 223], "children" : {
        "itemList" : {
          "type" : "list", "schema" : {
            "selectedBG" : "/interface/alta/crafting/item_active.png", "unselectedBG" : "/interface/alta/crafting/item.png",
            "spacing" : [0, 1], "memberSize" : [195, 18], "listTemplate" : {
              "background" : { "type" : "image", "file" : "/interface/alta/crafting/item.png", "position" : [2, 0], "zlevel" : -1 },
              "itemName" : { "type" : "label", "position" : [25, 5], "hAnchor" : "left", "wrapWidth" : 186, "value" : "Replace Me" },
              "itemIcon" : { "type" : "itemslot", "position" : [3, 1], "callback" : "null" },
              "newIcon" : { "type" : "image", "position" : [164, 5], "file" : "/interface/alta/crafting/new.png", "zlevel" : 2 },
              "moneyIcon" : { "type" : "image", "position" : [122, 1], "file" : "/interface/money.png" },
              "priceLabel" : { "type" : "label", "position" : [134, 1], "hAnchor" : "left", "value" : "0" },
              "notcraftableoverlay" : { "type" : "image", "file" : "/interface/alta/crafting/item_blocked.png", "position" : [2, 0], "zlevel" : 1 }
            }
          }
        }
      }
    },

    "lbl_main" : { "type" : "label", "position" : [64, 264], "hAnchor" : "left", "value" : "MAIN" },
    "lbl_crafting" : { "type" : "label", "position" : [168, 264], "hAnchor" : "left", "value" : "CRAFTING MATERIALS" },
    "lbl_progress" : { "type" : "label", "position" : [305, 264], "hAnchor" : "left", "value" : "PROGRESS" },

    "lbl_tier" : { "type" : "label", "position" : [325, 248], "hAnchor" : "mid", "value" : "^#f6f6f6;TIER 1", "fontSize" : 12 },
    "lbl_tier_total" : { "type" : "label", "position" : [325, 238], "hAnchor" : "mid", "value" : "^#2080f0;1/2", "fontSize" : 9 },
    "lbl_total" : { "type" : "label", "position" : [279, 230], "hAnchor" : "left", "value" : "^#2080f0;TOTAL:", "fontSize" : 7 },
    "img_total" : { "type" : "image", "file" : "/objects/alta/crafting/crafting_station/ui/progress.png:1", "position" : [279, 225] },

    "lbl_t1" : { "type" : "label", "position" : [16, 254], "hAnchor" : "mid", "value" : "^#f6f6f6;T1" },
    "lbl_t2" : { "type" : "label", "position" : [32, 254], "hAnchor" : "mid", "value" : "^#20f080;T2" },
    "lbl_t3" : { "type" : "label", "position" : [64, 254], "hAnchor" : "mid", "value" : "^#2080f0;T3" },
    "lbl_t4" : { "type" : "label", "position" : [112, 254], "hAnchor" : "mid", "value" : "^#8020f0;T4" },

    "lbl_devices" : { "type" : "label", "position" : [169, 244], "hAnchor" : "right", "value" : "^#2080f0;DEVICES", "fontSize" : 7, "lineSpacing" : 1.0 },
    "lbl_components" : { "type" : "label", "position" : [169, 225], "hAnchor" : "right", "value" : "^#2080f0;COMPO-\nNENTS", "fontSize" : 7, "lineSpacing" : 1.0 },
    "lbl_datamasses" : { "type" : "label", "position" : [215, 241], "hAnchor" : "right", "value" : "^#2080f0;DATA\nMASS", "fontSize" : 7, "lineSpacing" : 1.0 },
    "lbl_aichips" : { "type" : "label", "position" : [215, 225], "hAnchor" : "right", "value" : "^#2080f0;A.I.\nCHIPS", "fontSize" : 7, "lineSpacing" : 1.0 },
    "lbl_equipment" : { "type" : "label", "position" : [261, 241], "hAnchor" : "right", "value" : "^#2080f0;EQUIP-\nMENT", "fontSize" : 7, "lineSpacing" : 1.0 },
    "lbl_medicine" : { "type" : "label", "position" : [261, 225], "hAnchor" : "right", "value" : "^#2080f0;MEDI-\nCINE", "fontSize" : 7, "lineSpacing" : 1.0 },

    "lbl_materials" : { "type" : "label", "position" : [203, 217], "hAnchor" : "left", "value" : "MATER.", "fontSize" : 7 },
    "lbl_clothing" : { "type" : "label", "position" : [199, 190], "hAnchor" : "left", "value" : "CLOTHING", "fontSize" : 7 },
    "lbl_objects" : { "type" : "label", "position" : [201, 163], "hAnchor" : "left", "value" : "OBJECTS", "fontSize" : 7 },
    "lbl_dyes" : { "type" : "label", "position" : [205, 136], "hAnchor" : "left", "value" : "DYES", "fontSize" : 7 },
    "lbl_sets" : { "type" : "label", "position" : [205, 109], "hAnchor" : "left", "value" : "SETS", "fontSize" : 7 },
    "lbl_robotics" : { "type" : "label", "position" : [199, 82], "hAnchor" : "left", "value" : "ROBOTICS", "fontSize" : 7 },
    "lbl_enhancements" : { "type" : "label", "position" : [200, 55], "hAnchor" : "left", "value" : "ENHANC.", "fontSize" : 7 },



    "img_scout" : { "type" : "image", "position" : [8, 224], "zlevel" : 3, "file" : "/items/armors/alta/tier3/scout/mask/icon.png" },

    "img_devices" : { "type" : "image", "position" : [169, 240], "zlevel" : 3, "file" : "/items/armors/alta/other/visor/icon.png" },
    "img_components" : { "type" : "image", "position" : [169, 224], "zlevel" : 3, "file" : "/items/generic/crafting/silk.png" },
    "img_datamasses" : { "type" : "image", "position" : [215, 240], "zlevel" : 3, "file" : "/items/generic/crafting/ct_datamass.png" },
    "img_aichips" : { "type" : "image", "position" : [215, 224], "zlevel" : 3, "file" : "/items/aichips/ct_alta_ai_chip.png" },
    "img_equipment" : { "type" : "image", "position" : [261, 240], "zlevel" : 3, "file" : "/items/throwables/throwingblock.png" },
    "img_medicine" : { "type" : "image", "position" : [261, 224], "zlevel" : 3, "file" : "/items/generic/other/bandage.png?replace=d0c0a8=f6f6f6?replace=a58862=d8dcf0?replace=87623c=b0b4c8?replace=553115=606478" },

    "img_materials" : { "type" : "image", "position" : [207, 200], "zlevel" : 3, "file" : "/items/generic/crafting/ct_ayaka_wood.png" },
    "img_clothing" : { "type" : "image", "position" : [207, 173], "zlevel" : 3, "file" : "/items/armors/alta/clothing/light_shirt/icon.png" },
    "img_objects" : { "type" : "image", "position" : [207, 146], "zlevel" : 3, "file" : "/objects/alta/crafting/crafting_station/icon1.png" },
    "img_dyes" : { "type" : "image", "position" : [207, 119], "zlevel" : 3, "file" : "/items/generic/dyes/whitedye.png" },
    "img_sets" : { "type" : "image", "position" : [207, 92], "zlevel" : 3, "file" : "/items/active/alta/sets/metrocop.png" },
    "img_robotics" : { "type" : "image", "position" : [207, 65], "zlevel" : 3, "file" : "/items/active/alta/spawners/drones/scout.png" },



    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        { "position" : [92, 20], "data" : { "filter" : [ "all" ] }, "selected" : true, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/untab.png" },

        { "position" : [8, 224], "data" : { "filter" : [ "tier3_scout" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [169, 240], "data" : { "filter" : [ "devices" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [169, 224], "data" : { "filter" : [ "components" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 240], "data" : { "filter" : [ "datamass" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [215, 224], "data" : { "filter" : [ "aichips" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [261, 240], "data" : { "filter" : [ "equipment" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [261, 224], "data" : { "filter" : [ "medicine", "shielders" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },

        { "position" : [207, 200], "data" : { "filter" : [ "materials" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [207, 173], "data" : { "filter" : [ "clothing", "cosmetics" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [207, 146], "data" : { "filter" : [ "objects" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [207, 119], "data" : { "filter" : [ "dyes" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [207, 92], "data" : { "filter" : [ "sets" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" },
        { "position" : [207, 65], "data" : { "filter" : [ "drones", "droids", "androids", "robohelpers" ] }, "baseImage" : "/interface/alta/untab.png", "baseImageChecked" : "/interface/alta/tab.png" }
      ]
    }
  }
}
