{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : 0
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : 45
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : 90
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : 135
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : 180
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : -45
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : -90
    },
    {
      "action" : "projectile", "type" : "ct_warped_swarm",
      "fuzzAngle" : 20, "inheritDamageFactor" : 1, "angleAdjust" : -135
    }
  ]
}
