{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "ct_impulse_blast",
      "inheritDamageFactor" : 1
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_electric1.ogg", "/sfx/gun/grenadeblast_electric2.ogg", "/sfx/gun/grenadeblast_electric3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 48,
      "delaySteps" : 2
    }
  ]
}
