// Shop configs for nature/biome-related shop keepers.
// 0 - Ship
// 0.9 - Non-ship
// 2.9 - Alterash
// 4.9 - Alterash Prime, Enterash
// 5.9 - Enterash Prime
// 6.9 - Stardust Trail, Void Tear
// 7.9+ - Secret
{
  "viona" : [
    [0, [
      { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "duck" } }, "rarity" : 0.2, "price" : 220 },
      { "item" : { "name" : "ct_tool_mimic", "parameters" : { "preset" : "viona_shield" } }, "rarity" : 0.05, "price" : 1600 },
      { "item" : { "name" : "ct_tool_mimic", "parameters" : { "preset" : "vi_callista" } }, "rarity" : 0.02, "price" : 2300 },
      { "item" : { "name" : "ct_enchanted_twins" }, "rarity" : 0.01, "price" : 2400 },
      { "item" : { "name" : "ct_enchanted_blaster" }, "rarity" : 0.01, "price" : 1800 },
      { "item" : { "name" : "ct_enchanted_loot" }, "rarity" : 0.01, "price" : 600 },
      { "item" : { "name" : "rainbowunicornstatue" }, "rarity" : 0.2 },
      { "item" : { "name" : "fullbunnyhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "sheephead" }, "rarity" : 0.05 },
      { "item" : { "name" : "demonhornshead" }, "rarity" : 0.05 },
      { "item" : { "name" : "toxicflowerback" }, "rarity" : 0.05 },
      { "item" : { "name" : "turtleshellback" }, "rarity" : 0.05 },
      { "item" : { "name" : "fairyback" }, "rarity" : 0.05 },

      { "item" : { "name" : "cloudblock" } , "rarity" : 0.1, "price" : 16 },  // , "prerequisiteQuest" : "human_mission1" },
      { "item" : { "name" : "alienstripedwood" } , "rarity" : 0.1, "price" : 14 },
      { "item" : { "name" : "rainbowwoodblock" } , "rarity" : 0.1, "price" : 12 },
      { "item" : { "name" : "rainbowwood" } , "rarity" : 0.1, "price" : 25 },
      { "item" : { "name" : "ct_aid_mimic", "parameters" : { "preset" : "bandade_pretty" } }, "rarity" : 0.2, "price" : 220 },

      { "item" : { "name" : "ct_enchanted_chest" } , "rarity" : 0.1 },
      { "item" : { "name" : "symbiotehead" }, "rarity" : 0.005, "price" : 3200 }
    ]]
  ],

  "crystals" : [
    [0, [
      { "item" : { "name" : "ct_alta_crystals-codex" }, "rarity" : 0.01, "price" : 680 },
      { "item" : { "name" : "ct_crystalline_prime-codex" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_gheatsyn-codex" }, "rarity" : 0.01, "price" : 600 },

      { "item" : { "name" : "ct_crystalline_prime_loot" }, "rarity" : 0.01, "price" : 620 },
      { "item" : { "name" : "ct_calin_loot" }, "rarity" : 0.01, "price" : 600 },
      { "item" : { "name" : "ct_gheatsyn_loot" }, "rarity" : 0.01, "price" : 820 },
      { "item" : { "name" : "ct_bishyn_loot" }, "rarity" : 0.01, "price" : 800 },
      { "item" : { "name" : "ct_hevika_loot" }, "rarity" : 0.01, "price" : 840 },

      { "item" : { "name" : "ct_gheatsyn_shard" }, "rarity" : 0.5 },
      { "item" : { "name" : "ct_gheatsyn_crystal" }, "rarity" : 0.05, "price" : 240 },
      { "item" : { "name" : "ct_gheatorn_arc" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_eye" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_horns" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_rod" }, "rarity" : 0.02 },
      { "item" : { "name" : "geode" }, "rarity" : 0.3, "price" : 200 },
      { "item" : { "name" : "crystalbackpackback" }, "rarity" : 0.05 },
      { "item" : { "name" : "geodeblock" } , "rarity" : 0.25, "price" : 12 },
      { "item" : { "name" : "crystalblock" } , "rarity" : 0.25, "price" : 12 },
      { "item" : { "name" : "crystalplant" }, "rarity" : 0.5, "price" : 100 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "calin_mask" } }, "rarity" : 0.05, "price" : 1720 },
      { "item" : { "name" : "ct_calin_shield", "parameters" : { "preset" : "amethyst" } }, "rarity" : 0.05, "price" : 1060 }
    ]],
    [2.9, [
      { "item" : { "name" : "ct_alta_crystals-codex" }, "rarity" : 0.01, "price" : 680 },
      { "item" : { "name" : "ct_crystalline_prime-codex" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_gheatsyn-codex" }, "rarity" : 0.01, "price" : 600 },

      { "item" : { "name" : "ct_crystalline_prime_loot" }, "rarity" : 0.01, "price" : 620 },
      { "item" : { "name" : "ct_calin_loot" }, "rarity" : 0.01, "price" : 600 },
      { "item" : { "name" : "ct_gheatsyn_loot" }, "rarity" : 0.01, "price" : 820 },
      { "item" : { "name" : "ct_bishyn_loot" }, "rarity" : 0.01, "price" : 800 },
      { "item" : { "name" : "ct_hevika_loot" }, "rarity" : 0.01, "price" : 840 },

      { "item" : { "name" : "ct_gheatsyn_shard" }, "rarity" : 0.5 },
      { "item" : { "name" : "ct_gheatsyn_crystal" }, "rarity" : 0.05, "price" : 220 },
      { "item" : { "name" : "ct_gheatorn_arc" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_eye" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_horns" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_rod" }, "rarity" : 0.02 },
      { "item" : { "name" : "geode" }, "rarity" : 0.3, "price" : 200 },
      { "item" : { "name" : "crystalbackpackback" } , "rarity" : 0.5 },
      { "item" : { "name" : "geodeblock" } , "rarity" : 0.25, "price" : 10 },
      { "item" : { "name" : "crystalblock" } , "rarity" : 0.25, "price" : 10 },
      { "item" : { "name" : "crystalplant" }, "rarity" : 0.5, "price" : 100 },
      { "item" : { "name" : "crystalplantseed" }, "rarity" : 0.05, "price" : 1600 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "calin_mask" } }, "rarity" : 0.05, "price" : 1640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "alternia_sample" } }, "rarity" : 0.2, "price" : 720 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "enternia_sample" } }, "rarity" : 0.2, "price" : 720 },

      { "item" : { "name" : "ct_calin_shield", "parameters" : { "preset" : "amethyst" } }, "rarity" : 0.05, "price" : 1000 },
      { "item" : { "name" : "ct_calin_shield" }, "rarity" : 0.03, "price" : 1250 },
      { "item" : { "name" : "ct_crystalline_shield" }, "rarity" : 0.03, "price" : 1250 },
      { "item" : { "name" : "ct_crystalline_shield", "parameters" : { "preset" : "carel" } }, "rarity" : 0.03, "price" : 1250 }
    ]],
    [3.9, [
      { "item" : { "name" : "ct_alta_crystals-codex" }, "rarity" : 0.01, "price" : 680 },
      { "item" : { "name" : "ct_crystalline_prime-codex" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_gheatsyn-codex" }, "rarity" : 0.01, "price" : 600 },

      { "item" : { "name" : "ct_crystalline_prime_loot" }, "rarity" : 0.01, "price" : 620 },
      { "item" : { "name" : "ct_calin_loot" }, "rarity" : 0.01, "price" : 600 },
      { "item" : { "name" : "ct_gheatsyn_loot" }, "rarity" : 0.01, "price" : 820 },
      { "item" : { "name" : "ct_bishyn_loot" }, "rarity" : 0.01, "price" : 800 },
      { "item" : { "name" : "ct_hevika_loot" }, "rarity" : 0.01, "price" : 840 },

      { "item" : { "name" : "ct_gheatsyn_shard" }, "rarity" : 0.5 },
      { "item" : { "name" : "ct_gheatsyn_crystal" }, "rarity" : 0.05, "price" : 200 },
      { "item" : { "name" : "ct_gheatorn_arc" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_eye" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_horns" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_rod" }, "rarity" : 0.02 },
      { "item" : { "name" : "geode" }, "rarity" : 0.3, "price" : 200 },
      { "item" : { "name" : "crystalbackpackback" } , "rarity" : 0.5 },
      { "item" : { "name" : "geodeblock" } , "rarity" : 0.25, "price" : 8 },
      { "item" : { "name" : "crystalblock" } , "rarity" : 0.25, "price" : 8 },
      { "item" : { "name" : "crystalplant" }, "rarity" : 0.5, "price" : 100 },
      { "item" : { "name" : "crystalplantseed" }, "rarity" : 0.05, "price" : 1600 },

      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "calin_mask" } }, "rarity" : 0.05, "price" : 1600 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "alternia_sample" } }, "rarity" : 0.2, "price" : 640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "enternia_sample" } }, "rarity" : 0.2, "price" : 640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "mical_sample" } }, "rarity" : 0.1, "price" : 720 },
      { "item" : { "name" : "ct_enterite_sample" }, "rarity" : 0.1 },

      { "item" : { "name" : "ct_bishyn_sample" }, "rarity" : 0.005, "price" : 720 },
      { "item" : { "name" : "ct_calin_sample" }, "rarity" : 0.005, "price" : 720 },
      { "item" : { "name" : "ct_gheatsyn_sample" }, "rarity" : 0.005, "price" : 720 },
      { "item" : { "name" : "ct_hevika_sample" }, "rarity" : 0.005, "price" : 720 },

      { "item" : { "name" : "ct_calin_shield", "parameters" : { "preset" : "amethyst" } }, "rarity" : 0.01, "price" : 1000 },
      { "item" : { "name" : "ct_calin_shield" }, "rarity" : 0.05, "price" : 1250 },
      { "item" : { "name" : "ct_crystalline_shield" }, "rarity" : 0.05, "price" : 1250 },
      { "item" : { "name" : "ct_crystalline_shield", "parameters" : { "preset" : "carel" } }, "rarity" : 0.05, "price" : 1250 },
      { "item" : { "name" : "ct_crystalline_shield", "parameters" : { "preset" : "bishyn" } }, "rarity" : 0.02, "price" : 1650 }
    ]],
    [4.9, [
      { "item" : { "name" : "ct_alta_crystals-codex" }, "rarity" : 0.01, "price" : 680 },
      { "item" : { "name" : "ct_crystalline_prime-codex" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_gheatsyn-codex" }, "rarity" : 0.01, "price" : 600 },

      { "item" : { "name" : "ct_crystalline_prime_loot" }, "rarity" : 0.01, "price" : 620 },
      { "item" : { "name" : "ct_calin_loot" }, "rarity" : 0.01, "price" : 600 },
      { "item" : { "name" : "ct_gheatsyn_loot" }, "rarity" : 0.01, "price" : 820 },
      { "item" : { "name" : "ct_bishyn_loot" }, "rarity" : 0.01, "price" : 800 },
      { "item" : { "name" : "ct_hevika_loot" }, "rarity" : 0.01, "price" : 840 },

      { "item" : { "name" : "ct_gheatsyn_shard" }, "rarity" : 0.5 },
      { "item" : { "name" : "ct_gheatsyn_crystal" }, "rarity" : 0.05, "price" : 180 },
      { "item" : { "name" : "ct_gheatorn_arc" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_eye" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_horns" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatorn_rod" }, "rarity" : 0.02 },
      { "item" : { "name" : "geode" }, "rarity" : 0.3, "price" : 200 },
      { "item" : { "name" : "crystalbackpackback" } , "rarity" : 0.5 },
      { "item" : { "name" : "geodeblock" } , "rarity" : 0.25, "price" : 8 },
      { "item" : { "name" : "crystalblock" } , "rarity" : 0.25, "price" : 8 },
      { "item" : { "name" : "crystalplant" }, "rarity" : 0.5, "price" : 100 },
      { "item" : { "name" : "crystalplantseed" }, "rarity" : 0.05, "price" : 1600 },

      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "calin_mask" } }, "rarity" : 0.05, "price" : 1500 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "alternia_sample" } }, "rarity" : 0.1, "price" : 640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "enternia_sample" } }, "rarity" : 0.1, "price" : 640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "mical_sample" } }, "rarity" : 0.2, "price" : 640 },
      { "item" : { "name" : "ct_enterite_sample" }, "rarity" : 0.1 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "spectral_pod" } }, "rarity" : 0.05, "price" : 2400 },

      { "item" : { "name" : "ct_bishyn_sample" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_calin_sample" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_gheatsyn_sample" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_hevika_sample" }, "rarity" : 0.01, "price" : 640 },

      { "item" : { "name" : "prisilitesample" }, "rarity" : 0.1 },
      { "item" : { "name" : "titaniumsample" }, "rarity" : 0.1 },
      { "item" : { "name" : "durasteelsample" }, "rarity" : 0.1 },
      { "item" : { "name" : "diamondsample" }, "rarity" : 0.1 },

      { "item" : { "name" : "ct_calin_shield", "parameters" : { "preset" : "amethyst" } }, "rarity" : 0.001, "price" : 960 },
      { "item" : { "name" : "ct_calin_shield" }, "rarity" : 0.002, "price" : 1200 },
      { "item" : { "name" : "ct_crystalline_shield" }, "rarity" : 0.002, "price" : 1200 },
      { "item" : { "name" : "ct_crystalline_shield", "parameters" : { "preset" : "carel" } }, "rarity" : 0.002, "price" : 1200 },
      { "item" : { "name" : "ct_crystalline_shield", "parameters" : { "preset" : "bishyn" } }, "rarity" : 0.05, "price" : 1620 }
    ]],
    [6.9, [
      { "item" : { "name" : "geode" }, "rarity" : 0.3, "price" : 200 },
      { "item" : { "name" : "crystalbackpackback" } , "rarity" : 0.5 },

      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "calin_mask" } }, "rarity" : 0.05, "price" : 1500 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "alternia_sample" } }, "rarity" : 0.1, "price" : 640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "enternia_sample" } }, "rarity" : 0.1, "price" : 640 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "mical_sample" } }, "rarity" : 0.2, "price" : 640 },
      { "item" : { "name" : "ct_enterite_sample" }, "rarity" : 0.1 },
      // { "item" : { "name" : "ct_obj_mimic", "parameters" : { "preset" : "spectral_pod" } }, "rarity" : 0.05, "price" : 2400 },

      { "item" : { "name" : "ct_bishyn_sample" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_calin_sample" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_gheatsyn_sample" }, "rarity" : 0.01, "price" : 640 },
      { "item" : { "name" : "ct_hevika_sample" }, "rarity" : 0.01, "price" : 640 },

      { "item" : { "name" : "prisilitesample" }, "rarity" : 0.1 },
      { "item" : { "name" : "titaniumsample" }, "rarity" : 0.1 },
      { "item" : { "name" : "durasteelsample" }, "rarity" : 0.1 },
      { "item" : { "name" : "diamondsample" }, "rarity" : 0.1 },

      { "item" : { "name" : "ct_crystalline_shield", "parameters" : { "preset" : "bishyn" } }, "rarity" : 0.05, "price" : 1620 }
    ]]
  ],

  "warped" : [  // https://starbounder.org/Beehive
    [0, [
      { "item" : { "name" : "ct_tool_mimic", "parameters" : { "preset" : "warped_shield" } }, "rarity" : 0.5, "price" : 1600 },
      { "item" : { "name" : "ct_back_mimic", "parameters" : { "preset" : "warped_glowtail" } }, "rarity" : 0.005, "price" : 2400 },
      { "item" : { "name" : "eyehead" }, "rarity" : 0.01 },
      { "item" : { "name" : "faceleechhead" }, "rarity" : 0.01 },
      { "item" : { "name" : "pinkeyeparasitehead" }, "rarity" : 0.01 },
      { "item" : { "name" : "toxicflowerback" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped-codex" }, "rarity" : 0.005, "price" : 620 },
      { "item" : { "name" : "ct_nivera-codex" }, "rarity" : 0.005, "price" : 640 },
      { "item" : { "name" : "ct_yonnur-codex" }, "rarity" : 0.005, "price" : 660 },
      { "item" : { "name" : "ct_sentia-codex" }, "rarity" : 0.005, "price" : 680 },
      { "item" : { "name" : "ct_warped_loot" }, "rarity" : 0.001, "price" : 600 },
      { "item" : { "name" : "ct_warped_gun" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_niverisk" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_warped_augment" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_warped_collar" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_warped_bed" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_chair" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_chest" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_door" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_drainer" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_lamp" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_light" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_table" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_smoker" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_warped_fumes" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_warped_hive" }, "rarity" : 0.006 }
    ]]
  ],

  "yaara" : [
    [0, [
      { "item" : { "name" : "floranhistory2-codex" }, "rarity" : 0.01, "price" : 440 },
      { "item" : { "name" : "floranhistory6-codex" }, "rarity" : 0.01, "price" : 540 },
      { "item" : { "name" : "ct_yaara-codex" }, "rarity" : 0.01, "price" : 620 },
      { "item" : { "name" : "ct_yaara_loot" }, "rarity" : 0.001, "price" : 600 },
      { "item" : { "name" : "ct_yaara_collar" }, "rarity" : 0.001 },

      { "item" : { "name" : "ct_yaara_bed" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_cabinet" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_couch" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_door" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_lamp" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_lamp_crystal" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_table" }, "rarity" : 0.02 },

      { "item" : { "name" : "ct_yaara_eye" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_lifespring" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_yaarings" }, "rarity" : 0.005 },

      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_keeper_mask" } }, "rarity" : 0.02, "price" : 2800 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_shaman_mask" } }, "rarity" : 0.01, "price" : 3600 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_keeper_crown" } }, "rarity" : 0.005, "price" : 6400 },
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "preset" : "yaara_body_vine" } }, "rarity" : 0.02, "price" : 3600 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara" } }, "rarity" : 0.01, "price" : 2400 },
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "preset" : "yaara" } }, "rarity" : 0.01, "price" : 2400 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "preset" : "yaara" } }, "rarity" : 0.01, "price" : 2400 }
    ]],
    [2.9, [
      { "item" : { "name" : "floranhistory2-codex" }, "rarity" : 0.01, "price" : 440 },
      { "item" : { "name" : "floranhistory6-codex" }, "rarity" : 0.01, "price" : 540 },
      { "item" : { "name" : "ct_yaara-codex" }, "rarity" : 0.01, "price" : 620 },
      { "item" : { "name" : "ct_yaara_loot" }, "rarity" : 0.001, "price" : 600 },

      { "item" : { "name" : "ct_yaara_bed" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_yaara_cabinet" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_yaara_couch" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_door" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_lamp" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_lamp_crystal" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_yaara_orb" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_yaara_table" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_yaara_watcher" }, "rarity" : 0.01 },

      { "item" : { "name" : "ct_yaara_crystal_node" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_yaara_eye_node" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_yaara_node" }, "rarity" : 0.002 },

      { "item" : { "name" : "ct_yaara_eye" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_yaara_root" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_lifespring" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_yaarings" }, "rarity" : 0.005 },

      { "item" : { "name" : "ct_yaaracollar" }, "rarity" : 0.001 },

      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_keeper" } }, "rarity" : 0.025, "price" : 2800 },
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "preset" : "yaara_keeper" } }, "rarity" : 0.025, "price" : 3200 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "preset" : "yaara_keeper" } }, "rarity" : 0.025, "price" : 2400 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_keeper_mask" } }, "rarity" : 0.025, "price" : 2400 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_shaman_mask" } }, "rarity" : 0.025, "price" : 3600 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara_keeper_crown" } }, "rarity" : 0.05, "price" : 6400 },
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "preset" : "yaara_body_vine" } }, "rarity" : 0.05, "price" : 3600 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "yaara" } }, "rarity" : 0.025, "price" : 2400 },
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "preset" : "yaara" } }, "rarity" : 0.025, "price" : 2400 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "preset" : "yaara" } }, "rarity" : 0.025, "price" : 2400 }
    ]]
  ],

  "aric" : [
    [0, [
      { "item" : { "name" : "ct_aric-codex" }, "rarity" : 0.0001 },
      { "item" : { "name" : "ct_shroomic_loot" }, "rarity" : 0.001, "price" : 600 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "aric_headcap" } }, "rarity" : 0.025, "price" : 2400 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "aric_toxicap" } }, "rarity" : 0.025, "price" : 3200 },
      { "item" : { "name" : "liquidpoison" }, "rarity" : 0.001, "price" : 200 },
      { "item" : { "name" : "biosample" }, "rarity" : 0.001, "price" : 200 },
      { "item" : { "name" : "toxicwaste" }, "rarity" : 0.001, "price" : 200 },
      { "item" : { "name" : "serenebed" }, "rarity" : 0.001 },
      { "item" : { "name" : "serenechair" }, "rarity" : 0.001 },
      { "item" : { "name" : "sereneswitch" }, "rarity" : 0.001 },
      { "item" : { "name" : "serenedoor" }, "rarity" : 0.001 },
      { "item" : { "name" : "serenelight" }, "rarity" : 0.001 },
      { "item" : { "name" : "serenetable" }, "rarity" : 0.001 },
      { "item" : { "name" : "faceleechhead" }, "rarity" : 0.001 },
      { "item" : { "name" : "symbiotehead" }, "rarity" : 0.001 },
      { "item" : { "name" : "hazmathead" }, "rarity" : 0.0001 },
      { "item" : { "name" : "hazmatchest" }, "rarity" : 0.0001 },
      { "item" : { "name" : "hazmatlegs" }, "rarity" : 0.0001 },
      { "item" : { "name" : "hazmatback" }, "rarity" : 0.0001 },
      { "item" : { "name" : "ct_ararang" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_aric_collar" }, "rarity" : 0.001 }
    ]]
  ],

  "stardust" : [
    [0, [
      { "item" : { "name" : "prismlamp1" }, "rarity" : 0.01 },
      { "item" : { "name" : "prismlamp2" }, "rarity" : 0.01 },
      { "item" : { "name" : "prismlamp3" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_tiana-codex" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_stardust-codex" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_spacedrifter-codex" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_love-codex" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_lenn-codex" }, "rarity" : 0.001 },
      { "item" : { "name" : "prisiliteore" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "hood_stardust" } }, "rarity" : 0.025 },
      { "item" : { "name" : "ct_back_mimic", "parameters" : { "preset" : "hood_stardust" } }, "rarity" : 0.025 }
    ]]
  ]
}
