objects-by-category/
objects-by-colonytag/
objects-by-race/
!objects-by-race/alta.json
objects-by-type/
!objects-by-type/my_enternia.json
huge-objects.json
liquids.json
materials.json
miscellaneous.json
supports.json
