{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "smallregularexplosionuniversal"
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dusttest/dusttest.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.85,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/thorngrenadeblast1.ogg", "/sfx/projectiles/thorngrenadeblast2.ogg", "/sfx/projectiles/thorngrenadeblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "cyan"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 0
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 22
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 45
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 68
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 90
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 112
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 135
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 158
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 180
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 202
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 225
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 248
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 270
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 292
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 315
    },
    {
      "action" : "projectile",
      "type" : "ct_bishyn_shard",
      "inheritDamageFactor" : 0.2,
      "angle" : 338
    }
  ]
}
