{
    "base" : 75.0,
    "default" : {  // +0.05 = 3.75
        "0" : 0.06,     // 4.5
        "1" : 0.08,     // 6
        "2" : 0.2,      // 15
        "3" : 0.25,     // 18,75
        "4" : 0.3,      // 22,5
        "4.1" : 0.35,   // 26,25
        "5" : 0.4,      // 30
        "5.1" : 0.45,   // 33,75
        "5.2" : 0.5,    // 37,5
        "6" : 0.6,      // 45
        "6.1" : 0.65,   // 48,75
        "6.2" : 0.7,    // 52,5
        "6.3" : 0.75,   // 56,25
        "7" : 0.8,     // 60
        "8" : 1.0,      // 75
        "9" : 1.2,      // 90
        "10" : 1.4      // 105
    },
    "foodValue" : {
        "drink" : 0.6
    }
}
