{
  "rotTimeDescriptions" : [
    [300, "^red;Almost fully fermented^reset;"],
    [1800, "^orange;Starting to ferment^reset;"],
    [3600, "^yellow;Will probably start fermenting soon^reset;"],
    [10800, "^green;Should stay fresh for awhile^reset;"],
    [999999, "^green;Extremely well preserved^reset;"]
  ]
}
