{
  "gardener" : [
    [0, [
      { "item" : { "name" : "ct_ayaka-codex" }, "rarity" : 0.01, "price" : 720 },
      { "item" : { "name" : "ct_haven-codex" }, "rarity" : 0.01, "price" : 720 },
      { "item" : { "name" : "ct_nivera-codex" }, "rarity" : 0.01, "price" : 720 },
      { "item" : { "name" : "ct_aric-codex" }, "rarity" : 0.01, "price" : 720 },

      { "item" : { "name" : "fireflowerpot", "price" : 150 } },
      { "item" : { "name" : "wflowerpot", "price" : 150 } },
      { "item" : { "name" : "giantflowerlamp" }, "rarity" : 0.5, "price" : 175 },
      { "item" : { "name" : "splendidplant" }, "rarity" : 0.5, "price" : 160 },
      { "item" : { "name" : "vibrantplant" }, "rarity" : 0.5, "price" : 160 },
      { "item" : { "name" : "flowerbox" }, "rarity" : 0.5, "price" : 165 },

      { "item" : { "name" : "berryhead", "parameters" : { "colorIndex" : 10, "shop" : true } }, "rarity" : 0.3 },
      { "item" : { "name" : "strawberryhead" }, "rarity" : 0.3 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "flower", "shop" : true } }, "rarity" : 0.3, "price" : 1200 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "felistraza", "shop" : true } }, "rarity" : 0.5, "price" : 3200 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "flower_crown", "shop" : true } }, "rarity" : 0.5, "price" : 3400 },

      { "item" : { "name" : "ct_verriskoywa_alto" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "ct_verriskoywa_faro" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "ct_verriskoywa_miko" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "ct_verriskoywa_alto_twin" }, "rarity" : 0.06, "price" : 150 },
      { "item" : { "name" : "ct_verriskoywa_faro_twin" }, "rarity" : 0.06, "price" : 150 },
      { "item" : { "name" : "ct_verriskoywa_miko_twin" }, "rarity" : 0.06, "price" : 150 },

      { "item" : { "name" : "ct_tonna" }, "rarity" : 0.20, "price" : 160 },

      { "item" : { "name" : "wateringcan" }, "rarity" : 0.001, "price" : 2700 }
    ]],
    [2.9, [
      { "item" : { "name" : "ct_ayaka-codex" }, "rarity" : 0.01, "price" : 720 },
      { "item" : { "name" : "ct_haven-codex" }, "rarity" : 0.01, "price" : 720 },
      { "item" : { "name" : "ct_nivera-codex" }, "rarity" : 0.01, "price" : 720 },
      { "item" : { "name" : "ct_aric-codex" }, "rarity" : 0.01, "price" : 720 },

      { "item" : { "name" : "fairylights" }, "rarity" : 0.2, "price" : 260 },
      { "item" : { "name" : "grassseeds" } },
      { "item" : { "name" : "flowerygrassseeds" }, "rarity" : 0.5 },
      { "item" : { "name" : "beakseedseed" }, "rarity" : 0.1, "price" : 6200 },
      { "item" : { "name" : "ct_gil_seed" }, "rarity" : 0.1, "price" : 6800 },
      { "item" : { "name" : "ct_tsay_seed" }, "rarity" : 0.1, "price" : 6800 },

      { "item" : { "name" : "fireflowerpot", "price" : 150 } },
      { "item" : { "name" : "wflowerpot", "price" : 150 } },
      { "item" : { "name" : "giantflowerlamp" }, "rarity" : 0.5, "price" : 175 },
      { "item" : { "name" : "splendidplant" }, "rarity" : 0.5, "price" : 160 },
      { "item" : { "name" : "vibrantplant" }, "rarity" : 0.5, "price" : 160 },
      { "item" : { "name" : "flowerbox" }, "rarity" : 0.5, "price" : 165 },

      { "item" : { "name" : "berryhead", "parameters" : { "colorIndex" : 10, "shop" : true } }, "rarity" : 0.3 },
      { "item" : { "name" : "strawberryhead" }, "rarity" : 0.3 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "flower", "shop" : true } }, "rarity" : 0.3, "price" : 1200 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "felistraza", "shop" : true } }, "rarity" : 0.5, "price" : 3200 },
      { "item" : { "name" : "ct_head_mimic", "parameters" : { "preset" : "flower_crown", "shop" : true } }, "rarity" : 0.5, "price" : 3400 },
      { "item" : { "name" : "wateringcan" }, "rarity" : 0.001, "price" : 1800 },
      { "item" : { "name" : "pollenpump" }, "rarity" : 0.02, "price" : 2650 },

      { "item" : { "name" : "ct_verriskoywa_alto" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "ct_verriskoywa_faro" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "ct_verriskoywa_miko" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "ct_verriskoywa_alto_twin" }, "rarity" : 0.06, "price" : 150 },
      { "item" : { "name" : "ct_verriskoywa_faro_twin" }, "rarity" : 0.06, "price" : 150 },
      { "item" : { "name" : "ct_verriskoywa_miko_twin" }, "rarity" : 0.06, "price" : 150 },
      { "item" : { "name" : "ct_yaara_bulb" }, "rarity" : 0.2 },
      { "item" : { "name" : "ct_yaara_thorns1" }, "rarity" : 0.06 },
      { "item" : { "name" : "ct_yaara_thorns2" }, "rarity" : 0.06 },
      { "item" : { "name" : "ct_yaara_thorns3" }, "rarity" : 0.06 },
      { "item" : { "name" : "ct_yaara_thorns4" }, "rarity" : 0.06 },
      { "item" : { "name" : "ct_tonna" }, "rarity" : 0.20, "price" : 160 },
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "red_archulins", "shop" : true } }, "rarity" : 0.3, "price" : 60 },  // https://starbounder.org/Grapes
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "yaara_melon", "shop" : true } }, "rarity" : 0.3, "price" : 100 },  // https://starbounder.org/Wartweed
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "alunika", "shop" : true } }, "rarity" : 0.3, "price" : 80 },  // https://starbounder.org/Neonmelon
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "alta_pear", "shop" : true } }, "rarity" : 0.3, "price" : 60 }  // https://starbounder.org/Alien_Fruit
    ]]
  ],

"ingredients" : [
    [0, [
      { "item" : { "name" : "ct_aya_powder" }, "rarity" : 0.60, "price" : 120 },
      { "item" : { "name" : "ct_ionice_cube" }, "rarity" : 0.60, "price" : 120 },
      { "item" : { "name" : "ct_gharus_spice" }, "rarity" : 0.60, "price" : 200 },
      { "item" : { "name" : "ct_minto_spice" }, "rarity" : 0.60, "price" : 200 },
      { "item" : { "name" : "bottledwater" }, "rarity" : 0.60, "price" : 100 },
      { "item" : { "name" : "beakseed" }, "rarity" : 0.60, "price" : 150 },
      { "item" : { "name" : "milk" }, "rarity" : 0.60, "price" : 180 },
      { "item" : { "name" : "egg" }, "rarity" : 0.60, "price" : 90 }
    ]]
],

"bartender" : [
    [0, [
      { "item" : { "name" : "bottledwater" }, "price" : 100 },  // l1
      { "item" : { "name" : "ct_ionice_cube" }, "rarity" : 0.60, "price" : 120 },
      { "item" : { "name" : "beakseedjam" }, "rarity" : 0.50, "price" : 320 },  // l2
      { "item" : { "name" : "sweetpunch" }, "rarity" : 0.20, "price" : 680 },  // l3
      { "item" : { "name" : "reefshake" }, "rarity" : 0.20, "price" : 300 },  // l4
      { "item" : { "name" : "reefjuice" }, "rarity" : 0.20, "price" : 240 },  // l4

      // Drinks

      // T1
      { "item" : { "name" : "ct_bio_fresh", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50 },
      { "item" : { "name" : "ct_ionic_fresh", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50 },
      { "item" : { "name" : "ct_aya_fresh", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_bio_fresh", "parameters" : { "preset" : "miko", "shop" : true } }, "rarity" : 0.50 },

      { "item" : { "name" : "ct_ionic_fresh", "parameters" : { "preset" : "party", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_fresh", "parameters" : { "preset" : "viona", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_bio_fresh", "parameters" : { "preset" : "essence", "shop" : true } }, "rarity" : 0.50 },
      { "item" : { "name" : "ct_ionic_fresh", "parameters" : { "preset" : "essence", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      { "item" : { "name" : "ct_aya_fresh", "parameters" : { "preset" : "essence", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_fresh", "parameters" : { "preset" : "markvin", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      // T2
      { "item" : { "name" : "ct_calio_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_gheatsyn_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_koywa_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_maito_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_miko_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_vermont_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_yaara_tea", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_calio_tea", "parameters" : { "preset" : "thick", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_calio_tea", "parameters" : { "preset" : "ayaka", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_calio_tea", "parameters" : { "preset" : "carel", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_gheatsyn_tea", "parameters" : { "preset" : "gheamont", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_gheatsyn_tea", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_koywa_tea", "parameters" : { "preset" : "koywa", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_koywa_tea", "parameters" : { "preset" : "dreamer", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_maito_tea", "parameters" : { "preset" : "calm", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_maito_tea", "parameters" : { "preset" : "crimson", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_miko_tea", "parameters" : { "preset" : "yae", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_miko_tea", "parameters" : { "preset" : "vitamin", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_vermont_tea", "parameters" : { "preset" : "exotic", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_vermont_tea", "parameters" : { "preset" : "tsay", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_yaara_tea", "parameters" : { "preset" : "ceternia", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_yaara_tea", "parameters" : { "preset" : "viona", "shop" : true } }, "rarity" : 0.20 },

      // T3
      { "item" : { "name" : "ct_aya_punch", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_heecho_punch", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_natal_punch", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_tonna_shake", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_aya_punch", "parameters" : { "preset" : "bluesweet", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_heecho_punch", "parameters" : { "preset" : "extra", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_natal_punch", "parameters" : { "preset" : "deluxe", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_tonna_shake", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_tonna_shake", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_heecho_punch", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_heecho_punch", "parameters" : { "preset" : "ayaka", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_heecho_punch", "parameters" : { "preset" : "gillimon", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_heecho_punch", "parameters" : { "preset" : "prism", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_natal_punch", "parameters" : { "preset" : "gum", "shop" : true } }, "rarity" : 0.10 },

      // T4
      { "item" : { "name" : "ct_mohitava_cocktail", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_nia_cocktail", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_warped_cocktail", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_yuri_cocktail", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_mohitava_cocktail", "parameters" : { "preset" : "deluxe", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_nia_cocktail", "parameters" : { "preset" : "ceternia", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_nia_cocktail", "parameters" : { "preset" : "alternia", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_nia_cocktail", "parameters" : { "preset" : "enternia", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_nia_cocktail", "parameters" : { "preset" : "stardust", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_warped_cocktail", "parameters" : { "preset" : "glowarp", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_yuri_cocktail", "parameters" : { "preset" : "deluxe", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_mohitava_cocktail", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_yuri_cocktail", "parameters" : { "preset" : "kaiter", "shop" : true } }, "rarity" : 0.05 },

      // Mimic items
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "cuvia_punch", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Alien_Fruit_Juice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "alta_pear_tea", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Carrot_Juice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "ciranga_punch", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Cactus_Juice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "fresh_cocktail", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Bloody_Puss
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "poi_tea", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Tomato_Juice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "multi_punch", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Sweet_Punch

      // Jam

      // T1
      { "item" : { "name" : "ct_aya_jam", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_crystal_jam", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_iso_jam", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_iso_jam", "parameters" : { "preset" : "cryo", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      { "item" : { "name" : "ct_crystal_jam", "parameters" : { "preset" : "bishyn", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_crystal_jam", "parameters" : { "preset" : "calline", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_jam", "parameters" : { "preset" : "runeva", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_jam", "parameters" : { "preset" : "sap", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      { "item" : { "name" : "ct_iso_jam", "parameters" : { "preset" : "honey", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_jam", "parameters" : { "preset" : "honey", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      // Mimic items
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "alta_pear_jam", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Kiwi_Jam
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "alunika_jam", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Pussplum_Jam
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "gillimon_jam", "shop" : true } }, "rarity" : 0.20, "price" : 300 },  // https://starbounder.org/Toxictop_Jam
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "miko_honey", "shop" : true } }, "rarity" : 0.20, "price" : 400 }  // https://starbounder.org/Toxictop_Jam
    ]]
  ],

  "chef" : [
    [0, [
      { "item" : { "name" : "ct_alta_food-codex" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_food_2-codex" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_food_runeva-codex" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_food_calin-codex" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_food_nia-codex" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_food_yava-codex" }, "rarity" : 0.01 },

      { "item" : { "name" : "fryingpan" }, "rarity" : 0.50, "price" : 700 },  // l2
      { "item" : { "name" : "beakseedbread" }, "rarity" : 0.60, "price" : 360 },  // l2
      { "item" : { "name" : "beakseedtart" }, "rarity" : 0.60, "price" : 360 },  // l2

      // T1
      { "item" : { "name" : "ct_gillikada", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50 },
      { "item" : { "name" : "ct_lifespring", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_tonnakada", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_yaarings", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },

      { "item" : { "name" : "ct_aya_baked", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_aya_boiled", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_tsay_cooked", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.50, "price" : 260 },
      { "item" : { "name" : "ct_tonnakada", "parameters" : { "preset" : "virma", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      { "item" : { "name" : "ct_yaarings", "parameters" : { "preset" : "poivani", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_baked", "parameters" : { "preset" : "xenopod", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_baked", "parameters" : { "preset" : "alta_pear", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_tsay_cooked", "parameters" : { "preset" : "haven", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      { "item" : { "name" : "ct_gillikada", "parameters" : { "preset" : "split", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_lifespring", "parameters" : { "preset" : "lifesapling", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_tonnakada", "parameters" : { "preset" : "split", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_yaarings", "parameters" : { "preset" : "hot", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      { "item" : { "name" : "ct_yaarings", "parameters" : { "preset" : "alien_pearls", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_baked", "parameters" : { "preset" : "mash", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_baked", "parameters" : { "preset" : "yaara", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_aya_boiled", "parameters" : { "preset" : "blue_boil", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      // T1 part 2
      { "item" : { "name" : "ct_tsay_cooked", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_tsay_cooked", "parameters" : { "preset" : "koywa", "shop" : true } }, "rarity" : 0.50, "price" : 400 },
      { "item" : { "name" : "ct_tsay_cooked", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.50, "price" : 400 },

      // T2
      { "item" : { "name" : "ct_assorti", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_aya_icecream", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_biomix_icecream", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_crystal_cookies", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_crystal_icecream", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_ometonna", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_tsay_icecream", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_zandarm_tart", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_assorti", "parameters" : { "preset" : "salad", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_aya_icecream", "parameters" : { "preset" : "dessert", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_biomix_icecream", "parameters" : { "preset" : "dessert", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_biomix_icecream", "parameters" : { "preset" : "ayaka", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_biomix_icecream", "parameters" : { "preset" : "virma", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_biomix_icecream", "parameters" : { "preset" : "red", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_crystal_cookies", "parameters" : { "preset" : "candy", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_crystal_cookies", "parameters" : { "preset" : "calin", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_crystal_icecream", "parameters" : { "preset" : "dessert", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_crystal_icecream", "parameters" : { "preset" : "gum", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_crystal_icecream", "parameters" : { "preset" : "ayaka", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_crystal_icecream", "parameters" : { "preset" : "waffle", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_crystal_icecream", "parameters" : { "preset" : "carel", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_ometonna", "parameters" : { "preset" : "caretaker", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_tsay_icecream", "parameters" : { "preset" : "dessert", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_tsay_icecream", "parameters" : { "preset" : "warped", "shop" : true } }, "rarity" : 0.20 },

      { "item" : { "name" : "ct_tsay_icecream", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.20 },
      { "item" : { "name" : "ct_zandarm_tart", "parameters" : { "preset" : "prime", "shop" : true } }, "rarity" : 0.20 },

      // T3
      { "item" : { "name" : "ct_alta_dinner", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_aya_gil_pie", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_caliopa", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_crunchy_pie", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_fivaldo_salad", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_gil_tsay_stew", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_hive_curry", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_niatto_motsu", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_onitti_motsu", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_rimar_motsu", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_tonna_meringue", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_yaarizza", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_alta_dinner", "parameters" : { "preset" : "caretaker", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_aya_gil_pie", "parameters" : { "preset" : "runeva", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_caliopa", "parameters" : { "preset" : "stuffed", "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_crunchy_pie", "parameters" : { "preset" : "calin", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_fivaldo_salad", "parameters" : { "preset" : "banquet", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_gil_tsay_stew", "parameters" : { "preset" : "gharus", "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_hive_curry", "parameters" : { "preset" : "spice", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_niatto_motsu", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_onitti_motsu", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_rimar_motsu", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_tonna_meringue", "parameters" : { "preset" : "kada", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_yaarizza", "parameters" : { "preset" : "extra", "shop" : true } }, "rarity" : 0.10 },

      { "item" : { "name" : "ct_tonna_meringue", "parameters" : { "preset" : "crumble", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_aya_gil_pie", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_gil_tsay_stew", "parameters" : { "preset" : "boil", "shop" : true } }, "rarity" : 0.10 },
      { "item" : { "name" : "ct_rimar_motsu", "parameters" : { "preset" : "hive", "shop" : true } }, "rarity" : 0.10 },

      // T4
      { "item" : { "name" : "ct_alliana_cake", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_soup", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_haruplavu_venetto", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_ion_cake", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_ion_risotto", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_minto_soup", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_onitti_cake", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_palopias", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_pavolda_cake", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_special_mimosa", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_staris_soup", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_tonna_split", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_alliana_cake", "parameters" : { "preset" : "orchid", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alliana_cake", "parameters" : { "preset" : "love", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_soup", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_haruplavu_venetto", "parameters" : { "preset" : "prime", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_ion_cake", "parameters" : { "preset" : "love", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_ion_risotto", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_minto_soup", "parameters" : { "preset" : "maitai", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_minto_soup", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_onitti_cake", "parameters" : { "preset" : "love", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_palopias", "parameters" : { "preset" : "blooming", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_pavolda_cake", "parameters" : { "preset" : "love", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_special_mimosa", "parameters" : { "preset" : "lenn", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_staris_soup", "parameters" : { "preset" : "perfect", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_tonna_split", "parameters" : { "preset" : "extra", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_tonna_split", "parameters" : { "preset" : "mega", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_tonna_split", "parameters" : { "preset" : "surprize", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_alliana_cake", "parameters" : { "preset" : "berry", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_ion_cake", "parameters" : { "preset" : "alien", "shop" : true } }, "rarity" : 0.05 },

      // Mimic items
      // T1
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "cooked_arics", "shop" : true } }, "rarity" : 0.50, "price" : 320 },  // https://starbounder.org/Roasted_Mushrooms
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "cooked_yaara_eye", "shop" : true } }, "rarity" : 0.50, "price" : 320 },  // https://starbounder.org/Cooked_Tomato
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "yaara_melon_slice", "shop" : true } }, "rarity" : 0.50, "price" : 320 },  // https://starbounder.org/Hot_Bone
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "boiled_tonna", "shop" : true } }, "rarity" : 0.50, "price" : 320 },  // https://starbounder.org/Eyebowls
      // T1.5
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "tonna_bowl", "shop" : true } }, "rarity" : 0.40, "price" : 400 },  // https://starbounder.org/Coconut_Rice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "stuffed_aya", "shop" : true } }, "rarity" : 0.40, "price" : 400 },  // https://starbounder.org/Stuffed_Tomato
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "yaavikada", "shop" : true } }, "rarity" : 0.40, "price" : 440 },  // https://starbounder.org/Stuffed_Dirturchin
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "boiled_lookers", "shop" : true } }, "rarity" : 0.40, "price" : 320 },  // https://starbounder.org/Reefpod_Surprise
      // T2
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "nia_assorti", "shop" : true } }, "rarity" : 0.20, "price" : 520 },  // https://starbounder.org/Eggshoot_Salad
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "tonna_ice_cream", "shop" : true } }, "rarity" : 0.20, "price" : 520 },  // https://starbounder.org/Banana_Ice_Cream
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "yaavi_ice_cream", "shop" : true } }, "rarity" : 0.20, "price" : 480 },  // https://starbounder.org/Eggshoot_Ice_Cream
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "gillimon_ice_cream", "shop" : true } }, "rarity" : 0.20, "price" : 520 },  // https://starbounder.org/Cacti_Ice_Cream
      // T3
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "pizzionna_slice", "shop" : true } }, "rarity" : 0.10, "price" : 520 },  // https://starbounder.org/Piodia_Slice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "alta_charlotte", "shop" : true } }, "rarity" : 0.10, "price" : 800 },  // https://starbounder.org/Oculemon_Meringue
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "aric_stew", "shop" : true } }, "rarity" : 0.10, "price" : 860 },  // https://starbounder.org/Wartweed_Stew
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "motsu_original", "shop" : true } }, "rarity" : 0.10, "price" : 850 },  // https://starbounder.org/Garden_Salad
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "viona_motsu", "shop" : true } }, "rarity" : 0.10, "price" : 910 },  // https://starbounder.org/Oculemon_Stew
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "blue_blend_motsu", "shop" : true } }, "rarity" : 0.10, "price" : 920 },  // https://starbounder.org/Pussplum_Pudding
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "everything_stew", "shop" : true } }, "rarity" : 0.10, "price" : 950 },  // https://starbounder.org/Bon_Bon_Bon_Bons
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "sentia_crown_pie", "shop" : true } }, "rarity" : 0.10, "price" : 800 },  // https://starbounder.org/Spooky_Pie
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "juni_porridge_w_galo", "shop" : true } }, "rarity" : 0.10, "price" : 950 },  // https://starbounder.org/Special_Fried_Rice
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "ruvikva_pizza_slice", "shop" : true } }, "rarity" : 0.10, "price" : 920 },  // https://starbounder.org/Pineapple_Pizza_Slice
      // T4
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "birthday_cake", "shop" : true } }, "rarity" : 0.05, "price" : 1250 },  // https://starbounder.org/Cake
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "estria_love", "shop" : true } }, "rarity" : 0.05, "price" : 1200 },  // https://starbounder.org/Coffee_Cake
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "calin_jam_dumplings", "shop" : true } }, "rarity" : 0.05, "price" : 1100 },  // https://starbounder.org/Eggshoot_Salad
      { "item" : { "name" : "ct_food_mimic", "parameters" : { "preset" : "graa_venetto", "shop" : true } }, "rarity" : 0.05, "price" : 1200 }  // https://starbounder.org/Ocean_Risotto
    ]]
  ]
}
