// Research-related trade items sold by alta research archivers.
{  // These are mostly specimens and and lab equipment.

  // GENERIC

  "common" : [  // Common research equipment, can be sold by any research group.
    [0, [
      { "item" : { "name" : "ct_eds_visor", "parameters" : { "preset" : "light", "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_back_mimic", "parameters" : { "preset" : "antennas", "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_back_mimic", "parameters" : { "preset" : "breathing_pack", "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_back_mimic", "parameters" : { "preset" : "breathing_pack", "colorIndex" : 1, "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "redstim" }, "rarity" : 0.05, "price" : 200 },
      { "item" : { "name" : "bluestim" }, "rarity" : 0.05, "price" : 200 },
      { "item" : { "name" : "yellowstim" }, "rarity" : 0.05, "price" : 200 },

      { "item" : { "name" : "ct_alta_testing_ball" }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_loot_tier1" }, "rarity" : 0.005, "price" : 600 },
      // Objects
      { "item" : { "name" : "blueflask" }, "rarity" : 0.05 },
      { "item" : { "name" : "redflask" }, "rarity" : 0.05 },
      { "item" : { "name" : "greenflask" }, "rarity" : 0.05 },
      { "item" : { "name" : "biohazardsign" }, "rarity" : 0.01 },
      { "item" : { "name" : "bigredbutton" }, "rarity" : 0.05, "price" : 180 }
    ]]
  ],
  "uncommon" : [  // Uncommon research equipment, can be sold by any research group.
    [2.5, [
      { "item" : { "name" : "slopedinsetpanel" }, "rarity" : 0.02, "price" : 15 },
      { "item" : { "name" : "slopedglasspanel" }, "rarity" : 0.02, "price" : 15 },
      { "item" : { "name" : "slopedhullpanel" }, "rarity" : 0.01, "price" : 15 },

      { "item" : { "name" : "ct_eds_visor" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_ai_chip" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_testing_ball" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_alta_loot_tier1" }, "rarity" : 0.005, "price" : 600 },
      { "item" : { "name" : "ct_alta_scout_drone", "parameters" : { "preset" : "smart", "shop" : true } }, "rarity" : 0.01 },
      // Objects
      { "item" : { "name" : "hazardmicroscope" }, "rarity" : 0.01, "price" : 220 },
      { "item" : { "name" : "telescope" }, "rarity" : 0.01, "price" : 600 },
      { "item" : { "name" : "seismograph" }, "rarity" : 0.05, "price" : 280 }
    ]]
  ],
  "rare" : [  // Rare research equipment, can be sold by any research group.
    [4.5, [
      { "item" : { "name" : "ct_alta_energy_cell" }, "rarity" : 0.15, "price" : 430 },
      { "item" : { "name" : "ct_alta_watcher_drone", "parameters" : { "preset" : "tech", "shop" : true } }, "rarity" : 0.01 },

      { "item" : { "name" : "ct_alta_loot_tier2" }, "rarity" : 0.005, "price" : 900 },
      { "item" : { "name" : "halogenpack" }, "rarity" : 0.01 },
      // Objects
      { "item" : { "name" : "plasmadisc" }, "rarity" : 0.05, "price" : 200 },
      { "item" : { "name" : "bunkerslidingdoor" }, "rarity" : 0.05 },
      { "item" : { "name" : "symbiotesample" }, "rarity" : 0.05 }
    ]]
  ],
  "legendary" : [  // Legendary research equipment, can be sold by any research group.
    [6.5, [
      { "item" : { "name" : "ct_alta_loot_tier3" }, "rarity" : 0.005, "price" : 1200 },
      { "item" : { "name" : "xenonpack" }, "rarity" : 0.01 },
      { "item" : { "name" : "modernchair" }, "rarity" : 0.05 },
      { "item" : { "name" : "moderntable" }, "rarity" : 0.05 }
    ]]
  ],
  "unique" : [  // Unique research equipment, can be sold by any research group.
    [8.5, [
      { "item" : { "name" : "ct_glowstick_stardust" }, "rarity" : 0.01, "price" : 60 },
      { "item" : { "name" : "ct_alta_loot_tier4" }, "rarity" : 0.005, "price" : 1600 }
    ]]
  ],

  "codex" : [  // 0.14
    [0, [
      { "item" : { "name" : "ct_alta_lab-codex" }, "rarity" : 0.005, "price" : 960 },

      { "item" : { "name" : "ct_alta_lore_1-codex" }, "rarity" : 0.005, "price" : 1600 },
      { "item" : { "name" : "ct_alta_lore_2-codex" }, "rarity" : 0.005, "price" : 1600 },
      { "item" : { "name" : "ct_alta_lore_3-codex" }, "rarity" : 0.005, "price" : 1600 },
      { "item" : { "name" : "ct_alta_lore_4-codex" }, "rarity" : 0.005, "price" : 1600 },

      { "item" : { "name" : "ct_esetera-codex" }, "rarity" : 0.005, "price" : 640 },
      { "item" : { "name" : "ct_antorash-codex" }, "rarity" : 0.005, "price" : 640 },

      { "item" : { "name" : "ct_docs_cen-codex" }, "rarity" : 0.005, "price" : 640 },
      { "item" : { "name" : "ct_docs_datamass-codex" }, "rarity" : 0.005, "price" : 640 },
      { "item" : { "name" : "ct_docs_drones-codex" }, "rarity" : 0.005, "price" : 640 },
      { "item" : { "name" : "ct_docs_energy-codex" }, "rarity" : 0.005, "price" : 640 }
    ]]
  ],



  // FACTIONS

  "tserera" : [
    [0, [
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 0, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 0, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "tserera", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "tserera", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_alta_energy_cell" }, "rarity" : 0.15, "price" : 430 },
      { "item" : { "name" : "ct_alta_visor" }, "rarity" : 0.1, "price" : 1000 },
      { "item" : { "name" : "ct_alta_pod" }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_electric_stim" }, "rarity" : 0.1 },
      { "item" : { "name" : "ct_impulse_stim" }, "rarity" : 0.03 },
      { "item" : { "name" : "ct_plasma_stim" }, "rarity" : 0.03 },
      { "item" : { "name" : "ct_ionic_stim" }, "rarity" : 0.03 },
      { "item" : { "name" : "ct_hevikai_stim", "parameters" : { "preset" : "light", "shop" : true } }, "rarity" : 0.1, "price" : 290 },
      { "item" : { "name" : "ct_force_shielder" }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_kinetic_shield" }, "rarity" : 0.001 },

      { "item" : { "name" : "ct_alta_mini_drone", "parameters" : { "preset" : "kinetic", "shop" : true } }, "rarity" : 0.001, "price" : 240 },
      { "item" : { "name" : "ct_alta_scout_drone", "parameters" : { "preset" : "pastel", "shop" : true } }, "rarity" : 0.0005 },
      { "item" : { "name" : "ct_alta_mini_drone", "parameters" : { "preset" : "staris", "shop" : true } }, "rarity" : 0.0005 },

      { "item" : { "name" : "ct_ceterai_helmet", "parameters" : { "preset" : "astera", "shop" : true } }, "rarity" : 0.04 }
    ]]
  ],

  "arco" : [
    [0, [
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 0, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 0, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "arco", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "arco", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_arco_scanner" }, "rarity" : 0.01 },
      // Added in 2.3.4b
      { "item" : { "name" : "ct_glowstick_calline" }, "rarity" : 0.01, "price" : 40 },
      { "item" : { "name" : "ct_glowstick_yonnur" }, "rarity" : 0.01, "price" : 40 },

      { "item" : { "name" : "ct_arco_shielder" }, "rarity" : 0.04 },
      { "item" : { "name" : "ct_alta_scout_drone", "parameters" : { "preset" : "arco", "shop" : true } }, "rarity" : 0.1 },
      { "item" : { "name" : "ct_arco_augment" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_blockade_augment" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_arco_set" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_kinetic_shield", "parameters" : { "preset" : "orange", "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_arco_chest" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_helmet" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_legwear" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_protector" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_rebreather" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_android_head" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_helmet_mk2" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_arco_pod" }, "rarity" : 0.2 }
    ]]
  ],

  "neiteru" : [
    [0, [
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 4, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 4, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "neiteru", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "neiteru", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_catalyst", "parameters" : { "preset" : "repell", "shop" : true } }, "rarity" : 0.3 },
      { "item" : { "name" : "ct_alta_stalker_droid" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_energy_shielder" }, "rarity" : 0.03 },
      { "item" : { "name" : "ct_vortex_nade" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_ion_javelin" }, "rarity" : 0.02 },
      { "item" : { "name" : "energyjavelin" }, "rarity" : 0.02 },
      // Added in 2.3.4b
      { "item" : { "name" : "ct_glowstick_mical" }, "rarity" : 0.01, "price" : 50 },

      { "item" : { "name" : "ct_combat_mask_mk2", "parameters" : { "preset" : "stardust", "shop" : true } }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_kinetic_shield", "parameters" : { "preset" : "strong", "shop" : true } }, "rarity" : 0.001 },

      { "item" : { "name" : "ct_alta_multi_tool" }, "rarity" : 0.006 },
      { "item" : { "name" : "ct_enchanted_twins" }, "rarity" : 0.004 },
      { "item" : { "name" : "ct_calin_sword" }, "rarity" : 0.004 },
      { "item" : { "name" : "ct_warped_gun" }, "rarity" : 0.004 },
      { "item" : { "name" : "ct_crystalline_sword" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_tsyntex" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_bishyn_gun" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_haven_storm" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_phospholiator" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_meteoblaster" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_soniathrower" }, "rarity" : 0.002 },

      { "item" : { "name" : "ct_tool_mimic", "parameters" : { "preset" : "r_power", "shop" : true } }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_plasmora" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_neoblaster" }, "rarity" : 0.002 },
      // { "item" : { "name" : "ct_ion_collider" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_naghurta" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_magmataur_x" }, "rarity" : 0.002 },
      { "item" : { "name" : "ct_ion_reaper" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_bipolaris" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_entropy" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_tsentarish" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_oni_nerus" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_protospear", "parameters" : { "upgraded" : true, "shop" : true } }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_alta_impulse_rifle_mk2", "parameters" : { "upgraded" : true, "shop" : true } }, "rarity" : 0.001 }
    ]]
  ],

  "miniknog" : [
    [0, [
      { "item" : { "name" : "ct_titanium_dye" }, "rarity" : 0.2 },
      { "item" : { "name" : "apexmission1-codex" }, "rarity" : 0.1, "price" : 480 },
      { "item" : { "name" : "miniknoghead" }, "rarity" : 0.1 },
      { "item" : { "name" : "miniknogchest" }, "rarity" : 0.1 },
      { "item" : { "name" : "miniknogpants" }, "rarity" : 0.1 },
      { "item" : { "name" : "miniknoglauncher" }, "rarity" : 0.05 },
      { "item" : { "name" : "miniknogintel1" }, "rarity" : 0.1, "price" : 640 },
      { "item" : { "name" : "miniknognewspaper" }, "rarity" : 0.1 },
      { "item" : { "name" : "mechbodyminiknog" }, "rarity" : 0.05 },
      { "item" : { "name" : "apexhistory3-codex" }, "rarity" : 0.1, "price" : 280 },
      { "item" : { "name" : "apexhistory4-codex" }, "rarity" : 0.1, "price" : 260 },
      { "item" : { "name" : "apexhistory6-codex" }, "rarity" : 0.1, "price" : 240 },
      { "item" : { "name" : "apexhistory9-codex" }, "rarity" : 0.1, "price" : 220 },
      { "item" : { "name" : "apexmission4-codex" }, "rarity" : 0.1, "price" : 200 },
      { "item" : { "name" : "apexbrainjar" }, "rarity" : 0.1, "price" : 140 },
      { "item" : { "name" : "visorhead" }, "rarity" : 0.1 },
      { "item" : { "name" : "bigapedoll" }, "rarity" : 0.1 },
      { "item" : { "name" : "apexapesign" }, "rarity" : 0.1 },
      { "item" : { "name" : "apextv" }, "rarity" : 0.1 },
      { "item" : { "name" : "minidronerack" }, "rarity" : 0.1, "price" : 640 },
      { "item" : { "name" : "apextv" }, "rarity" : 0.1 },
      { "item" : { "name" : "ct_gheanade", "parameters" : { "preset" : "max", "shop" : true } }, "rarity" : 0.05, "price" : 130 }
    ]]
  ],

  "eds" : [
    [0, [
      { "item" : { "name" : "ct_eds_dye" }, "rarity" : 0.2 },
      { "item" : { "name" : "ct_eds_gardis" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "eds", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "eds", "shop" : true } }, "rarity" : 0.05 },
      // Added in 2.3.4b
      { "item" : { "name" : "ct_glowstick_eds" }, "rarity" : 0.01, "price" : 40 },

      { "item" : { "name" : "ct_gheanade", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "ct_gheanade", "parameters" : { "preset" : "max", "shop" : true } }, "rarity" : 0.05, "price" : 130 }
    ]]
  ],

  "ghearun" : [
    [0, [
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "ghearun", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "ghearun", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_alta_mini_drone", "parameters" : { "preset" : "gheatsyn", "shop" : true } }, "rarity" : 0.1 },
      { "item" : { "name" : "ct_alta_watcher_drone", "parameters" : { "preset" : "gheatsyn", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_gheanade", "parameters" : { "variant" : true, "shop" : true } }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "ct_gheanade", "parameters" : { "preset" : "max", "shop" : true } }, "rarity" : 0.05, "price" : 130 },
      // Added in 2.3.4b
      { "item" : { "name" : "ct_glowstick_gheatsyn" }, "rarity" : 0.01, "price" : 40 },

      { "item" : { "name" : "ct_ghearun_set" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_accumulator_collar" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ghearun_back" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ghearun_chest" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ghearun_helmet" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ghearun_legwear" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_gheablade" }, "rarity" : 0.01 },

      { "item" : { "name" : "ct_gheatsyn_gateway" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatsyn_hatch" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_gheatsyn_console" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_gheatsyn_terminal" }, "rarity" : 0.01 }
    ]]
  ],

  "hevika" : [
    [0, [
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 0, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 0, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "hevika", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "hevika", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_hevika_flare" }, "rarity" : 0.1 },
      { "item" : { "name" : "ct_hevika_javelin" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_hevikai_antidote" }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_hevikai_stim" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_hevika_turret_gun" }, "rarity" : 0.0001 },
      { "item" : { "name" : "ct_hevika_augment" }, "rarity" : 0.0005 },

      { "item" : { "name" : "ct_hevika_console" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_hevika_terminal" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_hevika_hatch" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_hevika_turret" }, "rarity" : 0.02 }
    ]]
  ],

  "ceterai" : [
    [0, [
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "ceterai", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "ceterai", "shop" : true } }, "rarity" : 0.05 },

      { "item" : { "name" : "ct_ceterai_ai_chip" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_ceterai_augment" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_ceterai_set" }, "rarity" : 0.001 },

      { "item" : { "name" : "ct_ceterai_chest" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ceterai_core" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ceterai_helmet" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ceterai_legwear" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ceterai_mindframe" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_ceterai_android_head" }, "rarity" : 0.005 },
      { "item" : { "name" : "ct_mindframe_collar" }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_kinetic_shield", "parameters" : { "preset" : "strong", "shop" : true } }, "rarity" : 0.001 },

      { "item" : { "name" : "ct_ceterai_pod" }, "rarity" : 0.1 }
    ]]
  ],

  "lab" : [
    [0, [  // 0.48
      { "item" : { "name" : "ct_body_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_legs_mimic", "parameters" : { "colorIndex" : 1, "preset" : "archiver", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_coat", "parameters" : { "preset" : "lab", "shop" : true } }, "rarity" : 0.05 },
      { "item" : { "name" : "ct_alta_researcher_skirt", "parameters" : { "preset" : "lab", "shop" : true } }, "rarity" : 0.05 },
      // Added in 2.3.4b
      { "item" : { "name" : "ct_glowstick_bionid" }, "rarity" : 0.01, "price" : 50 },

      { "item" : { "name" : "ct_ionic_drone", "parameters" : { "preset" : "lab", "shop" : true } }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_elite_chest", "parameters" : { "preset" : "lab", "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_arco_legwear", "parameters" : { "preset" : "lab", "shop" : true } }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_security_pack", "parameters" : { "preset" : "lab", "shop" : true } }, "rarity" : 0.01 },

      { "item" : { "name" : "ct_alta_lab_barrier" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_lab_server" }, "rarity" : 0.01 },
      { "item" : { "name" : "ct_alta_lab_terminal" }, "rarity" : 0.01 }
    ]],
    [2.9, [  // 0.50
      { "item" : { "name" : "ct_alta_lab_gateway" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_alta_lab_hatch" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_alta_lab_trapdoor" }, "rarity" : 0.02 },
      { "item" : { "name" : "ct_alta_lab_trapdoor" }, "rarity" : 0.02 }
    ]]
  ],





  "bio" : [
    [0, [
      { "item" : { "name" : "nanowrap" }, "rarity" : 0.5, "price" : 200 },
      { "item" : { "name" : "ct_alta_companion_drone" }, "rarity" : 0.3 },

      // Bones
      { "item" : { "name" : "bone" }, "rarity" : 0.2, "price" : 5 },

      // Cells
      { "item" : { "name" : "cellmatter" }, "rarity" : 1.0, "price" : 10 },
      { "item" : { "name" : "cellchair" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "cellchest" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "celldoor" }, "rarity" : 0.2, "price" : 140 },
      { "item" : { "name" : "celllamp" }, "rarity" : 0.2, "price" : 130 },
      { "item" : { "name" : "celltable" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "dnaplant1" }, "rarity" : 0.3, "price" : 35 },
      { "item" : { "name" : "dnaplant2" }, "rarity" : 0.3, "price" : 30 },
      { "item" : { "name" : "dnaplant3" }, "rarity" : 0.3, "price" : 45 },
      { "item" : { "name" : "dnaplant4" }, "rarity" : 0.3, "price" : 40 },

      // Eyes
      { "item" : { "name" : "eyepiles" }, "rarity" : 0.3, "price" : 5 },
      { "item" : { "name" : "oculemon" }, "rarity" : 0.1, "price" : 220 },
      { "item" : { "name" : "eyebed" }, "rarity" : 0.1, "price" : 150 },
      { "item" : { "name" : "eyechair" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "eyechest" }, "rarity" : 0.1, "price" : 120 },
      { "item" : { "name" : "eyedoor" }, "rarity" : 0.1, "price" : 130 },
      { "item" : { "name" : "eyetable" }, "rarity" : 0.1, "price" : 120 },

      // Flesh
      { "item" : { "name" : "brainsblock" }, "rarity" : 0.05, "price" : 10 },
      { "item" : { "name" : "eyeballback" }, "rarity" : 0.02, "price" : 3200 },
      { "item" : { "name" : "fleshstrand" }, "rarity" : 0.5, "price" : 10 },
      { "item" : { "name" : "fleshblock" }, "rarity" : 0.3, "price" : 5 },
      { "item" : { "name" : "fleshchair" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "fleshchest" }, "rarity" : 0.1, "price" : 120 },
      { "item" : { "name" : "fleshdoor" }, "rarity" : 0.1, "price" : 140 },
      { "item" : { "name" : "fleshlamp" }, "rarity" : 0.1, "price" : 130 },
      { "item" : { "name" : "fleshtable" }, "rarity" : 0.1, "price" : 120 },
      { "item" : { "name" : "fleshbush1" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "fleshbush2" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "fleshbush3" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "fleshbush4" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "fleshbush5" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "fleshbush6" }, "rarity" : 0.02, "price" : 30 }
    ]]
  ],

  "toxic" : [
    [0, [
      { "item" : { "name" : "faceleechhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "waste" }, "rarity" : 0.02, "price" : 10 },
      { "item" : { "name" : "toxicwaste" }, "rarity" : 1.0, "price" : 10 },
      { "item" : { "name" : "toxicflowerback" }, "rarity" : 0.01, "price" : 3500 },
      { "item" : { "name" : "toxicchair" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "toxicchest" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "toxiclamp2" }, "rarity" : 0.2, "price" : 140 },
      { "item" : { "name" : "toxiclamp1" }, "rarity" : 0.2, "price" : 130 },
      { "item" : { "name" : "toxictable" }, "rarity" : 0.2, "price" : 120 }
    ]]
  ],

  "pyro" : [
    [0, [
      { "item" : { "name" : "ct_lava_drone" }, "rarity" : 0.1 },

      { "item" : { "name" : "magmarock" }, "rarity" : 0.02, "price" : 10 },
      { "item" : { "name" : "lavaballoon" }, "rarity" : 1.0, "price" : 10 },
      { "item" : { "name" : "volcanicchest" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "volcanictrap" }, "rarity" : 0.2, "price" : 340 },
      { "item" : { "name" : "smokemachine" }, "rarity" : 0.2, "price" : 360 },

      { "item" : { "name" : "fireboomerang" }, "rarity" : 0.01 }
    ]]
  ],

  "hive" : [
    [0, [
      { "item" : { "name" : "hive" }, "rarity" : 0.02, "price" : 10 },
      { "item" : { "name" : "larva" }, "rarity" : 1.0, "price" : 10 },
      { "item" : { "name" : "hivebed" }, "rarity" : 0.2, "price" : 150 },
      { "item" : { "name" : "hivechair" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "hivechest" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "hivedoor" }, "rarity" : 0.2, "price" : 140 },
      { "item" : { "name" : "hivelamp" }, "rarity" : 0.2, "price" : 130 },
      { "item" : { "name" : "hivetable" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "hivelight2" }, "rarity" : 0.3, "price" : 100 },
      { "item" : { "name" : "hivelight1" }, "rarity" : 0.3, "price" : 100 }
    ]]
  ],

  "geo" : [
    [0, [
      { "item" : { "name" : "oredetector" }, "rarity" : 0.01, "price" : 4000 },
      { "item" : { "name" : "cavedetector" }, "rarity" : 0.01, "price" : 2400 },
      { "item" : { "name" : "platinumdrill" }, "rarity" : 0.01, "price" : 1200 },

      { "item" : { "name" : "blaststone" }, "rarity" : 0.01, "price" : 10 },
      { "item" : { "name" : "gravelmaterial" }, "rarity" : 0.01, "price" : 10 },
      { "item" : { "name" : "rock14" }, "rarity" : 0.01, "price" : 10 },
      { "item" : { "name" : "limestone" }, "rarity" : 0.01, "price" : 10 },
      { "item" : { "name" : "meteoriterock" }, "rarity" : 0.01, "price" : 15 },
      { "item" : { "name" : "obsidian" }, "rarity" : 0.01, "price" : 15 },
      { "item" : { "name" : "crystalblock" }, "rarity" : 0.01, "price" : 10 },
      { "item" : { "name" : "geodeblock" }, "rarity" : 0.05, "price" : 10 },
      { "item" : { "name" : "geodestone" }, "rarity" : 0.05, "price" : 10 },

      { "item" : { "name" : "geode" }, "rarity" : 1.0, "price" : 15 },
      { "item" : { "name" : "geodebed" }, "rarity" : 0.2, "price" : 150 },
      { "item" : { "name" : "geodechair" }, "rarity" : 0.2, "price" : 100 },
      { "item" : { "name" : "geodedoor" }, "rarity" : 0.2, "price" : 140 },
      { "item" : { "name" : "geodeceilinglight" }, "rarity" : 0.2, "price" : 130 },
      { "item" : { "name" : "geodeplantpot" }, "rarity" : 0.2, "price" : 120 },
      { "item" : { "name" : "geodebnote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodecnote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodednote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodeenote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodefnote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodegnote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodehighanote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodelowanote" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "geodebluesample" }, "rarity" : 0.01, "price" : 1500 },
      { "item" : { "name" : "geodegreensample" }, "rarity" : 0.01, "price" : 1500 },
      { "item" : { "name" : "geodeorangesample" }, "rarity" : 0.01, "price" : 1500 },
      { "item" : { "name" : "geodepurplesample" }, "rarity" : 0.01, "price" : 1500 },
      { "item" : { "name" : "geoderedsample" }, "rarity" : 0.01, "price" : 1500 },
      { "item" : { "name" : "geodeyellowsample" }, "rarity" : 0.01, "price" : 1500 }
    ]]
  ],

  "aqua" : [
    [0, [
      // Corals
      { "item" : { "name" : "coralfragment" }, "rarity" : 1.0, "price" : 10 },
      { "item" : { "name" : "embercoral1" }, "rarity" : 0.1, "price" : 55 },
      { "item" : { "name" : "embercoral2" }, "rarity" : 0.1, "price" : 40 },
      { "item" : { "name" : "embercoral3" }, "rarity" : 0.1, "price" : 45 },
      { "item" : { "name" : "embercoral4" }, "rarity" : 0.1, "price" : 50 },

      // Shrooms
      { "item" : { "name" : "oshroom1" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "oshroom2" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "oshroom3" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "oshroom4" }, "rarity" : 0.02, "price" : 30 },
      { "item" : { "name" : "oshroom5" }, "rarity" : 0.02, "price" : 30 },

      { "item" : { "name" : "sensorysquidhathead" }, "rarity" : 0.05 },
      { "item" : { "name" : "glowvinelamp" }, "rarity" : 0.1, "price" : 100 },
      { "item" : { "name" : "seashellshield" }, "rarity" : 0.01, "price" : 880 },
      { "item" : { "name" : "ct_barracuda_fin", "parameters" : { "upgraded" : true, "shop" : true } }, "rarity" : 0.001 },
      { "item" : { "name" : "ct_tool_mimic", "parameters" : { "preset" : "horn", "upgraded" : true, "shop" : true } }, "rarity" : 0.001 }
    ]]
  ],

  "aric" : [
    [0, [
      { "item" : { "name" : "pinkeyeparasitehead" }, "rarity" : 0.05 },
      { "item" : { "name" : "evilmushroomhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "mushroomshield" }, "rarity" : 0.01, "price" : 800 },
      { "item" : { "name" : "shroomblock" }, "rarity" : 0.02, "price" : 10 },
      { "item" : { "name" : "bioshroomtable" }, "rarity" : 0.1, "price" : 160 }
    ]]
  ],

  "alien" : [
    [0, [
      { "item" : { "name" : "jellyblock" }, "rarity" : 0.02, "price" : 10 },
      { "item" : { "name" : "alienstripedwood" }, "rarity" : 0.05, "price" : 10 },
      { "item" : { "name" : "alienrock" }, "rarity" : 0.05, "price" : 10 },
      { "item" : { "name" : "alienskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "eyehead" }, "rarity" : 0.05 },
      { "item" : { "name" : "causticstaghead" }, "rarity" : 0.05 },
      { "item" : { "name" : "symbiotehead" }, "rarity" : 0.05 }
    ]]
  ],

  "glow" : [
    [0, [
      { "item" : { "name" : "biorock" }, "rarity" : 0.05, "price" : 10 },
      { "item" : { "name" : "biorock2" }, "rarity" : 0.05, "price" : 10 },
      { "item" : { "name" : "ct_glowstick_ceterteal" }, "rarity" : 0.2 },
      { "item" : { "name" : "ct_glowstick_omniblue" }, "rarity" : 0.2 },
      { "item" : { "name" : "ct_glowstick_ionic" }, "rarity" : 0.2 },
      { "item" : { "name" : "lighthelmhead" }, "rarity" : 0.05 }
    ]]
  ],

  "crystal" : [
    [0, [
      { "item" : { "name" : "ct_alta_crystals-codex" }, "rarity" : 0.05 },
      { "item" : { "name" : "crystalbackpackback" }, "rarity" : 0.05 }
    ]]
  ],

  "fossil" : [
    [0, [
      { "item" : { "name" : "fossilbrushstudent" }, "rarity" : 0.05, "price" : 1000 },
      { "item" : { "name" : "jeffback" }, "rarity" : 0.05 },
      { "item" : { "name" : "bonewingsback" }, "rarity" : 0.05 },
      { "item" : { "name" : "avianskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "apexskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "floranskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "humanskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "hylotlskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "glitchskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "goathead" }, "rarity" : 0.05 },
      { "item" : { "name" : "alienskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "dreadfulskullhead" }, "rarity" : 0.05 },
      { "item" : { "name" : "rustyskul" }, "rarity" : 0.05 }
    ]]
  ],





  "astro" : [
    [0, [
      { "item" : { "name" : "astrochair" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrotable" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrolight" }, "rarity" : 0.02 },
      { "item" : { "name" : "astroceilingmonitor" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrocabinet" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrocrate" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrodoor" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrostoragelocker" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrowallpanel" }, "rarity" : 0.02 },
      { "item" : { "name" : "astrovent" }, "rarity" : 0.02 },
      { "item" : { "name" : "astromonitor" }, "rarity" : 0.02 },
      { "item" : { "name" : "astroserver" }, "rarity" : 0.02 },
      { "item" : { "name" : "astroconsole" }, "rarity" : 0.02 }
    ]]
  ]
}
